---
import Layout from "@/layouts/Layout";

import { getCollection } from "astro:content";
import { getBuildImage } from "@/functions/Image";

import BuildFilter from "@/components/builds/BuildFilter";
import Build from "@/components/content/snippets/Build";
import Container from "@/components/Container";
import Pagination from "@/components/Pagination";
import Picture from "@/components/images/Picture";

// content
export async function getStaticPaths({ paginate }) {
    const allModels = await getCollection("models", ({ data }) => {
    return !data.draft;
});
    const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    return allModels.flatMap((model) => {
        const filteredBuilds = allBuilds.filter((build) => build.data.meta.make.id === model.data.make.id && build.data.meta.model.id == model.id);

        return paginate(filteredBuilds, {
            params: { make: model.data.make.id, model: model.id },
            props: { model },
            pageSize: 6,
        });
    });
}
const { page, model } = Astro.props;
---

<Layout>
    <Picture src={getBuildImage(model.data.images.featured.id.id, model.data.images.featured.image)} loading="eager" class="w-full h-[25em] object-cover" />

    <div class="-mt-20 bg-neutral-50 pb-8">
        <Container padding={true}>
            <div class="grid grid-cols-10 sm:gap-4">
                <!-- black content area -->
                <div class="bg-black col-span-10 lg:col-span-6 text-white box-spacing space-y-8">
                    <div class="space-y-8">
                        <h1>{model.data.title} Builds</h1>
                        <p class="text-base">{model.data.description.short}</p>
                    </div>
                </div>
            </div>
        </Container>
    </div>

    <div class="bg-neutral-50">
        <Container>
            <div class="space-y-8">
                <div class="grid grid-cols-1 md:grid-cols-2 justify-between items-center gap-4">
                    <BuildFilter />

                    <div class="text-xs justify-self-center md:justify-self-end">Showing {page.total} Builds</div>
                </div>

                <div class="grid grid-cols-3 gap-8">
                    {page.data.map((b) => <Build build={b} sizes="(min-width:640px) 50vw, (min-width:1024px) 25vw, (min-width:1280px) 300px, 100vw" height="h-[15em]" />)}
                </div>

                <div class="flex justify-between items-center">
                    <div class="text-xs">
                        Page {page.currentPage} of {page.lastPage}
                    </div>

                    <Pagination page={page} />
                </div>
            </div>
        </Container>
    </div>
</Layout>
