---
import Layout from "@/layouts/Layout";

import { getCollection } from "astro:content";

import BuildFilter from "@/components/builds/BuildFilter";
import Build from "@/components/content/snippets/Build";
import Container from "@/components/Container";
import Pagination from "@/components/Pagination";
import Picture from "@/components/images/Picture";

// content
export async function getStaticPaths({ paginate }) {
    const allModels = await getCollection("models", ({ data }) => {
        return !data.draft;
    });
    const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    return allModels.flatMap((model) => {
        const filteredBuilds = allBuilds.filter((build) => build.data.meta.make.id === model.data.make.id && build.data.meta.model.id == model.id);

        return paginate(filteredBuilds, {
            params: { make: model.data.make.id, model: model.data.slug },
            props: { model },
            pageSize: 6,
        });
    });
}
const { page, model } = Astro.props;
---

<Layout>
    <Picture src="shop/2022-12-05/shop-shoot_16.jpg" alt="THOR Off-Road installing Carli off-road parts" loading="eager" class="w-full h-[25em] object-cover" />

    <div class="-mt-20 bg-neutral-50 pb-8">
        <Container padding={true}>
            <div class="grid grid-cols-10 sm:gap-4">
                <!-- black content area -->
                <div class="bg-black col-span-10 lg:col-span-6 text-white box-spacing space-y-8">
                    <div class="space-y-8">
                        <h1>{model.data.title} Builds</h1>
                    </div>
                </div>
            </div>
        </Container>
    </div>

    <div class="section section-bottom bg-neutral-50">
        <Container>
            <div class="space-y-8">
                <div class="grid grid-cols-1 md:grid-cols-2 justify-between items-center gap-4">
                    <BuildFilter />

                    <div class="text-xs justify-self-center md:justify-self-end">Showing {page.total} Builds</div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                    {page.data.map((b) => <Build build={b} sizes="(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw" />)}
                </div>

                <div class="flex flex-col-reverse sm:flex-row justify-between items-center gap-4 sm:gap-0">
                    <div class="text-xs">
                        Page {page.currentPage} of {page.lastPage}
                    </div>

                    <Pagination page={page} />
                </div>
            </div>
        </Container>
    </div>
</Layout>
