---
// components
import { Image } from "@astrojs/image/components";
import Photo from "@/components/images/Photo";

// functions
import { getImage } from "@/functions/Media";

// props
export interface Props {
    images: any;
    galleryClasses?: string;
    imageClasses?: string;
    thumbnailWidth?: number;
    thumbnailHeight?: number;
}
const { images, galleryClasses, imageClasses, thumbnailWidth = 500, thumbnailHeight = 500 } = Astro.props as Props;

// array to hold the data
const metadata = [];
// async map to get image data
await Promise.all(
    images.map((i) => {
        let imageData = getImage(i);
        metadata.push(imageData);
    })
);
---

<div x-data="gallery()" class={galleryClasses}>
    <!-- thumbnail -->
    {
        metadata.map((i) => (
            <a x-on:click.prevent="open" href={i.src} data-title={i.title} data-description={i.description} data-alt={i.alt}>
                <Image src={i.src} alt={i.alt} height={thumbnailHeight} width={thumbnailWidth} class={imageClasses} />
            </a>
        ))
    }

    <!-- modal -->
    <div
        style="display: none"
        x-show="isOpen()"
        x-transition:enter="transition ease-in-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:leave="transition ease-in-in duration-300"
        x-transition:leave-end="opacity-0"
        x-on:click="close"
        x-on:keydown.window.escape="close"
        class="z-50 fixed inset-0 bg-black bg-opacity-80 flex justify-center items-center"
    >
        <figure class="flex flex-col gap-4 justify-center items-center w-full h-full px-8 py-16">
            <img
                class="max-w-full max-h-full rounded-sm"
                x-show="isOpen()"
                x-transition:enter="transition ease-in-out duration-300"
                x-transition:enter-start="opacity-0 transform scale-50"
                x-transition:leave="transition ease-in-in duration-300"
                x-transition:leave-end="opacity-0 transform scale-50"
                x-bind:src="imageUrl"
                x-bind:alt="imageAlt"
            />

            <figcaption class="flex flex-col gap-1 items-center">
                <p x-text="imageTitle" class="font-semibold text-white text-center"></p>
                <p x-text="imageDescription" class="font-light text-sm text-white text-center"></p>
            </figcaption>
        </figure>
    </div>
</div>

<script is:inline>
    function gallery() {
        return {
            show: false,
            imageUrl: null,
            imageTitle: null,
            imageDescription: null,
            imageAlt: null,

            isOpen() {
                return this.show;
            },

            open($event) {
                this.imageUrl = $event.target.parentNode.href;
                this.imageTitle = $event.target.parentNode.dataset.title;
                this.imageDescription = $event.target.parentNode.dataset.description;
                this.imageAlt = $event.target.parentNode.dataset.alt;
                this.show = true;
            },

            close() {
                this.show = false;
                // Clear the active image URL after the image closed
                setTimeout(() => ((this.imageUrl = null), (this.imageTitle = null), (this.imageDescription = null), (this.imageAlt = null)), 300);
            },
        };
    }
</script>
