---
// components
import { Image } from "@astrojs/image/components";

// props
export interface Props {
    images: any;
    selector: string;
    classes?: string;
}
const { images, selector, classes } = Astro.props as Props;
---

<div x-data={`{imgModal: false, imgModalSrc: "", imgModalDesc: "", imgModalTitle: ""}`}>
    <template
        @img-modal.window={`imgModal = true; imgModalSrc = $event.detail.imgModalSrc; imgModalDesc = $event.detail.imgModalDesc; imgModalTitle = $event.detail.imgModalTitle;`}
        x-if={`imgModal`}
    >
        <div
            x-on:click={`imgModal = false`}
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="opacity-100 transform scale-100"
            x-transition:leave-end="opacity-0 transform scale-90"
            class="fixed w-full h-full inset-0 z-50 overflow-hidden flex justify-center items-center bg-black bg-opacity-75"
        >
            <div class="flex flex-col gap-4 h-[80vh] w-[80vw] items-center justify-center">
                <img class="w-full h-auto max-w-full max-h-full object-contain rounded-sm shadow-2xl" x-bind:src={`imgModalSrc`} />
                <div class="flex flex-col items-center">
                    <p x-text={"imgModalTitle"} class="font-semibold text-white text-center"></p>
                    <p x-text={"imgModalDesc"} class="font-light text-sm text-white text-center"></p>
                </div>
            </div>
        </div>
    </template>
</div>

<div x-data={`{}`} class="flex flex-wrap gap-3">
    {
        images.map((i) => (
            <div class="gallery group relative h-[500px] flex-grow overflow-hidden">
                <a
                    class="relative"
                    x-on:click={`$dispatch('img-modal', { imgModalSrc: '${i.src}', imgModalDesc: '${i.description}', imgModalTitle: '${i.title}' })`}
                >
                    <div class="absolute z-10 h-full w-full bg-gradient-to-tr from-stone-800/80 via-transparent to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
                    <Image
                        src={i.src}
                        alt={i.alt}
                        width={1000}
                        aspectRatio={i.aspectRatio}
                        class="h-full w-full rounded-sm object-cover duration-500 group-hover:scale-[103%]"
                    />
                    <div class="line-clamp-1 absolute bottom-3 left-3 z-20 rounded-sm bg-stone-700 bg-opacity-50 p-2 text-sm font-bold text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        {i.title}
                    </div>
                </a>
            </div>
        ))
    }
</div>

<style>
    .gallery::after {
        content: "";
        flex-grow: 999;
    }
</style>
