---
// components
import { Image } from "@astrojs/image/components";

// functions
import { getImage } from "@/functions/Media";

// props
export interface Props {
    images: any;
}
const { images } = Astro.props as Props;

// array to hold the data
const metadata = [];
// async map to get image data
await Promise.all(
    images.map((i) => {
        let imageData = getImage(i);
        metadata.push(imageData);
    })
);
---

<div x-data={`{imgModal: false, imgModalSrc: "", imgModalDesc: "", imgModalTitle: ""}`}>
    <template
        @img-modal.window={`imgModal = true; imgModalSrc = $event.detail.imgModalSrc; imgModalDesc = $event.detail.imgModalDesc; imgModalTitle = $event.detail.imgModalTitle;`}
        x-if={`imgModal`}
    >
        <div
            x-on:click={`imgModal = false`}
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform scale-90"
            x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="opacity-100 transform scale-100"
            x-transition:leave-end="opacity-0 transform scale-90"
            class="fixed z-50 inset-0 bg-black bg-opacity-75"
        >
            <figure class="flex flex-col gap-4 justify-center items-center w-full h-full p-20">
                <img class="max-w-full max-h-full rounded-sm" x-bind:src={`imgModalSrc`} />
                <figcaption class="flex flex-col gap-1 items-center">
                    <p x-text={"imgModalTitle"} class="font-semibold text-white text-center"></p>
                    <p x-text={"imgModalDesc"} class="font-light text-sm text-white text-center"></p>
                </figcaption>
            </figure>
        </div>
    </template>
</div>

<div x-data={`{}`} class="grid grid-cols-3 gap-6">
    {
        metadata.map((m) => (
            <a
                class="relative h-[40rem] overflow-hidden"
                x-on:click={`$dispatch('img-modal', { imgModalSrc: '${m.src}', imgModalDesc: '${m.description}', imgModalTitle: '${m.title}' })`}
            >
                <Image
                    src={m.src}
                    alt={m.alt}
                    width={1000}
                    aspectRatio={m.aspectRatio}
                    class="h-full w-full rounded-sm object-cover duration-300 hover:scale-105"
                />
            </a>
        ))
    }
</div>
