---
// functions
//import { getMetadata } from "@/functions/Media";

// props
export interface Props {
    image: string;
    classes?: string;
}
const { image, classes } = Astro.props as Props;

//const metadata = await getMetadata(image);
---

<!-- <a href={image} class={classes}>
    <img src={image} width={metadata.width} height={metadata.height} class={classes} />
</a> -->
