---
import { Image } from "@astrojs/image/components";

// props
export interface Props {
    image: object;
    width: number;
    classes?: string;
}
const { image, width = 500, classes } = Astro.props as Props;
---

<a
    href={image.src}
    data-img={image.src}
    data-alt={image.description}
    data-height={image.height}
    data-width={image.width}
    data-caption={image.description}
    class="object-cover"
>
    <Image src={image.src} class:list={[classes]} width={width} aspectRatio={image.aspectRatio} alt={image.alt} />
</a>
