---
// imports
import { getCollection, getEntry } from "astro:content";

// props
interface Props {
	src: string;
	divClass?: string;
	imgClass?: string;
	metadata?: boolean;
	lazy?: boolean;
	sizes?: string;
	quality?: number;
}
const { src, divClass, imgClass, metadata = false, lazy = true, sizes = "100vw", ...attrs } = Astro.props;

const imageSizes = [4000, 3500, 3000, 2500, 2000, 1800, 1500, 1200, 1000, 800, 600, 500, 400, 300, 200];

// content
// image details
const imageName = src.replace("https://cdn.cosmicjs.com/", "");

// get image data
const imageMetadata = await getEntry("media", imageName);
const buildMetadata = metadata && (await getEntry("builds", imageMetadata.data.name.split("_", 1)[0]));

// loop through all the necessary image widths
const imageOptimized = [];
for (let size of imageSizes) {
	imageOptimized.push(`${imageMetadata.data.imgix_url}?w=${size}&auto=format ${size}w`);
}
const imageSrcSet = imageOptimized.join(", ");
---

{
	metadata ? (
		<div class:list={[divClass, "w-full h-full flex flex-col gap-y-3 @container"]}>
			<img
				srcset={imageSrcSet}
				src={`${imageMetadata.data.imgix_url}?auto=format`}
				alt={imageMetadata.data.alt}
				width={imageMetadata.data.width}
				height={imageMetadata.data.height}
				data-img={imageSrcSet}
				data-width={imageMetadata.data.width}
				data-height={imageMetadata.data.height}
				data-caption={imageMetadata.data.alt}
				sizes={sizes}
				{...attrs}
				loading={lazy ? "lazy" : "eager"}
			/>
			{buildMetadata && (
				<div class="flex justify-between gap-x-4">
					<a href={`/builds/${buildMetadata.id}`} class="text-center mx-auto @md:mx-0 @md:text-left text-xs @md:text-sm line-clamp-1">
						{buildMetadata.data.title}
					</a>

					<div class="hidden @md:block">
						<a href={`/builds/${buildMetadata.id}`} class="font-semibold">
							View Build
						</a>
					</div>
				</div>
			)}
		</div>
	) : (
		<img
			srcset={imageSrcSet}
			src={`${imageMetadata.data.imgix_url}?auto=format`}
			alt={imageMetadata.data.alt}
			width={imageMetadata.data.width}
			height={imageMetadata.data.height}
			data-img={imageSrcSet}
			data-width={imageMetadata.data.width}
			data-height={imageMetadata.data.height}
			data-caption={imageMetadata.data.alt}
			sizes={sizes}
			{...attrs}
			loading={lazy ? "lazy" : "eager"}
		/>
	)
}
