---
// components
import { Icon } from "astro-icon";

export interface Props {
    name: string;
    target: string;
    url: string;
}
const { name, target, url } = Astro.props as Props;
---

<div x-data={`{ ${target} : false }`} class="space-y-4">
    <!-- heading -->
    <div class="flex justify-between items-center" x-on:click={`${target} = !${target}`}>
        <h4 class="text-3xl text-black">{name}</h4>

        <!-- minus plus -->
        <Icon name="bi:plus" class="w-5 text-black" x-show={`!${target}`} />
        <Icon name="bi:dash" class="w-5 text-black" x-show={`${target}`} />
    </div>

    <!-- menu -->
    <div class="space-y-3" x-show={`${target}`}>
        <slot />
    </div>
</div>
