---
// components
import { Icon } from "astro-icon";
import Accordion from "@/components/navigation/menus/Accordion";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";

// content
import { getCollection } from "astro:content";

// data
import { business, social } from "@/src/config.mjs";

const allVehicleMakes = await getCollection("vehicles");
const allParts = await getCollection("parts");
---

<div class="fixed inset-0 top-[97px] z-50 w-full overflow-y-scroll border-t border-stone-300 bg-stone-100" x-on:click.outside={"flyout = false"}>
    <Container>
        <div class="space-y-12 py-8">
            <!-- links -->
            <div class="space-y-4">
                <!-- vehicles -->
                <Accordion name="Vehicles" target="vehiclesAccordion">
                    {
                        allVehicleMakes.map((v) => (
                            <div class="grid grid-cols-4 gap-2">
                                <a href={`/vehicles/${v.slug}`} class="col-span-3 ml-3">
                                    <div class="font-medium">{v.data.title}</div>
                                    <p class="font-stone-600 text-xs font-light">{v.data.heading}</p>
                                </a>
                            </div>
                        ))
                    }
                </Accordion>

                <Accordion name="Parts" target="partsAccordion">
                    {
                        allParts.map((p) => (
                            <div class="grid grid-cols-4 gap-2">
                                <a href={`/parts/${p.slug}`} class="col-span-3 ml-3">
                                    <div class="font-medium">{p.data.title}</div>
                                    <p class="font-stone-600 line-clamp-1 text-xs font-light">
                                        {p.data.brands.map((p, index) => (index ? ", " : "") + p.title)}
                                    </p>
                                </a>
                            </div>
                        ))
                    }
                </Accordion>

                <!-- other links -->
                <h4 class="text-3xl text-black">
                    <a href="/gallery" title="THOR Off-Road Gallery">Gallery</a>
                </h4>
                <h4 class="text-3xl text-black">Social Feed</h4>
            </div>

            <!-- cta buttons -->
            <div class="flex flex-col gap-2 sm:flex-row">
                <Button text={business.phone} href={`tel:${business.phone}`} classes="w-full sm:w-fit">
                    <Icon name="bi:telephone" class="w-3 h-auto" />
                </Button>

                <Button text="Contact Us" href="/contact" theme="btn-secondary" classes="w-full sm:w-fit">
                    <Icon name="bi:envelope" class="w-3 h-auto" />
                </Button>
            </div>

            <!-- social icons -->
            <div class="flex justify-around gap-6">
                {
                    social.map((social) => (
                        <a href={social.url} target="_blank" title={`${business.name_long} ${social.title}`}>
                            <Icon name={social.icon} class="h-auto w-5 text-stone-700" />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
