---
// components
import { Icon } from "astro-icon";
import Accordion from "@/components/navigation/menus/Accordion";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";

// data
import { business, social } from "@/data/business";

// page data
const vehicles = await Astro.glob("../../../pages/vehicles/*.astro");
---

<div class="fixed top-[90px] inset-0 z-50 w-full overflow-y-scroll bg-tan-200" x-on:click.outside={"flyout = false"}>
    <Container>
        <div class="py-12 space-y-12">
            <!-- links -->
            <div class="space-y-4">
                <!-- vehicles -->
                <Accordion name="Vehicles" target="vehiclesAccordion">
                    {
                        vehicles.map((v) => (
                            <div class="grid grid-cols-4 gap-2">
                                <a href={v.url} class="col-span-3 ml-3">
                                    <div class="font-medium">{v.content.make}</div>
                                    <p class="text-xs font-light">{v.content.models.map((l, index) => (index ? ", " : "") + l)}</p>
                                </a>
                            </div>
                        ))
                    }
                </Accordion>

                <!-- parts -->
                <!-- <Accordion name="Parts" target="partsAccordion">
                    {
                        parts.map((p) => (
                            <div class="grid grid-cols-4 gap-2">
                                <a href={p.url} class="col-span-3 ml-3">
                                    <div class="font-medium">{p.name}</div>
                                    <p class="text-xs font-light">{p.listing.map((l, index) => (index ? ", " : "") + l)}</p>
                                </a>
                            </div>
                        ))
                    }
                </Accordion> -->

                <!-- other links -->
                <h4 class="text-3xl text-black">Gallery</h4>
                <h4 class="text-3xl text-black">Social Feed</h4>
            </div>

            <!-- cta buttons -->
            <div class="flex flex-col sm:flex-row gap-2">
                <Button text="Contact Us" url="/contact" theme="btn-secondary" classes="w-full sm:w-fit">
                    <Icon name="bi:envelope" class="w-3 h-auto" />
                </Button>

                <Button text={business.phone} url="/contact" classes="w-full sm:w-fit">
                    <Icon name="bi:telephone" class="w-3 h-auto" />
                </Button>
            </div>

            <!-- social icons -->
            <div class="flex gap-6 justify-around">
                {
                    social.map((social) => (
                        <a href={social.url} target="_blank" title={`${business.name_long} ${social.title}`}>
                            <Icon name={social.icon} class="h-auto w-5 text-neutral-700" />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
