---
// components
import { Icon } from "astro-icon";
import Accordion from "@/components/navigation/menus/Accordion";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";

// data
import { business, social } from "@/src/config";

// page data
const vehicles = await Astro.glob("../../../data/vehicles/*.json");
const parts = await Astro.glob("../../../data/parts/*.json");
---

<div class="fixed top-[97px] inset-0 z-50 w-full overflow-y-scroll bg-stone-100 border-t border-stone-300" x-on:click.outside={"flyout = false"}>
    <Container>
        <div class="py-8 space-y-12">
            <!-- links -->
            <div class="space-y-4">
                <!-- vehicles -->
                <Accordion name="Vehicles" target="vehiclesAccordion">
                    {
                        vehicles.map((v) => (
                            <div class="grid grid-cols-4 gap-2">
                                <a href={`/vehicles/${v.slug}`} class="col-span-3 ml-3">
                                    <div class="font-medium">{v.title}</div>
                                    <p class="font-stone-600 text-xs font-light">{v.models.map((l, index) => (index ? ", " : "") + l.title)}</p>
                                </a>
                            </div>
                        ))
                    }
                </Accordion>

                <Accordion name="Parts" target="partsAccordion">
                    {
                        parts.map((p) => (
                            <div class="grid grid-cols-4 gap-2">
                                <a href={p.slug} class="col-span-3 ml-3">
                                    <div class="font-medium">{p.title}</div>
                                    <p class="line-clamp-1 font-stone-600 text-xs font-light">
                                        {p.brands.map((p, index) => (index ? ", " : "") + p.title)}
                                    </p>
                                </a>
                            </div>
                        ))
                    }
                </Accordion>

                <!-- other links -->
                <a href="/gallery" title="THOR Off-Road Gallery"><h4 class="text-3xl text-black">Gallery</h4></a>
                <h4 class="text-3xl text-black">Social Feed</h4>
            </div>

            <!-- cta buttons -->
            <div class="flex flex-col sm:flex-row gap-2">
                <Button text={business.phone} href={`tel:${business.phone}`} classes="w-full sm:w-fit">
                    <Icon name="bi:telephone" class="w-3 h-auto" />
                </Button>

                <Button text="Contact Us" href="/contact" theme="btn-secondary" classes="w-full sm:w-fit">
                    <Icon name="bi:envelope" class="w-3 h-auto" />
                </Button>
            </div>

            <!-- social icons -->
            <div class="flex gap-6 justify-around">
                {
                    social.map((social) => (
                        <a href={social.url} target="_blank" title={`${business.name_long} ${social.title}`}>
                            <Icon name={social.icon} class="h-auto w-5 text-stone-700" />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
