---
// imports
import { Business } from "@/config";

import Icon from "@/components/Icon";

// content
import { getCollection } from "astro:content";
const allParts = await getCollection("parts");
const allMakes = await getCollection("makes");
const allModels = await getCollection("models");
---

<div class="lg:hidden" role="dialog" aria-modal="true" aria-label="Mobile Navigation">
    <!-- transparent background -->
    <div
        class="fixed inset-0 z-10 bg-stone-900/90"
        x-show="mobileMenu"
        x-cloak
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0">
    </div>

    <!-- menu -->
    <div
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-8 sm:max-w-sm sm:ring-1 sm:ring-stone-900/10"
        x-cloak
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-100"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0"
        x-show="mobileMenu">
        <div class="flex items-center justify-between">
            <a href="/" title={Business.nameLong}>
                <span class="sr-only">{Business.nameLong}</span>

                <Icon icon="logo" class="h-8 lg:h-10 w-auto text-black" />
            </a>

            <!-- close -->
            <button type="button" class="text-stone-70 cursor-pointer" x-on:click={`mobileMenu = false`}>
                <span class="sr-only">Close menu</span>

                <Icon icon="hero/X" class="h-6 w-6" />
            </button>
        </div>

        <div class="flow-root">
            <div class="divide-y divide-stone-500/10">
                <div class="space-y-2 py-6">
                    <div class="-mx-3" x-data={`{ expandVehicles : false }`}>
                        <div class="flex w-full items-center justify-between rounded py-2 pl-3 pr-3.5 text-lg font-semibold leading-7" x-bind:class={`expandVehicles && 'bg-stone-100'`}>
                            <a href="/vehicles">Vehicles</a>

                            <button x-on:click={`expandVehicles = !expandVehicles`}>
                                <Icon icon="hero/ChevronUp" class="h-4 w-4 flex-none transition" x-bind:class={`expandVehicles ? 'rotate-180' : ''`} />
                            </button>
                        </div>

                        <div
                            class="mt-2 transition divide divide-stone-900"
                            id="disclosure-1"
                            x-show={`expandVehicles`}
                            x-cloak
                            x-transition:enter="transition ease-out duration-300"
                            x-transition:enter-start="opacity-0"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-100"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0">
                            {
                                allMakes.map((m) => (
                                    <a href={`/vehicles/${m.id}`} class="block py-2 pl-6 pr-3 text-base font-semibold leading-7 text-black">
                                        {m.data.title}

                                        <ul class="comma-list line-clamp-1 text-xs font-light text-black">
                                            {allModels.map((i) => {
                                                if (i.data.make.id.includes(m.id)) {
                                                    return <li>{i.data.title}</li>;
                                                }
                                            })}
                                        </ul>
                                    </a>
                                ))
                            }
                        </div>
                    </div>

                    <div class="-mx-3" x-data={`{ expandParts : false }`}>
                        <div class="flex w-full items-center justify-between rounded py-2 pl-3 pr-3.5 text-lg font-semibold leading-7" x-bind:class={`expandParts && 'bg-stone-100'`}>
                            <a href="/parts">Parts</a>
                            <button x-on:click={`expandParts = !expandParts`}>
                                <Icon icon="hero/ChevronUp" class="h-4 w-4 flex-none transition" x-bind:class={`expandParts ? 'rotate-180' : ''`} />
                            </button>
                        </div>

                        <!-- 'Product' sub-menu, show/hide based on menu state. --->
                        <div
                            class="mt-2 space-y-2 transition"
                            id="disclosure-2"
                            x-show={`expandParts`}
                            x-cloak
                            x-transition:enter="transition ease-out duration-300"
                            x-transition:enter-start="opacity-0"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-100"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0">
                            {
                                allParts.map((p) => (
                                    <a href={`/parts/${p.slug}`} class="block py-2 pl-6 pr-3 text-base font-semibold leading-7 text-stone-900">
                                        {p.data.title}

                                        <ul class="comma-list line-clamp-1 text-xs font-light text-stone-500">
                                            {p.data.content.parts.map((i) => (
                                                <li>{i.title}</li>
                                            ))}
                                        </ul>
                                    </a>
                                ))
                            }
                        </div>
                    </div>
                    <div class="-mx-3">
                        <a href="/builds" class="flex w-full items-center justify-between py-2 pl-3 pr-3.5 text-lg font-semibold leading-7">Builds</a>
                    </div>
                    <div class="-mx-3">
                        <a href="/about" class="flex w-full items-center justify-between py-2 pl-3 pr-3.5 text-lg font-semibold leading-7">About</a>
                    </div>
                </div>

                <div class="flex flex-col gap-4 py-6">
                    <a href="/contact" class="button button-secondary !w-full">
                        <div class="button-icon">
                            <Icon icon="hero/EnvelopeFill" class="h-2/5 w-auto" />
                        </div>
                        <div class="button-text">Contact Us</div>
                    </a>

                    <a href={`tel:${Business.phone.number}`} class="button button-primary !w-full">
                        <div class="button-icon">
                            <Icon icon="hero/PhoneFill" class="h-2/5 w-auto" />
                        </div>
                        <div class="button-text">{Business.phone.formatted}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
