---
// props
// props
interface Props {
    build: any;
    sizes?: string;
}
const { build, sizes = "100vw" } = Astro.props;

// components
import Picture from "../images/Picture.astro";

// config
import { Business } from "../../config";

// date
import { timeAgo } from "../../functions/DateTime.js";
// images
import { getBuildImage } from "../../functions/Image";
---

<a href={`/builds/${build.slug}`} title={`${build.data.year} ${build.data.make} ${build.data.model} built by ${Business.nameLong}`}>
    <Picture src={getBuildImage(build.data.id, build.data.featuredImage)} sizes="500px" alt={`${build.data.year} ${build.data.make} ${build.data.model} built by ${Business.nameLong}`} class="object-cover aspect-[3/2] rounded-md" sizes={sizes} />

    <div class="p-4 rounded-md bg-white -mt-6 relative w-5/6 mx-auto">
        <h5 class="text-neutral-800 font-semibold">{build.data.year} {build.data.make} {build.data.model}</h5>
        <div class="flex justify-between">
            <p class="text-base leading-7 text-neutral-400">{build.data.trim}</p>
            <p class="text-base leading-7 text-neutral-400">{timeAgo(build.data.date)}</p>
        </div>
    </div>
</a>
