---
// imports
import { Business } from "@/config";
import { getBuildImage } from "@/functions/Image";
import { timeAgo } from "@/functions/DateTime";

import Picture from "@/components/images/Picture";

// props
interface Props {
    build: any;
    height?: string;
    pad?: boolean;
    sizes?: string;
    description?: boolean;
    classes?: string;
}
const { build, height = "h-[25em]", pad = false, sizes = "100vw", description = true, classes } = Astro.props;
---

<a href={`/builds/${build.slug}`} class:list={[classes, pad ? "bg-white space-y-0" : "space-y-4"]}>
    <Picture src={getBuildImage(build.data.id, build.data.images.snippet)} sizes={sizes} alt={`${build.data.year} ${build.data.make} ${build.data.model} built by ${Business.nameLong}`} class:list={["object-cover rounded w-full", height]} slot="picture" />

    <div class:list={["space-y-4", pad && `bg-white p-4`]}>
        <div class="flex justify-between items-center gap-4">
            <div class:list={["font-semibold line-clamp-1 tracking-tight text-xl"]}>{build.data.year}&nbsp;{build.data.make}&nbsp;{build.data.model}</div>
            <div class="text-sm text-stone-600 flex-none">{timeAgo(build.data.date)}</div>
        </div>

        <div class="flex justify-between items-center gap-8">
            {
                description && (
                    <ul class="line-clamp-2 comma-list tracking-tight text-sm">
                        {build.data.parts.map((p) => (
                            <li>{p}</li>
                        ))}
                    </ul>
                )
            }
        </div>
    </div>
</a>
