---
// components
import Picture from "@/components/images/Picture";

import { Business } from "@/config";
import { getBuildImage } from "@/functions/Image";

// props
interface Props {
    build: any;
    sizes?: string;
    description?: boolean;
    classes?: string;
}
const { build, sizes = "100vw", description = true, classes } = Astro.props;
---

<a href={`/builds/${build.slug}`} class:list={[classes, "rounded-sm"]}>
    <Picture src={getBuildImage(build.data.id, build.data.images.snippet)} sizes="500px" alt={`${build.data.year} ${build.data.make} ${build.data.model} built by ${Business.nameLong}`} class="object-cover h-52 rounded-t-sm w-full" slot="picture" />

    <div class="space-y-2 p-4">
        <h3 class="text-lg font-semibold line-clamp-1">{build.data.year}&nbsp;{build.data.make}&nbsp;{build.data.model}</h3>
        {
            description && (
                <ul class="text-xs line-clamp-2 comma-list">
                    {build.data.parts.map((p) => (
                        <li>{p}</li>
                    ))}
                </ul>
            )
        }
    </div>
</a>
