---
// props
// props
interface Props {
    build: any;
    sizes?: string;
}
const { build, sizes = "100vw" } = Astro.props;

// components
import Hover from "../images/Hover.astro";
import Picture from "../images/Picture.astro";
import Surround from "../content/Surround.astro";

// config
import { Business } from "../../config";

// images
import { getBuildImage } from "../../functions/Image";
---

<a href={`/builds/${build.slug}`} title={`${build.data.year} ${build.data.make} ${build.data.model} built by ${Business.nameLong}`}>
    <Picture src={getBuildImage(build.data.id, build.data.featuredImage)} sizes="500px" alt={`${build.data.year} ${build.data.make} ${build.data.model} built by ${Business.nameLong}`} class="object-cover aspect-[3/2] rounded-t-md" sizes={sizes} />

    <div class="p-4 rounded-b-md">
        <h5 class="text-neutral-800 font-semibold">{build.data.year} {build.data.make} {build.data.model}</h5>
        <div class="flex">
            <p class="text-base leading-7 text-neutral-400">{build.data.trim}</p>
        </div>
    </div>
</a>
