---
export interface Props {
    text: string;
    url: string;
    type?: string;
    theme?: string;
    classes?: string;
}
const { text, url, type = "a", theme = "btn-primary", classes } = Astro.props as Props;
const styles = "flex gap-3 sm:skew-x-12";
---

<div class:list={[theme, classes]}>
    {
        type == "a" ? (
            <a href={url} title={text} class:list={[styles]}>
                <slot />
                {text}
            </a>
        ) : (
            <button type="submit" title={text} class:list={[styles]}>
                <slot />
                {text}
            </button>
        )
    }
</div>
