---
// imports
import { Icon } from "astro-icon";

// props
interface Props {
    href?: string;
    theme?: string;
    size?: string;
    icon?: string;
    classes?: string;
}
const { href, theme = "primary", size = "base", icon, classes, ...attrs } = Astro.props;
---

{
    href ? (
        <a href={href} class:list={[`button button-${theme} text-${size} group`, classes]} {...attrs}>
            {icon && (
                <div class="button-icon">
                    <Icon name={icon} class="w-5 h-auto" />
                </div>
            )}

            <div class:list={["button-text", icon ? `rounded-r-sm` : ``]}>
                <slot />
            </div>
        </a>
    ) : (
        <button class:list={[`button button-${theme} text-${size} group`, classes]} {...attrs}>
            {icon && (
                <div class="button-icon">
                    <Icon name={icon} class="h-2/5 w-auto" />
                </div>
            )}

            <div class:list={["button-text", icon ? `rounded-r-sm` : `rounded-sm`]}>
                <slot />
            </div>
        </button>
    )
}
