---
export interface Props {
    text: string;
    url: string;
    type?: string;
    theme?: string;
    classes?: string;
}
const { text, url, type = "a", theme = "btn-primary", classes } = Astro.props as Props;
const styles = "flex gap-3 skew-x-12";
---

<div class:list={["-skew-x-12 px-4 py-3 px-4 py-3 shadow-solid rounded-sm border font-medium transition duration-200", theme]}>
    {
        type == "a" ? (
            <a href={url} title={text} class:list={[styles, classes]}>
                <slot />
                {text}
            </a>
        ) : (
            <button type="submit" title={text} class:list={[styles, classes]}>
                <slot />
                {text}
            </button>
        )
    }
</div>
