---
import Layout from "@/layouts/Layout";

import { supabaseService } from "@/library/supabase";
import { getBuildImage } from "@/functions/Image";
import { getBuildDescription } from "@/functions/Content";
import { getCollection, getEntry } from "astro:content";
import Container from "@/components/Container";
import Map from "@/components/backgrounds/Map";
import Model from "@/components/vehicles/Model";
import Picture from "@/components/images/Picture";

export async function getStaticPaths() {
	const makes = await supabaseService.from("makes").select("*, models (*)");

	return makes.data.map((make) => ({
		params: {
			id: make.slug,
		},
		props: { make },
	}));
}

const { make } = Astro.props;
---

<Layout title={make.seo_title} description={make.seo_description}>
	<div class="bg-chathams-blue-600 section section-small">
		<Container>
			<div class="space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">We're the <strong>{make.title} Experts!</strong>!</h1>
				<div class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-4xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0" set:html={make.description_long} />
			</div>
		</Container>
	</div>

	<!-- <div class:list={["gallery lg:min-h-[800px] lg:h-[50vh]", make.data.images.featured.length >= 2 && "grid grid-rows-2 grid-cols-4"]}>
		{
			make.data.images.featured.map((image, i, arr) => (
				<Picture
					src={getBuildImage(image.id.id, image.image)}
					alt={getBuildDescription(image.id.id)}
					class:list={[i === 0 && arr.length >= 2 && `col-span-4 md:col-span-2 md:row-span-2`, image.position, "col-span-4 md:col-span-2 lg:col-span-1 w-full h-full object-cover"]}
					sizes="100vw"
				/>
			))
		}
	</div> -->

	<Map classes="section bg-rock-100">
		<Container classes="space-y-12">
			<div class="grid grid-cols-5 gap-10">
				<h2 class="col-span-5 text-balance uppercase font-medium max-w-2xl">Let's Build Your <strong>Dream {make.title}</strong></h2>

				<div class="col-span-5 lg:col-span-2 flex flex-col gap-y-6">
					<div class="space-y-8">
						<div class="space-y-8 leading-loose text-lg" set:html={make.description_short} />
					</div>

					<div>
						<a href="/contact" class="button button-primary button-inverse w-fit">Build My {make.title}!</a>
					</div>
				</div>

				<div class="col-span-5 lg:col-span-3 grid grid-cols-2 gap-1 h-fit">
					{make.models.map((m) => <Model make={make.slug} model={m} />)}
				</div>
			</div>
		</Container>
	</Map>
</Layout>
