---
import { supabaseService } from "@/library/supabase";
import { getBuildTitle } from "@/functions/Content";
import { timeAgo } from "@/functions/DateTime";
import Picture from "@/components/images/Picture";

interface Props {
	build: string;
	sizes?: string;
	classes: string;
}
const { build, sizes = "100vw", classes, ...attrs } = Astro.props;

const sbBuild = await supabaseService.from("builds").select("*, builds_images (*), builds_parts_installed (parts_installed_id (*))").eq("slug", build).single();
---

<a href={`/builds/${sbBuild.data.slug}`} class:list={["relative bg-rock-50 transition duration-200 rounded flex flex-col justify-between group", classes]} {...attrs}>
	<Picture src={sbBuild.data.builds_images[0].image_name} alt={getBuildTitle(sbBuild.data.slug)} class="aspect-video object-cover rounded-t" sizes={sizes} />

	<div class="flex flex-col gap-4 p-6">
		<div class="uppercase font-semibold text-2xl line-clamp-1 font-alt">{getBuildTitle(sbBuild.data.slug)}</div>
		<ul class="comma-list line-clamp-2">
			<!-- {sbBuild.data.b.map((p) => <li>{p}</li>)} -->
			<div class="flex justify-between items-center">
				<div class="button button-primary button-inverse button-xs">View Build</div>

				<div class="text-sm">
					{timeAgo(sbBuild.data.created_at)}
				</div>
			</div>
		</ul>
	</div></a
>
