---
import { getEntry } from "astro:content";
import { timeAgo } from "@/functions/DateTime";
import Picture from "@/components/images/Picture";

interface Props {
	build: string;
	sizes?: string;
	classes: string;
}
const { build, sizes = "100vw", classes, ...attrs } = Astro.props;

const entry = await getEntry("builds", build);
---

<a href={`/builds/${entry.id}`} class:list={[`relative text-rock-50 transition duration-200 rounded flex flex-col gap-4 justify-between group p-6 bg-rock-700 hover:bg-rock-700/80`, classes]} {...attrs}>
	<Picture src={entry.data.images.featured.url} alt={entry.data.title} class="aspect-video object-cover rounded-t" sizes={sizes} />

	<div class="flex flex-col gap-1">
		<div class="uppercase font-semibold text-2xl line-clamp-1 font-alt">{entry.data.title}</div>

		<ul class="comma-list line-clamp-2 text-sm text-stone-300 leading-relaxed tracking-wide">
			{
				entry.data.installed_parts.map((p) => {
					return <li>{p.part}</li>;
				})
			}
		</ul>

		<div class="flex justify-between items-center mt-3">
			<div class="button button-primary button-inverse button-xs">View Build</div>

			<div class="text-sm">
				{timeAgo(entry.data.date)}
			</div>
		</div>
	</div>
</a>
