---
// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";

// data
import { Business, Social } from "@/data/business";
---

<div class="bg-red-500 text-white">
    <Container>
        <div class="flex justify-between items-center">
            <!-- contact icons -->
            <div class="flex text-xs">
                <!-- phone -->
                <a href={`tel:${Business.phone}`} title={`${Business.name_long} Phone`} class="flex items-center gap-2 font-extralight py-4 px-4 hover:bg-red-400 transition duration-200">
                    <Icon name="bi:telephone-fill" class="w-3 h-auto" />
                    {Business.phone}
                </a>

                <!-- email -->
                <a href={`mailto:${Business.email}`} title={`${Business.name_long} Email`} class="flex items-center gap-2 font-extralight py-4 px-4 hover:bg-red-400 transition duration-200">
                    <Icon name="bi:envelope-fill" class="w-3 h-auto" />
                    {Business.email}
                </a>
            </div>

            <!-- social icons -->
            <div class="hidden md:flex">
                <!-- facebook -->
                <a href={Social.facebook} title={`${Business.name_long} Facebook`} class="py-4 px-4 hover:bg-red-400 transition duration-200">
                    <Icon name="bi:facebook" class="w-4 h-auto" />
                </a>

                <!-- instagram -->
                <a href={Social.instagram} title={`${Business.name_long} Instagram`} class="py-4 px-4 hover:bg-red-400 transition duration-200">
                    <Icon name="bi:instagram" class="w-4 h-auto" />
                </a>

                <!-- youtube -->
                <a href={Social.youtube} title={`${Business.name_long} YouTube`} class="py-4 px-4 hover:bg-red-400 transition duration-200">
                    <Icon name="bi:youtube" class="w-4 h-auto" />
                </a>

                <!-- google maps -->
                <a href={Social.googlemaps} title={`${Business.name_long} Google Reviews`} class="py-4 px-4 hover:bg-red-400 transition duration-200">
                    <Icon name="bi:map-fill" class="w-4 h-auto" />
                </a>
            </div>
        </div>
    </Container>
</div>
