---
// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";

// data
import { Business, Social } from "@/data/business";
---

<div class="bg-red-500 text-white">
    <Container>
        <div class="flex justify-between items-center py-4">
            <!-- contact icons -->
            <div class="flex sm:w-full md:justify-start text-xs gap-6">
                <!-- phone -->
                <a href={`tel:${Business.phone}`} title={`${Business.name_long} Phone`} class="flex items-center gap-2 font-extralight">
                    <Icon name="bi:telephone" class="w-4 h-auto" />
                    <div class="hidden md:block">{Business.phone}</div>
                </a>

                <!-- email -->
                <a href="/contact" title={`${Business.name_long} Contact`} class="flex items-center gap-2 font-extralight">
                    <Icon name="bi:envelope" class="w-4 h-auto" />
                    <div class="hidden md:block">{Business.email}</div>
                </a>
            </div>

            <!-- social icons -->
            <div class="flex gap-6">
                {
                    Social.map((i) => (
                        <a href={i.url} target="_blank" title={`${Business.name_long} ${i.title}`}>
                            <Icon name={i.icon} class="h-auto w-4" />
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</div>
