---
// components
import { Icon } from "astro-icon";
import { getImage } from "@astrojs/image";
import { Image } from "@astrojs/image/components";
import Button from "@/components/buttons/Button";

import { imageConfig } from "@/src/config";

// data
import { Business, Social } from "@/data/business";

// functions
import { getPublicPath } from "@/functions/Media";

// images
const logo = getPublicPath("/Images/Website/Logos/logo-black.svg");
const icon = `${imageConfig.cloudUrl}/Images/Vehicles/Ford/F-250/2110-2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey/2021-Ford-F-250-Lariat-De-Tremor-Lithium-Grey_003.jpg`;
const iconImage = await getImage({
    src: icon,
    width: 100,
    height: 100,
});
---

<!-- transparency --><!-- <div class="fixed inset-0 z-30 h-full w-full bg-black bg-opacity-70"></div> --><!-- flyout -->
<div class="fixed top-0 right-0 z-50 w-full h-screen overflow-y-scroll p-8 bg-gradient-to-tr from-neutral-300 to-white" x-on:click.outside="flyout = false">
    <div class="space-y-12">
        <div class="flex justify-between items-center">
            <!-- logo -->
            <img src={logo} width={180} class="w-40" />

            <!-- hamburger -->
            <button x-on:click="flyout = false">
                <Icon name="bi:x" class="w-6 text-neutral-400" />
            </button>
        </div>

        <!-- flyout -->
        <div>
            <!-- vehicles -->
            <div x-data="{ vehiclesFlyout: false }">
                <!-- heading -->
                <div class="flex justify-between items-center rounded-sm p-2" :class="{ 'bg-red-500 hover:bg-red-500' : vehiclesFlyout }" x-on:click="vehiclesFlyout = !vehiclesFlyout">
                    <h4 class="text-3xl" :class="vehiclesFlyout ? 'text-white' : 'text-black'">Vehicles</h4>
                    <Icon name="bi:plus" class="w-5 text-black" x-show="!vehiclesFlyout" />
                    <Icon name="bi:dash" class="w-5 text-white" x-show="vehiclesFlyout" />
                </div>

                <!-- menu -->
                <div class="space-y-3 p-3" x-show="vehiclesFlyout">
                    {
                        [...Array(8)].map((d) => (
                            <div class="grid grid-cols-3 gap-2">
                                <div
                                    style={`background-image: url(${iconImage.src}); background-repeat: no-repeat; background-size: cover; background-position: center`}
                                    class="h-auto max-w-[100px] rounded-sm"
                                />

                                <div class="col-span-2">
                                    <div class="font-medium">Chevrolet</div>
                                    <p class="text-xs font-light">Colorado, Canyon, Silverado, Sierra, Tahoe & Yukon.</p>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>

            <!-- parts -->
            <div x-data="{ partsFlyout: false }">
                <!-- heading -->
                <div class="flex justify-between items-center rounded-sm p-2" :class="{ 'bg-red-500 hover:bg-red-500' : partsFlyout }" x-on:click="partsFlyout = !partsFlyout">
                    <h4 class="text-3xl" :class="partsFlyout ? 'text-white' : 'text-black'">Parts</h4>
                    <Icon name="bi:plus" class="w-5 text-black" x-show="!partsFlyout" />
                    <Icon name="bi:dash" class="w-5 text-white" x-show="partsFlyout" />
                </div>

                <!-- menu -->
                <div class="space-y-3 p-3" x-show="partsFlyout">
                    {
                        [...Array(8)].map((d) => (
                            <div class="grid grid-cols-3 gap-2">
                                <div
                                    style={`background-image: url(${iconImage.src}); background-repeat: no-repeat; background-size: cover; background-position: center`}
                                    class="h-auto max-w-[100px] rounded-sm"
                                />

                                <div class="col-span-2">
                                    <div class="font-medium">Suspension</div>
                                    <p class="text-xs font-light">Colorado, Canyon, Silverado, Sierra, Tahoe & Yukon.</p>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>

            <!-- other links -->
            <h4 class="text-3xl text-black p-2">Gallery</h4>
            <h4 class="text-3xl text-black p-2">Social Feed</h4>
        </div>

        <div class="space-y-2">
            <Button text="Contact Us" url="/contact" theme="secondary" classes="">
                <Icon name="bi:envelope" class="w-3 h-auto" />
            </Button>
            <Button text="Call Us" url="/contact">
                <Icon name="bi:telephone" class="w-3 h-auto" />
            </Button>
        </div>

        <!-- social icons -->
        <div class="flex gap-6 justify-around">
            {
                Social.map((i) => (
                    <a href={i.url} target="_blank" title={`${Business.name_long} ${i.title}`}>
                        <Icon name={i.icon} class="h-auto w-5 text-neutral-700" />
                    </a>
                ))
            }
        </div>
    </div>
</div>
