---
// components
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import Button from "../buttons/Button.astro";
import Container from "../Container.astro";
import MenuMobile from "./mobile/MenuMobile.astro";
import MenuParts from "./desktop/MenuParts.astro";
import MenuVehicles from "./desktop/MenuVehicles.astro";

// config
import { Business } from "../../config.js";

// images
import logo from "../../assets/images/logo-white.png";
---

<header class="bg-red-600 relative">
    <Container>
        <nav class="flex items-center h-24 justify-between gap-x-6" aria-label="Global">
            <div class="flex lg:gap-x-6">
                <a href="/" title={Business.nameLong}>
                    <span class="sr-only">{Business.nameLong}</span>

                    <Image src={logo.src} width={1079} height={336} alt={Business.nameLong} class="h-12 w-auto" />
                </a>

                <div class="hidden lg:flex items-center">
                    <MenuVehicles />
                    <MenuParts />
                    <a href="/builds" title={`${Business.nameShort} Builds`} class="font-semibold leading-6 text-white transition px-4 py-3 hover:bg-red-500">Builds</a>
                </div>
            </div>

            <div class="hidden lg:flex flex-1 items-center justify-end gap-x-4">
                <Button url="#">{Business.phone}</Button>
                <Button url="#" theme="secondary">Contact Us</Button>
            </div>

            <div class="flex lg:hidden" x-data={`{ mobileMenu : false }`}>
                <button type="button" class="inline-flex items-center justify-center rounded-md text-gray-700 cursor-pointer" x-on:click={`mobileMenu = true`}>
                    <span class="sr-only">Open main menu</span>

                    <Icon name="Hamburger" class="h-8 w-8 text-white cursor-pointer" />
                </button>

                <MenuMobile />
            </div>
        </nav>
    </Container>
</header>
