---
// components
import { Icon } from "astro-icon";
import Button from "../buttons/Button.astro";
import Container from "../Container.astro";
import MenuMobile from "./mobile/MenuMobile.astro";
import MenuParts from "./desktop/MenuParts.astro";
import MenuVehicles from "./desktop/MenuVehicles.astro";
import Picture from "../images/Picture.astro";

// config
import { Business } from "../../config.js";
---

<header class="bg-red-600 relative">
    <Container>
        <nav class="flex items-center py-4 md:py-6 justify-between gap-x-6" aria-label="Global">
            <div class="flex lg:gap-x-6 items-center">
                <!-- logo -->
                <a href="/" title={Business.nameLong}>
                    <span class="sr-only">{Business.nameLong}</span>

                    <Picture src="website/logos/logo-white.png" alt={Business.nameLong} class="w-32 h-auto" />
                </a>

                <!--- desktop menu -->
                <div class="hidden lg:flex items-center">
                    <MenuVehicles />
                    <MenuParts />

                    <a href="/builds" title={`${Business.nameShort} Builds`} class="font-semibold leading-6 text-white transition px-4 py-3 hover:bg-red-500">Builds</a>
                </div>
            </div>

            <!-- contact buttons -->
            <div class="hidden lg:flex flex-1 items-center justify-end gap-3">
                <Button href={`tel:${Business.phone}`}>{Business.phone}</Button>
                <Button href="/contact" theme="secondary">Contact Us</Button>
            </div>

            <!-- mobile trigger -->
            <div class="flex lg:hidden" x-data={`{ mobileMenu : false }`}>
                <button type="button" class="inline-flex items-center justify-center rounded text-stone-700 cursor-pointer" x-on:click={`mobileMenu = true`}>
                    <span class="sr-only">Open main menu</span>

                    <Icon name="hero/Hamburger" class="h-8 w-8 text-white cursor-pointer" />
                </button>

                <!-- mobile menu -->
                <MenuMobile />
            </div>
        </nav>
    </Container>
</header>
