---
// imports
import { Business } from "@/config";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";

import Container from "@/components/Container";
import MenuMobile from "@/components/navigation/menus/Mobile";
import HoverMenu from "@/components/navigation/menus/Hover";

// data
const allMakes = await getCollection("makes");
const allModels = await getCollection("models");
const allParts = await getCollection("parts");
const allBrands = await getCollection("brands");
---

<header class="bg-black bg-opacity-40 relative">
    <Container>
        <nav class="flex items-center py-4 md:py-6 justify-between gap-x-4 lg:gap-x-6" aria-label="Global">
            <div class="flex gap-x-8 items-center">
                <!-- logo -->
                <a href="/" title={Business.nameLong}>
                    <span class="sr-only">{Business.nameLong}</span>

                    <Icon name="logo" class="h-8 lg:h-10 w-auto text-white" />
                </a>

                <!--- desktop menu -->
                <div class="hidden md:flex items-center md:gap-6 lg:gap-8">
                    <HoverMenu title="Vehicles" identifier="vehicles">
                        {
                            allMakes.map((m) => (
                                <a href={`/vehicles/${m.id}`} title={m.data.title} class="menu-item">
                                    {m.data.title}

                                    <ul class="comma-list">
                                        {allModels.map((i) => {
                                            if (i.data.make.id.includes(m.id)) {
                                                return <li>{i.data.title}</li>;
                                            }
                                        })}
                                    </ul>
                                </a>
                            ))
                        }
                    </HoverMenu>

                    <HoverMenu title="Parts" identifier="parts">
                        {
                            allParts.map((p) => (
                                <a href={`/parts/${p.id}`} title={p.data.title} class="menu-item">
                                    {p.data.title}

                                    <ul class="comma-list">
                                        {p.data.content.parts.map((i) => (
                                            <li>{i.title}</li>
                                        ))}
                                    </ul>
                                </a>
                            ))
                        }
                    </HoverMenu>

                    <a href="/builds" title={`${Business.nameShort} Builds`} class="nav-item">Builds</a>
                    <a href="/about" title={`About ${Business.nameLong}`} class="nav-item">About</a>
                </div>
            </div>

            <!-- contact buttons -->
            <div class="flex flex-1 items-center justify-end">
                <div>
                    <a href={`tel:${Business.phone}`} class="button button-ghost">
                        <div class="button-text text-xs sm:text-sm lg:text-base">
                            <span class="hidden sm:block">{Business.phone}</span>
                            <span class="sm:hidden">Call</span>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="/contact" class="button button-primary !border-0">
                        <div class="button-text text-xs sm:text-sm lg:text-base">
                            <span class="hidden sm:block">Contact Us</span>
                            <span class="sm:hidden">Email</span>
                        </div>
                    </a>
                </div>
            </div>

            <!-- mobile trigger -->
            <div class="flex md:hidden" x-data={`{ mobileMenu : false }`}>
                <button type="button" class="inline-flex items-center justify-center cursor-pointer" x-on:click={`mobileMenu = true`}>
                    <span class="sr-only">Open main menu</span>

                    <Icon name="hero/Hamburger" class="h-8 w-8 cursor-pointer text-white" />
                </button>

                <!-- mobile menu -->
                <MenuMobile />
            </div>
        </nav>
    </Container>
</header>

<style type="text/css">
    .menu-item {
        @apply flex flex-col gap-x-4 text-base font-semibold leading-6 text-black hover:bg-white px-6 py-4 transition;
    }
    .comma-list {
        @apply line-clamp-1 text-xs text-black font-normal;
    }
</style>
