---
// imports
import { getCollection } from "astro:content";
import { Business } from "@/config";

import Container from "@/components/Container";
import Icon from "@/components/Icon";
import MenuMobile from "@/components/navigation/menus/Mobile";
import HoverMenu from "@/components/navigation/menus/Hover";

// data
const allMakes = await getCollection("makes", ({ data }) => {
	return data.status == true;
});
const allModels = await getCollection("models");
const allParts = await getCollection("parts");
---

<header class="bg-neutral-50 sticky top-0 shadow-2xl z-20">
	<Container>
		<nav class="flex items-center py-4 md:py-6 justify-between gap-x-4 lg:gap-x-6" aria-label="Global">
			<div class="flex gap-x-8 items-center">
				<!-- logo -->
				<a href="/" title={Business.nameLong}>
					<span class="sr-only">{Business.nameLong}</span>

					<Icon icon="logo" class="h-8 lg:h-10 w-auto" />
				</a>

				<!--- desktop menu -->
				<div class="hidden md:flex items-center md:gap-6 lg:gap-8">
					<HoverMenu title="Vehicles" identifier="vehicles">
						{
							allMakes.map((m) => (
								<a href={`/vehicles/${m.id}`} title={m.data.title} class="flex flex-col gap-x-4 text-base font-semibold leading-6 text-white hover:bg-neutral-600 px-6 py-4 transition">
									{m.data.title}

									<ul class="comma-list line-clamp-2 leading-5 text-xs font-normal !text-neutral-300 tracking-wide">
										{allModels.map((i) => {
											return i.data.make.slug === m.id && <li>{i.data.title}</li>;
										})}
									</ul>
								</a>
							))
						}
					</HoverMenu>

					<HoverMenu title="Parts" identifier="parts">
						{
							allParts.map((p) => (
								<a href={`/parts/${p.id}`} title={p.data.title} class="flex flex-col gap-x-4 text-base font-semibold leading-6 text-white hover:bg-neutral-600 px-6 py-4 transition">
									{p.data.title}

									<ul class="comma-list line-clamp-2 leading-5 text-xs font-normal !text-neutral-300 tracking-wide">
										{p.data.items.map((i) => (
											<li>{i.title}</li>
										))}
									</ul>
								</a>
							))
						}
					</HoverMenu>

					<a href="/builds" title={`${Business.nameShort} Builds`} class="nav-item">Builds</a>
					<a href="/about" title={`About ${Business.nameLong}`} class="nav-item">About</a>
				</div>
			</div>

			<!-- contact buttons -->
			<div class="flex flex-1 items-center justify-end gap-2 lg:gap-4">
				<div>
					<a href={`tel:${Business.phone.number}`} class="button button-ghost button-inverse">
						<span class="hidden lg:block text-xs sm:text-sm xl:text-base">{Business.phone.formatted}</span>
						<span class="lg:hidden text-xs sm:text-sm xl:text-base">Call</span>
					</a>
				</div>

				<div>
					<a href="/contact" class="button button-primary button-inverse">
						<span class="hidden lg:block text-xs sm:text-sm xl:text-base">Contact Us</span>
						<span class="lg:hidden text-xs sm:text-sm xl:text-base">Email</span>
					</a>
				</div>
			</div>

			<!-- mobile trigger -->
			<div class="flex md:hidden" x-data={`{ mobileMenu : false }`}>
				<button type="button" class="inline-flex items-center justify-center cursor-pointer" x-on:click={`mobileMenu = true`}>
					<span class="sr-only">Open main menu</span>

					<Icon icon="hero/Hamburger" class="h-8 w-8 cursor-pointer" />
				</button>

				<!-- mobile menu -->
				<MenuMobile makes={allMakes} models={allModels} parts={allParts} />
			</div>
		</nav>
	</Container>
</header>
