---
// components
import { Icon } from "astro-icon";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";
import Flyout from "@/components/navigation/menus/Flyout";
import MegaVehicles from "@/components/navigation/menus/MegaVehicles";
import MegaParts from "@/components/navigation/menus/MegaParts";

// data
import { business, logos } from "@/src/config.mjs";
---

<div class="sticky top-0 z-30 bg-stone-100 shadow-2xl">
    <div class="relative">
        <Container>
            <div class="flex items-center justify-between">
                <div class="flex w-full items-center justify-between gap-6 py-6 md:py-0 lg:w-auto lg:justify-start">
                    <!-- logo -->
                    <a href="/" title={business.name_long}>
                        <img src={`${logos.dark}.svg`} width="160" height="50" alt={business.name_long} class="w-40" />
                    </a>

                    <!-- desktop menu -->
                    <div class="hidden font-medium md:flex">
                        <!-- vehicles -->
                        <MegaVehicles />

                        <!-- parts -->
                        <MegaParts />

                        <div class="py-10 px-4 text-lg hover:bg-white"><a href="/gallery" title="THOR Off-Road Gallery">Gallery</a></div>
                        <div class="py-10 px-4 text-lg hover:bg-white"><a href="/social" title="THOR Off-Road Social Media">Feed</a></div>
                        <div class="py-10 px-4 text-lg hover:bg-white lg:hidden">
                            <a href="/contact" title="Contact THOR Off-Road">Contact Us</a>
                        </div>
                    </div>
                </div>

                <div class="md:hidden" x-data={"{ flyout: false }"}>
                    <div x-on:click={"flyout = true"} class="cursor-pointer">
                        <Icon name="bi:list" class="h-auto w-8" x-show={"!flyout"} />
                        <Icon name="bi:x" class="h-auto w-8" x-show={"flyout"} />
                    </div>

                    <div x-show={"flyout"}>
                        <Flyout />
                    </div>
                </div>

                <div class="hidden gap-4 lg:flex">
                    <Button text={business.phone} href={`tel:${business.phone}`}>
                        <Icon name="bi:telephone-fill" class="h-auto w-3" />
                    </Button>
                    <Button text="Contact Us" href="/contact" theme="btn-secondary">
                        <Icon name="bi:envelope-fill" class="h-auto w-3" />
                    </Button>
                </div>
            </div>
        </Container>
    </div>
</div>
