---
import Layout from "../../../layouts/Layout.astro";

// components
import Background from "../../../components/content/Background.astro";
import BuildFilter from "../../../components/builds/BuildFilter.astro";
import BuildFilterListing from "../../../components/builds/BuildFilterListing.astro";
import BuildSnippet from "../../../components/builds/BuildSnippet.astro";
import BuildSnippetAlt from "@/components/builds/BuildSnippetAlt";
import Container from "../../../components/Container.astro";
import FlexColumn from "../../../components/content/FlexColumn.astro";
import HeadingBase from "../../../components/content/headings/HeadingBase.astro";
import ListingGrid from "../../../components/builds/BuildListing.astro";
import Section from "../../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allModels = await getCollection("models", ({ data }) => {
        return data.draft !== true;
    });
    return allModels.map((model) => ({
        params: { make: model.data.make.toLowerCase(), model: model.data.slug },
        props: { model },
    }));
}
const { model } = Astro.props;

const allBuilds = await getCollection("builds", ({ slug, data }) => {
    return slug.includes(Astro.params.model) && slug.includes(Astro.params.make);
});

// aggregate the metadata
const allMakes = await getCollection("makes");
const allModels = await getCollection("models", ({ data, slug }) => {
    return data.draft !== true && data.make.includes(model.data.make);
});
const allParts = await getCollection("parts");
---

<Layout>
    <Section small={true}>
        <Container>
            <FlexColumn reverse={true}>
                <div slot="left" class="grid sm:grid-cols-2 lg:grid-cols-1 h-full gap-8 space-y-6 sm:space-y-0 lg:space-y-6">
                    <BuildFilterListing heading="Filter by Parts">
                        {
                            allParts.map((p) => (
                                <BuildFilter href={`/builds/${p.slug}`}>
                                    <div class="space-y-2">
                                        <div class="text-base">{p.data.title}</div>
                                        <div class="text-xs line-clamp-2 text-stone-600">{p.data.descriptionShort}</div>
                                    </div>
                                </BuildFilter>
                            ))
                        }
                    </BuildFilterListing>

                    <BuildFilterListing heading="Filter by Vehicle">
                        {
                            allMakes.map((m) => (
                                <BuildFilter href={`/builds/${m.slug}`} current={m.slug.includes(model.data.make.toLowerCase()) ? true : false}>
                                    {m.data.title}
                                </BuildFilter>
                            ))
                        }
                    </BuildFilterListing>

                    <BuildFilterListing heading="Filter by Model">
                        {
                            allModels.map((m) => (
                                <BuildFilter href={`${m.slug}`} current={m.slug.includes(model.slug) ? true : false}>
                                    {m.data.title}
                                </BuildFilter>
                            ))
                        }
                    </BuildFilterListing>
                </div>

                <div class="space-y-16">
                    <h1>{model.data.make}&nbsp;{model.data.title} Builds</h1>

                    <ListingGrid>
                        {allBuilds.map((b) => <BuildSnippetAlt build={b} sizes="350px" classes="h-[25em]" />)}
                    </ListingGrid>
                </div>
            </FlexColumn>
        </Container>
    </Section>
</Layout>
