---
import Layout from "../../../layouts/Layout.astro";

// components
import Background from "../../../components/content/Background.astro";
import BuildFilter from "../../../components/builds/BuildFilter.astro";
import BuildFilterListing from "../../../components/builds/BuildFilterListing.astro";
import BuildSnippet from "../../../components/builds/BuildSnippet.astro";
import Container from "../../../components/Container.astro";
import FlexColumn from "../../../components/content/FlexColumn.astro";
import HeadingBase from "../../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../../components/content/headings/ImageOverlay.astro";
import ListingGrid from "../../../components/builds/BuildListing.astro";
import Picture from "../../../components/images/Picture.astro";
import Section from "../../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allModels = await getCollection("models", ({ data }) => {
        return data.draft !== true;
    });
    return allModels.map((model) => ({
        params: { make: model.data.make.toLowerCase(), model: model.data.slug },
        props: { model },
    }));
}
const { model } = Astro.props;

const allBuilds = await getCollection("builds", ({ slug, data }) => {
    return slug.includes(Astro.params.model) && slug.includes(Astro.params.make);
});

// aggregate the metadata
const allMakes = await getCollection("makes");
const allModels = await getCollection("models", ({ data, slug }) => {
    return data.draft !== true && data.make.includes(model.data.make);
});
const allParts = await getCollection("parts");
---

<Layout>
    <HeadingBase src={model.data.featured}>
        <h1 slot="heading">{model.data.make} {model.data.title} Builds</h1>
        <div slot="description">{model.data.descriptionShort}</div>
    </HeadingBase>

    <Background>
        <Section>
            <Container>
                <FlexColumn float={true}>
                    <div slot="left" class="grid sm:grid-cols-2 lg:grid-cols-1 h-full gap-8 bg-white p-8 shadow rounded space-y-6 sm:space-y-0 lg:space-y-6">
                        <BuildFilterListing heading="Filter by Parts">
                            {allParts.map((p) => <BuildFilter href={`/builds/${p.slug}`}>{p.data.title}</BuildFilter>)}
                        </BuildFilterListing>

                        <BuildFilterListing heading="Filter by Vehicle">
                            {
                                allMakes.map((m) => (
                                    <BuildFilter href={`/builds/${m.slug}`} current={m.slug.includes(model.data.make.toLowerCase()) ? true : false}>
                                        {m.data.title}
                                    </BuildFilter>
                                ))
                            }
                        </BuildFilterListing>

                        <BuildFilterListing heading="Filter by Model">
                            {
                                allModels.map((m) => (
                                    <BuildFilter href={`${m.slug}`} current={m.slug.includes(model.slug) ? true : false}>
                                        {m.data.title}
                                    </BuildFilter>
                                ))
                            }
                        </BuildFilterListing>
                    </div>

                    {
                        allBuilds.length > 0 ? (
                            <ListingGrid>
                                {allBuilds.map((b) => (
                                    <BuildSnippet build={b} sizes="350px" classes="shadow rounded bg-white" />
                                ))}
                            </ListingGrid>
                        ) : (
                            <div class="bg-white rounded shadow w-full p-8 space-y-6">
                                <h3>We Need Your {model.data.title}!</h3>
                                <p class="text-lg tracking-tight leading-8">
                                    We've only begun showcasing our completed builds recently and we haven't had a chance to feature any {model.data.title}'s yet. We'd love to show you what's possible at THOR Off-Road.{" "}
                                    <a href="/contact" class="underline decoration-1 underline-offset-2 font-semibold">
                                        Let's get in touch and build your dream vehicle
                                    </a>
                                    .
                                </p>
                            </div>
                        )
                    }
                </FlexColumn>
            </Container>
        </Section>
    </Background>
</Layout>
