---
import Layout from "../../../layouts/Layout.astro";

// components
import Background from "../../../components/content/Background.astro";
import BuildFilter from "../../../components/builds/BuildFilter.astro";
import BuildFilterListing from "../../../components/builds/BuildFilterListing.astro";
import BuildSnippet from "../../../components/builds/BuildSnippet.astro";
import Container from "../../../components/Container.astro";
import FlexColumn from "../../../components/content/FlexColumn.astro";
import HeadingBase from "../../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../../components/content/headings/ImageOverlay.astro";
import ListingGrid from "../../../components/builds/BuildListing.astro";
import Picture from "../../../components/images/Picture.astro";
import Section from "../../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allMakes = await getCollection("makes");
    return allMakes.map((make) => ({
        params: { make: make.slug },
        props: { make },
    }));
}
const { make } = Astro.props;

const allBuilds = await getCollection("builds", ({ slug }) => {
    return slug.includes(make.slug);
});

// aggregate the metadata
const allMakes = await getCollection("makes");
const allModels = await getCollection("models", ({ data }) => {
    return data.draft !== true && data.make.toLowerCase().includes(make.slug);
});
const allParts = await getCollection("parts");
---

<Layout>
    <ImageOverlay>
        <Picture slot="image" src={make.data.featured} class="absolute inset-0 w-full h-full object-cover saturate-50" width={2000} height={2000} alt={``} />
        <HeadingBase heading={`${make.data.title} Builds`} description={make.data.descriptionShort} />
    </ImageOverlay>

    <Background>
        <Section>
            <Container>
                <FlexColumn float={true}>
                    <div slot="left" class="grid sm:grid-cols-2 lg:grid-cols-1 h-full gap-8 bg-white p-8 shadow rounded space-y-6 sm:space-y-0 lg:space-y-6">
                        <BuildFilterListing heading="Filter by Parts">
                            {allParts.map((p) => <BuildFilter href={`/builds/${p.slug}`}>{p.data.title}</BuildFilter>)}
                        </BuildFilterListing>

                        <BuildFilterListing heading="Filter by Vehicle">
                            {
                                allMakes.map((m) => (
                                    <BuildFilter href={`/builds/${m.slug}`} current={m.slug.includes(make.slug) ? true : false}>
                                        {m.data.title}
                                    </BuildFilter>
                                ))
                            }
                        </BuildFilterListing>

                        <BuildFilterListing heading="Filter by Model">
                            {
                                allModels.map((m) => (
                                    <BuildFilter href={`/builds/${make.slug}/${m.slug}`} current={m.slug.includes(make.slug) ? true : false}>
                                        {m.data.title}
                                    </BuildFilter>
                                ))
                            }
                        </BuildFilterListing>
                    </div>

                    <ListingGrid>
                        {allBuilds.map((b) => <BuildSnippet build={b} sizes="350px" classes="shadow rounded bg-white" />)}
                    </ListingGrid>
                </FlexColumn>
            </Container>
        </Section>
    </Background>
</Layout>
