---
import { Business } from "@/config";
import Container from "@/components/Container";
import Layout from "@/layouts/Layout";
import Map from "@/components/backgrounds/Map";
import Picture from "@/components/images/Picture";

const headlineImages = [
	{ url: "team/shop/thoroffroad-01.jpg", alt: "Employee at THOR Off-Road" },
	{ url: "team/shop/thoroffroad-02.jpg", alt: "Working on a vehicle at THOR Off-Road" },
	{ url: "team/shop/thoroffroad-03.jpg", alt: "Installing off road parts at THOR Off-Road" },
];
---

<Layout title="About Us">
	<div class="bg-chathams-blue-600">
		<Container>
			<div class="section section-small space-y-4 md:space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">About <br /><strong>THOR Off-Road</strong></h1>
				<p class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-3xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0">
					THOR Off-Road is a premier off-road vehicle outfitter located in Dripping Springs, Texas. They specialize in providing high-quality parts, accessories, and expert installation services for trucks and SUVs.
				</p>

				<div class="flex flex-col md:flex-row gap-6 items-center justify-center lg:justify-start">
					<a href="/contact" class="button button-secondary">Build Your Truck!</a>
					<a href="/builds" class="font-medium">See Our Builds &gt;</a>
				</div>
			</div>
		</Container>
	</div>

	<div class="grid grid-cols-3 h-[400px]">
		{headlineImages.map((h) => <Picture src={h.url} alt={h.alt} loading="eager" class:list={["w-full h-full object-cover rounded shadow-lg"]} />)}
	</div>

	<Map classes="bg-rock-100 section" ">
		<Container>
			<div class="grid grid-cols-2 gap-8">
				<div class="flex flex-col gap-8">
					<h2 class="uppercase max-w-xl">A Word from <strong>Jamey Whitlock</strong></h2>
					<div class="text-xl leading-relaxed max-w-2xl">
						If you'd like to visit our shop, we're located at <a href={Business.mapUrl} class="underline"
							>{`${Business.address.street01} ${Business.address.street02}, ${Business.address.city}, ${Business.address.state} ${Business.address.zip}`}</a
						> and open {Business.hours}.
					</div>
				</div>

				<div class="text-black space-y-8">
					<div class="space-y-4">
						<p class="text-2xl md:text-3xl font-medium">"THOR Off-Road spawned off of my own passion of building trucks for people who use them."</p>
					</div>

					<div class="space-y-6 text-lg md:text-xl !leading-relaxed font-light">
						<p>
							It all started when I was a kid. My dad owned a brake shop, and I ran around the shop, playing with parts, learning how to balance tires and mop floors. Growing up, I had a passion for making things better. I started
							creating purpose built vehicles, mostly around hunting and ranch trucks. We quickly realized there was there was a niche for purpose built vehicles.
						</p>
						<p>
							THOR Off-Road takes the time to listen to the customer's needs. We put a personal touch on every truck and make sure that we're getting them exactly what they're looking for. Every customer who comes into THOR Off-Road
							wants something different. No matter your budget, you'll get world class service.
						</p>
					</div>
				</div>
			</div>
		</Container>
	</Map>

	<video autoplay loop class="w-full h-full">
		<source src="https://thoroffroad.b-cdn.net/videos/drone-footage.mp4" type="video/mp4" />
	</video>
</Layout>
