---
import { Business } from "@/config";

import Container from "@/components/Container";
import Layout from "@/layouts/Layout";
import Picture from "@/components/images/Picture";
---

<Layout title="About Us">
    <Picture src="shop/2022-12-05/shop-shoot_21.jpg" loading="eager" class="w-full h-[25em] object-cover" />

    <div class="-mt-20 section section-bottom">
        <Container padding={true}>
            <div class="grid grid-cols-2 sm:gap-4">
                <!-- black content area -->
                <div class="box-spacing bg-black col-span-2 lg:col-span-1 text-white space-y-8">
                    <h1>The Best Off-Road Truck Outfitter in Texas!</h1>
                    <p>THOR is the premiere truck and off-road vehicle outfitter in Texas with the unique automotive knowledge, technical expertise, and deep customer insights to consistently deliver the truck or adventure vehicle of our customers' dreams.</p>
                    <p>
                        THOR is passionate about creating purpose-built vehicles for our customers, but we also thrive on building strong personal relationships that are based on competence and trust. We are experts in all things off-road and love to inspire and help our customers to build the truck
                        or adventure vehicle that they have always wanted. We aren't satisfied until we hear our customers say: <span class="italic font-semibold">"Wow, I can't believe that's my truck!"</span>
                    </p>
                    <p>If you'd like to visit our shop, we're located at {`${Business.address.street01} ${Business.address.street02}, ${Business.address.city}, ${Business.address.state}, ${Business.address.zip}`} and open {Business.hours}.</p>

                    <div class="flex flex-col">
                        <div class="font-bold text-xl tracking-tighter">Jamey Whitlock</div>
                        <div>Owner, THOR Off-Road</div>
                    </div>
                </div>

                <div class="col-span-2 lg:col-span-1 relative">
                    <Picture src="team/jamey/jamey.jpg" loading="eager" sizes="50vw" class="w-full h-full object-cover absolute object-[50%,30%]" />
                </div>
            </div>
        </Container>
    </div>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.4307137009937!2d-98.0231541877444!3d30.196252074742556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b46992512c29d%3A0x8d5bae8937d3b284!2sTHOR%20Off%20Road!5e0!3m2!1sen!2sus!4v1694229765516!5m2!1sen!2sus"
        title="Map showing THOR-Off Road's store location in Dripping Springs"
        class="w-full h-[40em]"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</Layout>
