---
import Layout from "../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Button from "../components/buttons/Button.astro";
import Container from "../components/Container.astro";
import Gallery from "../components/images/Gallery.astro";
import HeadingBase from "@/components/content/headings/HeadingBase";
import ImageOverlay from "@/components/content/headings/ImageOverlay";
import Picture from "../components/images/Picture.astro";
import PostSnippet from "@/components/posts/PostSnippet";
import Section from "../components/Section.astro";
import Testimonial from "../components/Testimonial.astro";

// config
import { Business } from "../config";

// content
import { getCollection } from "astro:content";
const allTestimonials = await getCollection("testimonials");
const allBrands = await getCollection("brands", ({ data }) => {
    return data.featured == true;
});

// images
import { getBuildImage } from "../functions/Image.js";

// images
const headers = [
    {
        src: "shop/2023-02-23/shop-shoot_01.jpg",
        alt: "Ford Super Duty in Dripping Springs, TX",
    },
    {
        src: "shop/2022-12-05/shop-shoot_15.jpg",
        alt: "Truck outfitting in Austin, TX",
    },
    {
        src: "builds/298562/13.jpg",
        alt: "Highly modified Dodge RAM Power Wagon",
    },
    {
        src: "shop/2022-12-05/shop-shoot_06.jpg",
        alt: "Wheels and tires ready for installation",
    },
    {
        src: "builds/266375/02.jpg",
        alt: "Baja Designs lighting installed on a Ford Bronco",
    },
];
---

<Layout>
    <ImageOverlay src="shop/2022-03-09/shop-shoot_01.jpg">
        <HeadingBase>
            <h1 slot="heading">{Business.nameLong} partners with the best.</h1>
            <div slot="description">We've built partnerships with the best brands, nobody carries more Carli parts or knows the performance suspension options for your vehicle better than {Business.nameLong}.</div>

            <div class="flex flex-col gap-4 sm:flex-row sm:justify-center lg:justify-start items-center gap-x-6">
                <Button icon="hero/WrenchScrewdriverFill" theme="secondary" href="/contact">Build Your Dream Truck</Button>
                <Button icon="hero/ArrowRightCircleFill" href="/builds">See Our Builds</Button>
            </div>
        </HeadingBase>
    </ImageOverlay>

    <Section>
        <Container>
            <!-- brand logos -->
            <div class="mx-auto grid grid-cols-4 gap-6 md:gap-12">
                {
                    allBrands
                        .map((b) => (
                            <div class="bg-stone-100 p-6 flex justify-center rounded-sm">
                                <Icon name={`brands/${b.data.logo}`} alt={b.data.title} class="h-16 w-1/2 object-contain text-stone-900 place-self-center" />
                            </div>
                        ))
                        .slice(0, 12)
                }
            </div>
        </Container>

        <div class="grid grid-cols-12 grid-rows-2 gap-10 h-[1000px]">
            <div class="col-span-6 row-span-2">
                <Picture src={headers[0].src} class="object-cover w-full h-full rounded-sm" alt={headers[0].alt} />
            </div>
            <div class="col-span-3 row-span-1">
                <Picture src={headers[2].src} class="object-cover w-full h-full rounded-sm" alt={headers[2].alt} />
            </div>
            <div class="col-span-3 row-span-1">
                <Picture src={getBuildImage(405642, 5)} class="object-cover w-full h-full rounded-sm" />
            </div>
            <div class="row-start-2 col-start-7 col-span-6">
                <Picture src={headers[4].src} class="object-cover w-full h-full rounded-sm" alt={headers[3].alt} />
            </div>
        </div>

        <Section>
            <Container classes="space-y-16">
                <div class="flex justify-between items-center">
                    <h2 class="">We're building our <br /> customer's dream vehicles.</h2>
                    <Button href="/builds" theme="primary">See All Builds</Button>
                </div>

                <div class="grid grid-cols-2 lg:grid-cols-3 gap-[1px] bg-stone-300 rounded-sm border border-stone-300">
                    {allTestimonials.map((t) => <Testimonial content={t.data} />).slice(0, 9)}
                </div>
            </Container>
        </Section>

        <Gallery classes="flex flex-col gap-12">
            <div class="grid grid-cols-12 grid-rows-2 gap-12 h-[1000px]">
                <Picture src={getBuildImage(108058, 3)} class="w-full h-full object-cover rounded-sm col-span-6 row-span-2" sizes="1000px" />
                <Picture src={getBuildImage(276780, 6)} class="w-full h-full object-cover rounded-sm col-span-3 row-span-1" sizes="1000px" />
                <Picture src={getBuildImage(695527, 7)} class="w-full h-full object-cover rounded-sm col-span-3 row-span-1" sizes="1000px" />
                <Picture src={getBuildImage(791924, 7)} class="w-full h-full object-cover rounded-sm col-span-6 col-start-7" sizes="1000px" />
            </div>
        </Gallery>
    </Section>
</Layout>
