---
import Layout from "@/layouts/Layout";

import { getBuildImage } from "@/functions/Image";
import { getCollection } from "astro:content";

import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Icon from "@/components/Icon";
import Part from "@/components/content/snippets/Part";
import Picture from "@/components/images/Picture";
import Testimonial from "@/components/content/testimonials/Testimonial";

// content
const allBrands = await getCollection("brands", ({ data }) => {
    return data.featured == true;
});
const allParts = await getCollection("parts");
const allTestimonials = await getCollection("testimonials", ({ data }) => {
    return data.featured.homepage == true;
});
---

<Layout>
    <Picture src="builds/662677/02.jpg" buildId={662677} loading="eager" class="header-image" />

    <div class="-mt-20 section section-bottom">
        <Container padding={false}>
            <div class="grid grid-cols-2 sm:gap-4">
                <!-- black content area -->
                <div class="box-spacing bg-black col-span-2 lg:col-span-1 text-white space-y-8">
                    <h1>The Best Off-Road Truck Outfitter in Texas!</h1>
                    <p class="text-base">THOR is the premiere truck and off-road vehicle outfitter in Texas with the unique automotive knowledge, technical expertise, and deep customer insights to consistently deliver the truck or adventure vehicle of our customers' dreams.</p>
                    <p>
                        THOR is passionate about creating purpose-built vehicles for our customers, but we also thrive on building strong personal relationships that are based on competence and trust. We are experts in all things off-road and love to inspire and help our customers to build the truck
                        or adventure vehicle that they have always wanted. We aren't satisfied until we hear our customers say: <span class="italic font-semibold">"Wow, I can't believe that's my truck!"</span>
                    </p>

                    <!-- cta buttons -->
                    <div class="flex flex-col gap-4 sm:flex-row lg:flex-col xl:flex-row">
                        <a href="/contact" class="button button-primary !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/WrenchScrewdriverFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">Build Your Truck</div>
                        </a>

                        <a href="/builds" class="button button-ghost !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/ArrowRightCircleFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">See Our Builds</div>
                        </a>
                    </div>
                </div>

                <!-- testimonials -->
                <div class="grid col-span-2 lg:col-span-1 grid-cols-1 sm:grid-cols-2 sm:gap-4 divide-y divide-neutral-300 sm:divide-y-0">
                    <div class="bg-white px-4 py-6 sm:p-6">
                        <Testimonial content={allTestimonials[2]} lines="line-clamp-5" />
                    </div>
                    <div class="bg-white px-4 py-6 sm:p-6">
                        <Testimonial content={allTestimonials[1]} lines="line-clamp-5" />
                    </div>

                    <div class="sm:col-span-2 bg-white px-4 py-6 sm:p-6">
                        <Testimonial content={allTestimonials[0]} />
                    </div>

                    <div class="bg-white px-4 py-6 sm:p-6">
                        <Testimonial content={allTestimonials[3]} lines="line-clamp-5" />
                    </div>
                    <div class="bg-white px-4 py-6 sm:p-6">
                        <Testimonial content={allTestimonials[4]} lines="line-clamp-5" />
                    </div>
                </div>
            </div>
        </Container>
    </div>

    <div class="bg-neutral-50">
        <Container>
            <div class="section grid grid-cols-3 lg:grid-cols-4 justify-between gap-8">
                {allBrands.map((b) => <Icon icon={`brands/${b.data.logo}`} alt={b.data.title} class="h-8 w-1/2 text-stone-900 place-self-center" />).slice(0, 12)}
            </div>

            <div class="section section-bottom grid md:grid-cols-2 gap-10">
                <div class="flex flex-col justify-between gap-y-6">
                    <div class="space-y-8">
                        <h2>We Sell and Install the Best<br /> Off-Road Parts</h2>
                        <p>THOR is the premiere truck and off-road vehicle outfitter in Texas with the unique automotive knowledge, technical expertise, and deep customer insights to consistently deliver the truck or adventure vehicle of our customers' dreams.</p>
                    </div>

                    <div>
                        <a href="/contact" class="button button-ghost button-inverse">
                            <div class="button-text text-sm lg:text-base">Build Your Vehicle</div>
                        </a>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-8">
                    {allParts.map((p) => <Part part={p} />)}
                </div>
            </div>
        </Container>
    </div>

    <Gallery>
        <div class="grid grid-cols-12 grid-rows-1 md:grid-rows-2 md:h-[1000px]">
            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="object-cover w-full h-full col-span-12 md:col-span-6 md:row-span-2 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="object-cover w-full h-full col-span-12 md:col-span-3 md:row-span-1" sizes="(min-width: 768px) 25vw, 100vw" />
            <Picture src={getBuildImage(405642, 5)} buildId={405642} class="object-cover w-full h-full col-span-12 md:col-span-3 md:row-span-1" sizes="(min-width: 768px) 25vw, 100vw" />
            <Picture src={getBuildImage(266375, 2)} buildId={266375} class="object-cover w-full h-full col-span-12 md:row-start-2 md:col-start-7 md:col-span-6" sizes="(min-width: 768px) 50vw, 100vw" />
        </div>
        <div class="grid grid-cols-12 grid-rows-1 md:grid-rows-2 md:h-[1000px]">
            <Picture src={getBuildImage(108058, 3)} buildId={108058} class="object-cover w-full h-full col-span-12 md:col-span-6 md:row-span-2" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(276780, 6)} buildId={276780} class="object-cover w-full h-full col-span-12 md:col-span-3 md:row-span-1" sizes="(min-width: 768px) 25vw, 100vw" />
            <Picture src={getBuildImage(453172, 2)} buildId={453172} class="object-cover w-full h-full col-span-12 md:col-span-3 md:row-span-1" sizes="(min-width: 768px) 25vw, 100vw" />
            <Picture src={getBuildImage(791924, 7)} buildId={791924} class="object-cover w-full h-full col-span-12 md:row-start-2 md:col-start-7 md:col-span-6" sizes="(min-width: 768px) 50vw, 100vw" />
        </div>
    </Gallery>
</Layout>
