---
import Layout from "../layouts/Layout.astro";

// components
import { Image } from "astro:assets";
import Break from "../components/Break.astro";
import Button from "../components/buttons/Button.astro";
import Container from "../components/Container.astro";
import Section from "../components/Section.astro";
import Link from "../components/buttons/Link.astro";
import PostSnippet from "../components/posts/PostSnippet.astro";
import Testimonial from "../components/Testimonial.astro";
import TireTracks01 from "../components/vectors/tracks/TireTracks01.astro";

// images
import header01 from "../assets/images/header01.jpg";
import header02 from "../assets/images/header02.jpg";
import header03 from "../assets/images/header03.jpg";
import header04 from "../assets/images/header04.jpg";

import bds from "../assets/images/brands/bds.png";
import method from "../assets/images/brands/method.png";
import carli from "../assets/images/brands/carli.png";
import add from "../assets/images/brands/add.png";
import retrax from "../assets/images/brands/retrax.png";
import raceline from "../assets/images/brands/raceline.png";
import fox from "../assets/images/brands/fox.png";
import blackrhino from "../assets/images/brands/black-rhino.png";
import bajadesigns from "../assets/images/brands/baja-designs.png";

import jamey from "../assets/images/jamey.jpg";
import headshot from "../assets/images/jamey02.jpg";

import post from "../assets/images/post.jpg";

// data
const review = [
    "<p>“THOR Off-Road did a fantastic job on my Stage 8 Icon install for 3rd Gen Tacoma. With all the shipping delays occurring, the parts came in much faster than anticipated and communication was on-point. Install was completed efficiently with everything tested, torqued, QC'd perfectly.</p><p>Highly recommend these guys for any off-road auto needs.”</p>",
    "<p>Seamless transaction when I went to THOR Off-Road, Personnel were extremely knowledgable and very friendly.</p>",
    "<p>The team at THOR Off-Road helped me get my Carli Suspension system completed and corrected after another shop used some incorrect parts and installation methods. They were very easy to communicate with and get a hold of and willing to answer any and all questions I had.</p>",
    "<p>I was traveling across the country and had a major issue and included a brake line blowing and nobody in Austin could help me. I rolled in early here and even though they were super busy and these guys did an amazing job of taking care of me.</p>",
    "<p>I knew I wanted a Carli suspension system when I bought my truck and was pleasantly surprised to find out I lived down the road from Texas' only Carli stocking dealer in THOR Off-Road. It was immediately evident from the moment I walked in the shop that they were as excited to help design my upgrades as I was and that made the process so enjoyable.</p>",
    "<p>Well-oiled machine. The guys at THOR Off-Road do a great job from quoting, scheduling, completing the job on-time and on budget, and getting me out of there. This is the second time I've had work done to my truck. The first time was installing a Ranch Hand grill guard, this time a larger fuel tank.</p>",
    "<p>The guys at THOR Off-Road are top notch! They just installed my fully optioned Carli 3.25 Pintop on my Cummins and I can't be happier. They gained me as a lifetime costumer.</p>",
    "<p>THOR Off-Road recently installed a lift/level kit on my 2020 Jeep Gladiator. The work was top notch, done on time as promised, and at a reasonable price. Am very pleased and already working with them to perform upgrade suspension work on another 4x4!</p>",
    "<p>THOR Off-Road has the best staff I have ever encountered at an off road shop! They are all very professional, knowledgeable and polite.</p>",
];
---

<Layout>
    <!-- header images -->
    <div class="grid grid-cols-2 lg:grid-cols-4 grid-rows-2 lg:grid-rows-1 h-[400px] md:h-[600px] lg:h-[500px]">
        <div class="units order-1">
            <Image src={header01.src} width={header01.width} height={header01.height} class="object-cover w-full h-full object-[50%,80%] lg:object-center" alt="THOR Off-Road" />
            <Image src={header01.src} width={header01.width} height={header01.height} class="object-cover w-full h-full object-[50%,80%] lg:object-center hidden lg:block" alt="THOR Off-Road" />
        </div>

        <div class="units order-2">
            <img src={header02.src} class="object-cover w-full h-full object-left-bottom lg:object-center" />
            <img src={header02.src} class="object-cover w-full h-full object-left-bottom lg:object-center hidden lg:block" />
        </div>
        <div class="units order-4 lg:order-3">
            <img src={header03.src} class="object-cover w-full h-full object-left lg:object-left-bottom" />
            <img src={header03.src} class="object-cover w-full h-full object-left lg:object-left-bottom" />
        </div>
        <div class="units order-3 lg:order-4">
            <img src={header04.src} class="object-cover w-full h-full object-top sm:object-[50%,20%] lg:object-center" />
            <img src={header04.src} class="object-cover w-full h-full object-top lg:object-center" />
        </div>
    </div>

    <div class="bg-gradient-to-r from-gray-900 to-gray-700">
        <!-- brands -->
        <Section classes="relative z-10">
            <Container>
                <div class="grid grid-cols-1 items-center gap-16 lg:grid-cols-2">
                    <div class="mx-auto max-w-xl lg:mx-0 space-y-8">
                        <h1>THOR Off-Road partners with the best brands.</h1>
                        <p class="text-lg leading-8 text-gray-300">We've built partnerships with the best brands, nobody carries more Carli parts or knows the performance suspension options for your vehicle better than THOR Off-Road.</p>

                        <div class="flex flex-col gap-4 sm:flex-row items-center gap-x-6">
                            <Button text="Build Your Dream Truck" theme="primary" />
                            <Link text="See Our Work" />
                        </div>
                    </div>

                    <!-- brand logos -->
                    <div class="mx-auto grid max-w-xl items-center grid-cols-3 gap-12 lg:gap-8 lg:mx-0 lg:max-w-none">
                        <img src={bds.src} class="max-h-12 w-full object-contain" />
                        <img src={method.src} class="max-h-8 w-full object-contain" />
                        <img src={carli.src} class="max-h-16 w-full object-contain" />
                        <img src={add.src} class="max-h-12 w-full object-contain object-center" />
                        <img src={retrax.src} class="max-h-10 w-full object-contain object-center" />
                        <img src={raceline.src} class="max-h-8 w-full object-contain object-center" />
                        <img src={fox.src} class="max-h-12 w-full object-contain object-center" />
                        <img src={blackrhino.src} class="max-h-8 w-full object-contain object-center" />
                        <img src={bajadesigns.src} class="max-h-12 w-full object-contain object-center" />
                    </div>
                </div>
            </Container>
        </Section>

        <Break />

        <!-- the THOR difference -->
        <Section classes="relative">
            <TireTracks01 classes="absolute bottom-0 right-0 w-[800px] text-gray-700/10 sm:text-gray-700/20" />

            <Container classes="relative">
                <div class="grid grid-cols-1 items-start gap-12 md:grid-cols-2">
                    <div class="hidden md:block md:relative h-full w-full">
                        <img src={jamey.src} class="md:absolute h-full w-full object-cover md:object-[60%,10%] lg:object-[50%,30%] shadow-2xl rounded-md" alt="" />
                    </div>

                    <div>
                        <div class="text-base leading-7 text-gray-700 md:py-16 lg:py-32">
                            <h2 class="lg:max-w-lg">The THOR Off-Road Difference.</h2>
                            <div class="text-lg leading-8 text-gray-300">
                                <p class="mt-8 text-lg sm:text-xl leading-8 sm:leading-9">THOR is the premiere truck and off-road vehicle outfitter in Texas with the unique automotive knowledge, technical expertise, and deep customer insights to consistently deliver the truck or adventure vehicle of our customers' dreams. Come experience your own purpose-built vehicle.</p>
                                <p class="mt-8 text-gray-400">
                                    THOR is passionate about creating purpose-built vehicles for our customers, but we also thrive on building strong personal relationships that are based on competence and trust. We are experts in all things off-road and love to inspire and help our customers to build the truck or adventure vehicle that they have always wanted. We aren't satisfied until we hear
                                    our customers say,
                                    <em>“Wow, I can't believe that's my truck!”</em>
                                </p>
                                <div class="mt-16 flex flex-col gap-4">
                                    <img src={headshot.src} class="md:hidden rounded-full w-16 h-auto border border-gray-600" />

                                    <div class="flex flex-col gap-2">
                                        <p class="font-cursive text-4xl">Jamey Whitlock</p>
                                        <p class="text-gray-400">Owner, THOR Off-Road</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </Container>
        </Section>

        <Break />

        <!-- testimoinals -->
        <Section>
            <Container>
                <div class="mx-auto max-w-xl text-center space-y-4">
                    <p class="text-lg font-semibold leading-8 tracking-tight text-gray-400">Testimonials</p>
                    <h2>We're building our customer's dream vehicles.</h2>
                </div>

                <div class="mx-auto mt-16 flow-root sm:mt-20">
                    <div class="sm:columns-2 lg:columns-3 gap-8">
                        {review.map((r) => <Testimonial review={r} />)}
                    </div>
                </div>
            </Container>
        </Section>

        <Break />

        <!-- recent builds -->
        <Section>
            <Container>
                <div class="columns-2 lg:columns-3 space-y-4">
                    <Image src={header01.src} width={header01.width} height={header01.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                    <Image src={header02.src} width={header02.width} height={header02.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                    <Image src={header03.src} width={header03.width} height={header03.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                    <Image src={header04.src} width={header04.width} height={header04.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                    <Image src={header01.src} width={header01.width} height={header01.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                    <Image src={header02.src} width={header02.width} height={header02.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                    <Image src={header03.src} width={header03.width} height={header03.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                    <Image src={header04.src} width={header04.width} height={header04.height} class="rounded-md shadow-2xl aspect-square object-cover" alt="THOR Off-Road" />
                </div>
            </Container>
        </Section>

        <!-- recent posts -->
        <Section>
            <Container>
                <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-16">
                    <article class="space-y-6 w-full max-w-2xl lg:max-w-lg">
                        <time datetime="2020-03-16" class="text-sm leading-6 text-gray-400">Mar 16, 2020</time>

                        <h3>Torsion Sway Bars: The What, Why & How</h3>
                        <p class="text-lg leading-8 text-gray-400">When optioning a Carli suspension package on a Super Duty or Ram what are the benefits of running a Torsion Sway Bar over the factory sway bar and is it right for me? Let's dig right in and talk about what a Factory Sway Bar does.</p>

                        <Link text="Continue Reading" />
                    </article>

                    <div class="pt-12 grid xl:grid-cols-2 gap-12">
                        <PostSnippet />
                        <PostSnippet />
                        <PostSnippet />
                        <PostSnippet />
                    </div>
                </div>
            </Container>
        </Section>
    </div>
</Layout>

<style type="text/css">
    .units > :last-child {
        transform: rotatex(180deg) translatey(0px);
        mask-image: linear-gradient(transparent 80%, white 180%);
        -webkit-mask-image: linear-gradient(transparent 80%, white 180%);
    }
</style>
