---
// modules
import Filehound from "filehound";

// layouts
import Layout from "@/layouts/Layout";

// components
import { Image } from "@astrojs/image/components";
import Container from "@/components/Container";

// config
import { imageConfig } from "@/src/config";

// functions
import { getImage, getPublicPath } from "@/functions/Media";

// page data
// find all json files in the image directory
const filehound = Filehound.create();
const files = filehound.paths("src/assets/images").ext("json").find();

const fileList = await files;
const imageList = [];
for (const file of fileList) {
    const replace = file.replace("src\\assets\\images\\", "").replaceAll("\\", "/").replace(".json", ".jpg");
    imageList.push(replace);
}

const jsonList = [];
for (const file of fileList) {
    const replaceJson = file.replace("src\\assets\\images\\", "").replaceAll("\\", "/").replace(".json", "");
    const imageData = await getImage(replaceJson);
    jsonList.push(imageData);
}
---

<Layout>
    <Container>
        <div class="grid grid-cols-6 gap-8">
            {
                jsonList.map((i) => (
                    <a class="cursor-pointer" onclick={`copyToClipboard('${i.src}')`}>
                        <Image src={i.src} width={200} aspectRatio={i.aspectRatio} alt={i.alt} />
                    </a>
                ))
            }
        </div>
    </Container>
</Layout>

<script define:vars={{ imageConfig }}>
    function copyToClipboard(text) {
        const url = text.replace(`${imageConfig.cloudUrl}/images/`, ``).replace(`.jpg`, ``);

        navigator.clipboard.writeText(url);
    }
</script>
