---
import Layout from "@/layouts/Layout";

// imports
import { supabaseService } from "@/library/supabase";
import Container from "@/components/Container";
import Map from "@/components/backgrounds/Map";

// data
const allMakes = await supabaseService.from("makes").select("*").eq("status", true);
const allParts = await supabaseService.from("parts").select("*");
---

<Layout title="Sitemap">
	<Map classes="bg-rock-100" opacity={0.03}>
		<Container classes="section space-y-16">
			<h1 class="uppercase">THOR <strong>Sitemap</strong></h1>
			<div class="grid grid-cols-3 max-w-2xl">
				<div class="space-y-4">
					<p class="font-semibold text-2xl">Vehicles</p>
					<ul class="space-y-2">
						{
							allMakes.data.map((m) => (
								<li>
									<a href={`/vehicles/${m.slug}`} title={m.title}>
										{m.title}
									</a>
								</li>
							))
						}
					</ul>
				</div>

				<div class="space-y-4">
					<p class="font-semibold text-2xl">Parts</p>
					<ul class="space-y-2">
						{
							allParts.data.map((p) => (
								<li>
									<a href={`/parts/${p.slug}`} title={p.title}>
										{p.title}
									</a>
								</li>
							))
						}
					</ul>
				</div>

				<div class="space-y-4">
					<p class="font-semibold text-2xl">Miscellaneous</p>
					<ul class="space-y-2">
						<li>
							<a href="/builds" title="Builds">Builds</a>
						</li>
						<li>
							<a href="/about" title="About THOR">About THOR Off-Road</a>
						</li>
						<li>
							<a href="/terms-of-use" title="Terms of Use">Terms of Use</a>
						</li>
						<li>
							<a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
						</li>
						<li>
							<a href="/contact" title="Contact Us">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
		</Container>
	</Map>
</Layout>
