---
import { Business } from "@/config";
import { getCollection } from "astro:content";

const allMakes = await getCollection("makes");
const allModels = await getCollection("models");

// build year options
const yearStart = 1970;
const yearEnd = new Date().getFullYear();
var years = Array.from(Array(yearEnd + 1 - yearStart), (_, i) => (i + yearStart).toString()).reverse();
---

<form class="space-y-6" action="/api/contact/lead/" method="post">
	<div class="space-y-2">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" autocomplete="name" required />
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
		<div class="space-y-2">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" autocomplete="email" required />
		</div>
		<div class="space-y-2">
			<label for="phone">Phone number</label>
			<input type="tel" name="phone" id="phone" autocomplete="tel" />
		</div>
		<div class="hidden space-y-2">
			<label for="zip">Zip Code</label>
			<input type="text" name="zip" id="zip" />
		</div>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
		<div class="space-y-2">
			<label for="year">Year</label>
			<select name="year" id="year">
				<option disabled selected>Choose Year</option>
				{years.map((y) => <option value={y}>{y}</option>)}
			</select>
		</div>

		<div class="space-y-2">
			<label for="make">Vehicle Make</label>
			<select name="make" id="make">
				<option disabled selected>Choose Make</option>
				{allMakes.map((m) => <option value={m.id}>{m.data.title}</option>)}
			</select>
		</div>

		<div class="space-y-2">
			<label for="model">Vehicle Model</label>
			<select name="model" id="model">
				<option disabled selected>Choose Model</option>
			</select>
		</div>
	</div>

	<div class="space-y-2">
		<label for="message">Message</label>
		<textarea name="message" id="message" rows="4"></textarea>
	</div>

	<input type="hidden" name="url" id="url" value={Astro.url.pathname} />
	<input type="hidden" name="marketing" id="marketing" value="" />

	<div class="flex flex-col sm:flex-row gap-6 sm:gap-0 justify-between items-center">
		<button type="submit" class="button button-primary button-inverse">Let's Go!</button>

		<p class="text-white text-right">
			We're also available for a<br />chat at <a class="font-bold underline" href={`tel:${Business.phone.number}`}>{Business.phone.formatted}</a>
		</p>
	</div>
</form>

<script is:inline define:vars={{ allMakes, allModels }}>
	const selectMake = document.getElementById("make");
	const selectModel = document.getElementById("model");

	getModelsFromMake(allMakes, allModels, selectMake, selectModel, true, false);

	// insert marketing data into form variable
	document.getElementById("marketing").value = JSON.stringify(visitData.get());
</script>
