---
// components
import { Icon } from "astro-icon";
import ContactForm from "./ContactForm.astro";
import Container from "./Container.astro";
import Section from "./Section.astro";

// config
import { Business } from "../config.js";
---

<div class="relative bg-stone-300">
    <Container classes="relative">
        <Section>
            <div class="grid md:grid-cols-5 lg:gap-16">
                <h2 class="md:col-span-2">Let's start building your dream vehicle.</h2>
                <div class="md:col-span-3"></div>

                <div class="md:col-span-2">
                    <div class="text-stone-600 text-lg leading-7 tracking-tight space-y-6">
                        <p>If you are ready to get started on designing and building the perfect truck, so are we. Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>

                        <div class="space-y-8">
                            <div class="flex gap-x-4 items-start">
                                <Icon name="hero/Phone" class="w-4 h-auto" />
                                <div class="text-base">{Business.phone}</div>
                            </div>
                            <div class="flex gap-x-4 items-start">
                                <Icon name="hero/Envelope" class="w-4 h-auto" />
                                <div class="text-base">{Business.email}</div>
                            </div>
                            <div class="flex gap-x-4 items-start">
                                <Icon name="hero/Map" class="w-4 h-auto" />
                                <div class="text-base">{Business.address.street01} {Business.address.street02}<br />{Business.address.city}, {Business.address.state}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:col-span-3 flex flex-col mt-16 lg:mt-0">
                    <ContactForm />
                </div>
            </div>
        </Section>
    </Container>
</div>
