---
// components
import { Icon } from "astro-icon";
import ContactForm from "./ContactForm.astro";
import Container from "./Container.astro";
import Section from "./Section.astro";

// config
import { Business } from "../config.js";

// images
import truck from "../assets/images/header01.jpg";
---

<div class="bg-neutral-300">
    <Container>
        <Section>
            <div class="grid lg:grid-cols-5 gap-16">
                <div class="lg:col-span-2 space-y-8 py-12 rounded-l-md">
                    <h2 class="text-neutral-800">Let's start building your dream vehicle.</h2>

                    <div class="text-neutral-700 leading-7">
                        <p>If you are ready to get started on designing and building the perfect truck, so are we. Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>
                    </div>

                    <div class="w-full">
                        <ContactForm />
                    </div>
                </div>

                <div class="lg:col-span-3 flex flex-col">
                    <div class="hidden lg:block relative w-full h-full">
                        <img src={truck.src} class="absolute object-cover w-full h-full object-[50%,80%] rounded-t-md shadow-xl z-10" />
                    </div>

                    <div class="grid grid-cols-3 rounded-b-md bg-neutral-200 divide-x divide-neutral-300">
                        <div class="space-y-2 p-6">
                            <div class="flex items-center gap-2">
                                <Icon name="Map" class="h-5 w-5 flex-none text-neutral-700" />
                                <h6 class="text-neutral-700">Visit Us</h6>
                            </div>

                            <p class="text-neutral-500 text-sm">{Business.address.street01} {Business.address.street02}, {Business.address.city}, {Business.address.state}. We're open {Business.hours}.</p>
                        </div>

                        <div class="space-y-2 p-6 max-w-">
                            <div class="flex items-center gap-2">
                                <Icon name="Phone" class="h-5 w-5 flex-none text-neutral-700" />
                                <h6 class="text-neutral-700">Call Us</h6>
                            </div>
                            <p class="text-neutral-500 text-sm">Please feel free to reach out to us anytime at <a class="hover:underline font-semibold text-neutral-600 whitespace-nowrap" href={`tel:${Business.phone}`}>{Business.phone}</a>.</p>
                        </div>

                        <div class="space-y-2 p-6">
                            <div class="flex items-center gap-2">
                                <Icon name="Envelope" class="h-5 w-5 flex-none text-neutral-700" />
                                <h6 class="text-neutral-700">Email Us</h6>
                            </div>
                            <p class="text-neutral-500 text-sm">Shoot us an email anytime, <a class="hover:underline text-neutral-600 font-semibold" href={`mailto:${Business.email}`}>{Business.email}</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </Section>
    </Container>
</div>
