---
// components

import { Icon } from "astro-icon";
import Break from "./Break.astro";
import Container from "./Container.astro";
import Section from "./Section.astro";

// config
import { Social, Business } from "../config.js";

// content
import { getCollection } from "astro:content";
const allParts = await getCollection("parts");
const allVehicles = await getCollection("vehicles");

// images
import { Image } from "astro:assets";
import { getImage } from "../functions/Image";
import logo from "../assets/images/logo-white.png";
const recent = [
    {
        src: "shop/2023-02-22/shop-shoot_03.jpg",
        alt: "Truck being built at THOR Off Road",
    },
    {
        src: "shop/2023-02-22/shop-shoot_20.jpg",
        alt: "Truck being built at THOR Off Road",
    },
    {
        src: "shop/2023-02-22/shop-shoot_23.jpg",
        alt: "Truck being built at THOR Off Road",
    },
    {
        src: "shop/2023-02-22/shop-shoot_38.jpg",
        alt: "Truck being built at THOR Off Road",
    },
    {
        src: "shop/2023-02-22/shop-shoot_15.jpg",
        alt: "Truck being built at THOR Off Road",
    },
    {
        src: "shop/2022-12-05/shop-shoot_41.jpg",
        alt: "Truck being built at THOR Off Road",
    },
];
import header01 from "../assets/images/header01.jpg";
import header02 from "../assets/images/header02.jpg";
import header03 from "../assets/images/header03.jpg";
import header04 from "../assets/images/header04.jpg";
---

<footer class="bg-neutral-900">
    <Section>
        <Container>
            <h2 class="sr-only">Footer</h2>

            <div class="grid grid-cols-2 xl:grid-cols-3 gap-24 mb-24">
                <div class="space-y-12 order-1 col-span-2 md:col-span-1">
                    <Image src={logo.src} alt={Business.nameLong} width={1079} height={336} class="h-14 w-auto" />

                    <p class="text-md leading-7 text-neutral-300">Located in Dripping Springs, Texas, {Business.nameLong} are experts in designing and building off-road vehicles that deliver the exact performance and style that our customers dream about.</p>

                    <!-- social -->
                    <div class="flex space-x-6">
                        {
                            Social.map((s) => (
                                <a href={s.url} target="_blank" title={`THOR Off-Road ${s.title}`}>
                                    <Icon name={`social/${s.icon}`} class="w-4 text-white" />
                                </a>
                            ))
                        }
                    </div>
                </div>

                <!-- images -->
                <div class="xl:col-span-1 order-3 xl:order-2 col-span-2 space-y-6">
                    <h6>Instagram Photos</h6>

                    <div class="grid grid-cols-3 gap-6">
                        {recent.map((i) => <Image src={getImage(i.src)} alt={i.alt} width={250} height={250} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />)}
                    </div>
                </div>

                <!-- navigation -->
                <div class="order-2 xl:order-3 col-span-2 md:col-span-1">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="space-y-6">
                            <h6>Vehicles</h6>
                            <ul role="list" class="space-y-2">
                                {
                                    allVehicles.map((v) => (
                                        <li>
                                            <a href={`/vehicles/${v.slug}`} title={v.data.title} class="text-sm leading-6 text-neutral-400 hover:text-neutral-200">
                                                {v.data.title}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div class="space-y-6">
                            <h6>Parts</h6>
                            <ul role="list" class="space-y-2">
                                {
                                    allParts.map((p) => (
                                        <li>
                                            <a href={`/parts/${p.slug}`} title={p.data.title} class="text-sm leading-6 text-neutral-400 hover:text-neutral-200">
                                                {p.data.title}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div class="space-y-6">
                            <h6>Other</h6>
                            <ul role="list" class="space-y-2">
                                <li>
                                    <a href="#" class="text-sm leading-6 text-neutral-400 hover:text-neutral-200">Sitemap</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm leading-6 text-neutral-400 hover:text-neutral-200">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm leading-6 text-neutral-400 hover:text-neutral-200">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <Break />

            <div class="mt-8 grid gap-y-2 md:grid-cols-2 md:justify-between">
                <p class="text-sm leading-5 text-neutral-400">&copy; {Business.nameLong}. All rights reserved.</p>
                <p class="text-sm leading-5 text-neutral-400 md:justify-self-end">{Business.address.street01} {Business.address.street02}, {Business.address.city}, {Business.address.state}</p>
            </div>
        </Container>
    </Section>
</footer>
