---
// components
import { Icon } from "astro-icon";
import BuildSnippet from "@/components/builds/BuildSnippet";
import Button from "@/components/buttons/Button";
import Container from "@/components/Container";
import Cta from "@/components/Cta";
import Section from "@/components/Section";

// config
import { Social, Business } from "../config.js";

// content
import { getCollection } from "astro:content";
const featuredBuilds = ["340718", "453172", "266375", "695527"];
const allParts = await getCollection("parts");
const allMakes = await getCollection("makes");
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return featuredBuilds.includes(data.id.toString());
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Container>
    <Cta />
</Container>

<Section>
    <Container>
        <div class="space-y-12">
            <div class="flex justify-between items-center">
                <h3>Featured Builds</h3>
                <Button href="/builds" theme="primary">See All Builds</Button>
            </div>

            <div class="col-span-3 grid grid-cols-2 md:grid-cols-4 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" classes="bg-stone-100" />).slice(0, 4)}</div>
        </div>
    </Container>

    <Container>
        <footer>
            <div class="flex lg:flex-row flex-col lg:justify-between gap-24 mb-24">
                <div class="space-y-12 max-w-lg">
                    <Icon name="logo" class="h-14 w-auto" />

                    <p class="text-md leading-7 text-stone-800">Located in Dripping Springs, Texas, {Business.nameLong} are experts in designing and building off-road vehicles that deliver the exact performance and style that our customers dream about.</p>

                    <!-- contact -->
                    <div class="space-y-4 text-stone-800">
                        <div class="flex gap-x-4 items-start">
                            <Icon name="hero/Phone" class="w-4 h-auto" />
                            <a href={`tel:${Business.phone}`} class="text-base">{Business.phone}</a>
                        </div>
                        <div class="flex gap-x-4 items-start">
                            <Icon name="hero/Envelope" class="w-4 h-auto" />
                            <a href={`mailto:${Business.email}`} class="text-base">{Business.email}</a>
                        </div>
                        <div class="flex gap-x-4 items-start">
                            <Icon name="hero/Map" class="w-4 h-auto" />
                            <a href={Business.mapUrl} class="text-base">{Business.address.street01} {Business.address.street02}<br />{Business.address.city}, {Business.address.state}</a>
                        </div>
                    </div>

                    <!-- social -->
                    <div class="flex space-x-6">
                        {
                            Social.map((s) => (
                                <a href={s.url} target="_blank" title={`THOR Off-Road ${s.title}`}>
                                    <Icon name={s.icon} class="w-4 text-white" />
                                </a>
                            ))
                        }
                    </div>
                </div>

                <!-- navigation -->
                <div class="min-w-fit">
                    <div class="grid grid-cols-3 gap-12">
                        <div class="space-y-6">
                            <h6>Vehicles</h6>
                            <hr class="w-1/2 border-stone-300" />
                            <ul role="list" class="space-y-2">
                                {
                                    allMakes.map((m) => (
                                        <li>
                                            <a href={`/vehicles/${m.slug}`} title={m.data.title} class="text-sm leading-6 text-stone-700">
                                                {m.data.title}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div class="space-y-6">
                            <h6>Parts</h6>
                            <hr class="w-1/2 border-gray-300" />
                            <ul role="list" class="space-y-2">
                                {
                                    allParts.map((p) => (
                                        <li>
                                            <a href={`/parts/${p.slug}`} title={p.data.title} class="text-sm leading-6 text-stone-700">
                                                {p.data.title}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div class="space-y-6">
                            <h6>Other</h6>
                            <hr class="w-1/2 border-stone-300" />
                            <ul role="list" class="space-y-2">
                                <li>
                                    <a href="#" class="text-sm leading-6 text-stone-700">Sitemap</a>
                                </li>
                                <li>
                                    <a href="/privacy-policy" class="text-sm leading-6 text-stone-700">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/terms-of-use" class="text-sm leading-6 text-stone-700">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid gap-y-2 md:grid-cols-2 md:justify-between">
                <p class="text-sm leading-5 text-stone-500">&copy; {Business.nameLong}. All rights reserved.</p>
                <a href={Business.mapUrl} class="text-sm leading-5 text-stone-500 md:justify-self-end">{Business.address.street01} {Business.address.street02}, {Business.address.city}, {Business.address.state}</a>
            </div>
        </footer>
    </Container>
</Section>
