---
// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";

// data
import { business, logos } from "@/data/business";
---

<div class="bg-neutral-800 relative overflow-hidden">
    <Icon name="tracks/vertical/vertical-track-03" class="absolute inset-0 text-neutral-700/20 w-[300px] lg:w-[600px]" />

    <div class="relative z-10 py-16 md:py-24">
        <Container>
            <!-- logo -->
            <img src={`${logos.light}.svg`} alt={business.name_long} width="208" height="65" class="mb-8 md:mb-12 w-40 md:w-52 z-10" />

            <div class="flex flex-col md:flex-row justify-between gap-12">
                <div class="z-10 max-w-md font-light text-neutral-200 space-y-10">
                    <p>
                        Located in Dripping Springs, TX, {business.name_long} are experts in designing and building off-road vehicles that deliver the
                        exact performance and style that our customers dream about.
                    </p>

                    <div class="space-y-4 font-light">
                        <address>
                            {business.address.street_01}
                            {business.address.street_02}<br />
                            {business.address.city}, {business.address.state}<br />
                            {business.address.zip}
                        </address>
                        <div>
                            <a href={`tel:${business.phone}`} title={`Call ${business.name_long}`}>{business.phone}</a><br />
                            <a href={`mailto:${business.email}`} title={`Contact ${business.name_long}`}>{business.email}</a>
                        </div>
                        <div>{business.hours}</div>
                    </div>
                </div>

                <div class="z-10 flex flex-col md:flex-row gap-10 md:gap-20">
                    <div class="flex flex-col gap-3">
                        <h4 class="text-neutral-100">Vehicles</h4>
                        <ul class="text-neutral-200 font-light space-y-2">
                            <li>Chevrolet & GMC</li>
                            <li>Ford</li>
                            <li>RAM</li>
                            <li>Jeep</li>
                            <li>Toyota & Lexus</li>
                            <li>UTV's</li>
                        </ul>
                    </div>

                    <div class="flex flex-col gap-3">
                        <h4 class="text-neutral-100">Parts</h4>
                        <ul class="text-neutral-200 font-light space-y-2">
                            <li>Bed & Roof</li>
                            <li>Body & Bumper</li>
                            <li>Lighting</li>
                            <li>Performance</li>
                            <li>Specialties</li>
                            <li>Suspension</li>
                            <li>Wheel & Tire</li>
                        </ul>
                    </div>

                    <div class="flex flex-col gap-3">
                        <h4 class="text-neutral-100">Other</h4>
                        <ul class="text-neutral-200 font-light space-y-2">
                            <li>Sitemap</li>
                            <li>Privacy Policy</li>
                            <li>Terms of Use</li>
                        </ul>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</div>
