---
// imports
import { Icon } from "astro-icon";
import { Social, Business } from "@/config";
import { getBuildImage } from "@/functions/Image"
import Container from "@/components/Container";
import ContactForm from "@/components/ContactForm";
import Picture from "@/components/images/Picture"
import Section from "@/components/Section";

// content
import { getCollection } from "astro:content";

const allParts = await getCollection("parts");
const allMakes = await getCollection("makes");
---

<footer class="bg-black">
    <Container>
        <Section classes="space-y-20">
            <div class="grid lg:grid-cols-2 gap-20">
                <div class="mx-auto max-w-screen-md lg:max-w-none space-y-8">
                    <h1 class="text-white">Let's start building your dream vehicle.</h1>
                    <div class="text-white text-lg md:text-xl tracking-tight md:leading-8 space-y-6">
                        <p>If you are ready to get started on designing and building the perfect truck, so are we. Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>
                    </div>

                    <ContactForm />
                </div>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.4305513113804!2d-98.023154187185!3d30.19625671125402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b46992512c29d%3A0x8d5bae8937d3b284!2sTHOR%20Off%20Road!5e0!3m2!1sen!2sus!4v1701457813373!5m2!1sen!2sus"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    class="w-full h-[30em] lg:h-full border-0">
                </iframe>
            </div>

            <div class="grid grid-cols-3 lg:grid-cols-6">
                <Picture src={getBuildImage(108058, 3)} buildId={108058} class="object-cover w-full h-[10em] sm:h-[10em] md:h-[15em]" sizes="20vw" />
                <Picture src={getBuildImage(108058, 3)} buildId={108058} class="object-cover w-full h-[10em] sm:h-[10em] md:h-[15em]" sizes="20vw" />
                <Picture src={getBuildImage(108058, 3)} buildId={108058} class="object-cover w-full h-[10em] sm:h-[10em] md:h-[15em]" sizes="20vw" />
                <Picture src={getBuildImage(108058, 3)} buildId={108058} class="object-cover w-full h-[10em] sm:h-[10em] md:h-[15em]" sizes="20vw" />
                <Picture src={getBuildImage(108058, 3)} buildId={108058} class="object-cover w-full h-[10em] sm:h-[10em] md:h-[15em]" sizes="20vw" />
                <Picture src={getBuildImage(108058, 3)} buildId={108058} class="object-cover w-full h-[10em] sm:h-[10em] md:h-[15em]" sizes="20vw" />
            </div>

            <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-12 lg:gap-20">
                <div class="space-y-12 max-w-lg">
                    <Icon name="logo" class="h-14 w-auto text-white" />
                    <p class="text-white text-md leading-7">Located in Dripping Springs, Texas, {Business.nameLong} are experts in designing and building off-road vehicles that deliver the exact performance and style that our customers dream about.</p>
                </div>

                <div class="min-w-fit flex flex-col gap-6">
                    <ul class="flex flex-row gap-x-4 gap-y-2 sm:gap-6 font-semibold text-white flex-wrap">
                        <li><a href="/vehicles">Vehicles</a></li>
                        <li><a href="/parts">Parts</a></li>
                        <li><a href="/builds">Builds</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/sitemap">Sitemap</a></li>
                    </ul>

                    <div class="flex flex-col md:flex-row md:gap-6 text-white font-light lg:justify-end">
                        <a href={`tel:${Business.phone}`} class="text-base">{Business.phone}</a>
                        <a href={`mailto:${Business.email}`} class="text-base">{Business.email}</a>
                    </div>
                </div>
            </div>

            <div class="grid gap-y-2 md:grid-cols-2 md:justify-between text-white">
                <p class="text-sm leading-5">&copy; {Business.nameLong}. All rights reserved.</p>
                <a href={Business.mapUrl} class="text-sm leading-5 md:justify-self-end">{Business.address.street01} {Business.address.street02}, {Business.address.city}, {Business.address.state}</a>
            </div>
        </Section>
    </Container>
</footer>

<Section>
    <Container>
        
    </Container>
</Section>

<div class="bg-gradient-to-r from-stone-800 to-stone-900 py-6">
    <Container>
        
    </Container>
</div>
