---
// components
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Break from "./Break.astro";
import Container from "./Container.astro";
import Section from "./Section.astro";

// config
import { Social, Business } from "../config.js";

// content
const allParts = await getCollection("parts");
const allVehicles = await getCollection("vehicles");

// images
import logo from "../assets/images/logo-white.png";
import header01 from "../assets/images/header01.jpg";
import header02 from "../assets/images/header02.jpg";
import header03 from "../assets/images/header03.jpg";
import header04 from "../assets/images/header04.jpg";
---

<footer class="bg-gray-900">
    <Container>
        <h2 class="sr-only">Footer</h2>

        <Section classes="space-y-12">
            <div class="grid grid-cols-2 xl:grid-cols-3 gap-24">
                <div class="space-y-12 order-1 col-span-2 md:col-span-1">
                    <Image src={logo.src} alt={Business.nameLong} width={1079} height={336} class="h-14 w-auto" />

                    <p class="text-md leading-7 text-gray-300">Located in Dripping Springs, Texas, {Business.nameLong} are experts in designing and building off-road vehicles that deliver the exact performance and style that our customers dream about.</p>

                    <!-- social -->
                    <div class="flex space-x-6">
                        {
                            Social.map((s) => (
                                <a href={s.url} target="_blank" title={`THOR Off-Road ${s.title}`}>
                                    <svg viewBox="0 0 16 16" class="w-4 text-white" set:html={s.icon} />
                                </a>
                            ))
                        }
                    </div>
                </div>

                <!-- images -->
                <div class="grid xl:col-span-1 grid-cols-3 gap-6 order-3 xl:order-2 col-span-2">
                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header02.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header03.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header04.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header02.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                </div>

                <!-- navigation -->
                <div class="order-2 xl:order-3 col-span-2 md:col-span-1">
                    <div class="grid grid-cols-3 gap-2">
                        <div>
                            <h6>Vehicles</h6>
                            <ul role="list" class="mt-6 space-y-3">
                                {
                                    allVehicles.map((v) => (
                                        <li>
                                            <a href={`/vehicles/${v.slug}`} title={v.data.title} class="text-sm leading-6 text-gray-400 hover:text-gray-200">
                                                {v.data.title}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div>
                            <h6>Parts</h6>
                            <ul role="list" class="mt-6 space-y-3">
                                {
                                    allParts.map((p) => (
                                        <li>
                                            <a href={`/parts/${p.slug}`} title={p.data.title} class="text-sm leading-6 text-gray-400 hover:text-gray-200">
                                                {p.data.title}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div>
                            <h6>Other</h6>
                            <ul role="list" class="mt-6 space-y-3">
                                <li>
                                    <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-200">Sitemap</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-200">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-200">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <Break />

            <div class="grid gap-y-2 md:grid-cols-2 md:justify-between">
                <p class="text-sm leading-5 text-gray-400">&copy; {Business.nameLong}. All rights reserved.</p>
                <p class="text-sm leading-5 text-gray-400 md:justify-self-end">{Business.address.street01} {Business.address.street02}, {Business.address.city}, {Business.address.state}</p>
            </div>
        </Section>
    </Container>
</footer>
