---
// components
import Break from "./Break.astro";
import Container from "./Container.astro";
import Section from "./Section.astro";
import SocialFacebook from "./vectors/social/SocialFacebook.astro";
import SocialInstagram from "./vectors/social/SocialInstagram.astro";
import SocialYouTube from "./vectors/social/SocialYouTube.astro";
import SocialMaps from "./vectors/social/SocialMaps.astro";

// images
import logo from "../assets/images/logo-white.png";
import header01 from "../assets/images/header01.jpg";
import header02 from "../assets/images/header02.jpg";
import header03 from "../assets/images/header03.jpg";
import header04 from "../assets/images/header04.jpg";

const vehicles = ["Chevrolet", "Ford", "GMC", "Jeep", "Lexus", "RAM", "Toyota", "UTV"];
const parts = ["Bed & Roof", "Body & Bumper", "Lighting", "Performance", "Specialties", "Suspension", "Wheel & Tire"];
---

<footer class="bg-gray-900 hidden lg:block">
    <Container>
        <h2 class="sr-only">Footer</h2>

        <Section classes="space-y-12">
            <div class="grid grid-cols-3 gap-24">
                <div class="space-y-12">
                    <img src={logo.src} class="h-14" />

                    <p class="text-md leading-7 text-gray-300">Located in Dripping Springs, Texas, THOR Off-Road are experts in designing and building off-road vehicles that deliver the exact performance and style that our customers dream about.</p>

                    <div class="flex space-x-6">
                        <a href="https://www.facebook.com/thoroffroadtx/" target="_blank" title="THOR Off-Road Facebook">
                            <SocialFacebook classes="w-4 text-white" />
                        </a>
                        <a href="https://www.instagram.com/thor_offroad/" target="_blank" title="THOR Off-Road Instagram">
                            <SocialInstagram classes="w-4 text-white" />
                        </a>
                        <a href="https://www.youtube.com/channel/UCq4-u8q-XIz4_YyCrZC_y6w/featured" target="_blank" title="THOR Off-Road YouTube">
                            <SocialYouTube classes="w-4 text-white" />
                        </a>
                        <a href="https://g.page/thoroffroadtx" target="_blank" title="THOR Off-Road Google Maps">
                            <SocialMaps classes="w-4 text-white" />
                        </a>
                    </div>
                </div>

                <div class="grid grid-cols-3 gap-6">
                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header02.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header03.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header04.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                    <img src={header02.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                </div>

                <div>
                    <div class="grid grid-cols-3">
                        <div>
                            <h6>Vehicles</h6>
                            <ul role="list" class="mt-6 space-y-3">
                                {
                                    vehicles.map((v) => (
                                        <li>
                                            <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-900">
                                                {v}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div>
                            <h6>Parts</h6>
                            <ul role="list" class="mt-6 space-y-3">
                                {
                                    parts.map((p) => (
                                        <li>
                                            <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-900">
                                                {p}
                                            </a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>

                        <div>
                            <h6>Other</h6>
                            <ul role="list" class="mt-6 space-y-3">
                                <li>
                                    <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-900">Sitemap</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-900">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#" class="text-sm leading-6 text-gray-400 hover:text-gray-900">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <Break />

            <div class="grid grid-cols-2 justify-between">
                <p class="text-sm leading-5 text-gray-400">&copy; THOR Off-Road. All rights reserved.</p>
                <p class="text-sm leading-5 text-gray-400 justify-self-end">3996 US-290 Building B, Dripping Springs, TX 78620</p>
            </div>
        </Section>
    </Container>
</footer>
