---
// imports
import { Business } from "@/config";

import Container from "@/components/Container";
import ContactForm from "@/components/ContactForm";
import Icon from "@/components/Icon";
---

<div class="bg-torch-red-600 section">
	<Container>
		<div class="space-y-20">
			{
				!Astro.url.pathname.includes("/contact/success") && (
					<div class="grid lg:grid-cols-2 gap-20">
						<div class="mx-auto max-w-screen-md lg:max-w-none space-y-8">
							<h1 class="uppercase text-balance text-white">
								Let's start building <strong>your dream vehicle</strong>!
							</h1>
							<div class="text-white text-lg md:text-xl md:leading-8 space-y-6">
								<p>If you are ready to get started on designing and building the perfect truck, so are we. Tell us a little about your truck build and contact information and we will reach out to you as soon as possible.</p>
							</div>

							<ContactForm />
						</div>

						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.430713697314!2d-98.02314882207081!3d30.196252074847624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b46992512c29d%3A0x8d5bae8937d3b284!2sTHOR%20Off%20Road!5e0!3m2!1sen!2sus!4v1708385819719!5m2!1sen!2sus"
							class="w-full h-[400px] lg:h-full"
							style="border:0;"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"
						/>
					</div>
				)
			}
		</div>
	</Container>
</div>

<footer class="py-16">
	<Container>
		<div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-12 lg:gap-20">
			<div class="space-y-12 max-w-lg">
				<Icon icon="logo" class="h-14 w-auto" />
				<p class="text-md leading-7">
					Located in Dripping Springs, Texas, {Business.nameLong} are experts in designing and building off-road vehicles that deliver the exact performance and style that our customers dream about.
				</p>
			</div>

			<div class="min-w-fit flex flex-col gap-6">
				<ul class="flex flex-row gap-x-4 gap-y-2 sm:gap-6 font-semibold flex-wrap">
					<li><a href="/vehicles">Vehicles</a></li>
					<li><a href="/parts">Parts</a></li>
					<li><a href="/builds">Builds</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/sitemap">Sitemap</a></li>
				</ul>

				<div class="flex flex-col md:flex-row gap-3 font-light lg:justify-end">
					<a href={`tel:${Business.phone.number}`} class="text-base">{Business.phone.formatted}</a>
					<a href={`mailto:${Business.email}`} class="text-base">{Business.email}</a>
				</div>
			</div>
		</div>

		<div class="mt-16 grid gap-y-2 md:grid-cols-2 md:justify-between">
			<p class="text-sm leading-5">&copy; {Business.nameLong}. All rights reserved.</p>
			<a href={Business.mapUrl} class="text-sm leading-5 md:justify-self-end">{Business.address.street01} {Business.address.street02}, {Business.address.city}, {Business.address.state}</a>
		</div>
	</Container>
</footer>
