---
// components
import Breadcrumbs from "@/components/navigation/Breadcrumbs";
import Container from "@/components/Container";
import Photo from "@/components/images/Photo";

// functions
import { getImage } from "@/functions/Media";

// props
export interface Props {
    image: string;
    title: string;
}
const { image, title } = Astro.props as Props;

const header = await getImage(image);
---

<div class="relative min-h-[300px] md:min-h-[600px]">
    <!-- header image -->
    <Photo src={image} class="absolute object-cover h-full w-full" loading="eager" />

    <!-- bg -->
    <div class="inset-0 absolute bg-gradient-to-t from-stone-800/90 via-transparent to-transparent"></div>

    <slot />
</div>

<div class="bg-stone-200">
    <Container>
        <div class="grid grid-cols-1 sm:grid-cols-2 justify-between py-5 items-center gap-6">
            <!-- breadcrumbs -->
            <div>
                <span class="text-stone-800 text-2xl uppercase italic font-extrabold tracking-tighter">{title}</span>
                <div class="text-sm text-stone-500">
                    <Breadcrumbs path={Astro.url.pathname} />
                </div>
            </div>

            <!-- metadata -->
            <div class="hidden sm:flex flex-col items-end">
                <div class="text-stone-700 line-clamp-1 text-right">{header.title}</div>
                <div class="text-stone-500 text-sm font-light line-clamp-2 lg:max-w-md text-right" title={header.description}>
                    {header.description}
                </div>
            </div>
        </div>
    </Container>
</div>
