---
import Layout from "@/layouts/Layout";

import { getCollection } from "astro:content";
import Container from "@/components/Container";
import Icon from "@/components/Icon";
import Map from "@/components/backgrounds/Map";
import PartDetail from "@/components/parts/PartDetail";
import Picture from "@/components/images/Picture";

export async function getStaticPaths() {
	const parts = await getCollection("parts");

	return parts.map((part) => ({
		params: {
			id: part.id,
		},
		props: { part },
	}));
}

// content
const { part } = Astro.props;

const allBrands = await getCollection("brands", ({ data }) => {
	return data.parts.find((p) => p.slug == part.id);
});
const iconCols = allBrands.length <= 8 ? 5 : Math.round(allBrands.length / 2);
---

<Layout title={part.data.seo.title} description={part.data.seo.description}>
	<div class="bg-chathams-blue-600 section section-small">
		<Container>
			<div class="space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">We're the <strong>{part.data.title} Experts</strong>!</h1>
				<div class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-4xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0" set:html={part.data.description.short} />
			</div>
		</Container>
	</div>

	<div class:list={["gallery lg:min-h-[800px] lg:h-[50vh]", part.data.images.gallery.length >= 2 && "grid grid-rows-2 grid-cols-4"]}>
		{
			part.data.images.gallery.map((image, i, arr) => (
				<Picture src={image.url} alt="" class:list={[i === 0 && arr.length >= 2 && `col-span-4 md:col-span-2 md:row-span-2`, "col-span-4 md:col-span-2 lg:col-span-1 w-full h-full object-cover"]} sizes="100vw" />
			))
		}
	</div>

	<Map classes="bg-rock-900 section space-y-24" theme="light" opacity={0.02}>
		<Container classes="space-y-12">
			<div class="grid grid-cols-5 gap-10">
				<h2 class="col-span-5 text-balance uppercase font-medium max-w-3xl text-white"><strong>{part.data.title}</strong> Upgrade Options</h2>

				<div class="col-span-5 lg:col-span-2 flex flex-col gap-y-6">
					<div class="space-y-8">
						<div class="space-y-8 leading-loose text-lg text-rock-100" set:html={part.data.content} />
					</div>

					<div>
						<a href="/contact" class="button button-primary w-fit">Let's Talk!</a>
					</div>
				</div>

				<div class="col-span-5 lg:col-span-3 grid grid-cols-2 md:grid-cols-3 gap-1 h-fit">
					{part.data.items.map((p) => <PartDetail part={p} />)}
				</div>
			</div>
		</Container>
	</Map>

	<div class="section-small bg-chathams-blue-600">
		<Container>
			<div class:list={["flex flex-wrap gap-0.5 rounded justify-center", `grid-cols-${iconCols}`]}>
				{
					allBrands.map((b) => (
						<div class:list={["p-6 sm:p-10 text-white w-52"]}>
							<Icon icon={`brands/${b.data.icon}`} alt={b.data.title} class="max-h-12 w-full object-contain" />
						</div>
					))
				}
			</div>
		</Container>
	</div>
</Layout>
