---
import Layout from "@/layouts/Layout";

import { supabaseService } from "@/library/supabase";
import { getBuildDescription } from "@/functions/Content";
import Container from "@/components/Container";
import Map from "@/components/backgrounds/Map";
import PartDetail from "@/components/parts/PartDetail";
import Picture from "@/components/images/Picture";

export async function getStaticPaths() {
	const parts = await supabaseService.from("parts").select("*, parts_items (*), brands_parts (brand_id (*)), parts_images (*))");

	return parts.data.map((part) => ({
		params: {
			id: part.slug,
		},
		props: { part },
	}));
}

// content
const { part } = Astro.props;
const iconCols = part.brands_parts.length <= 8 ? 5 : Math.round(part.brands_parts.length / 2);
---

<Layout title={part.seo_title} description={part.seo_description}>
	<div class="bg-chathams-blue-600 section section-small">
		<Container>
			<div class="space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">We're the <strong>{part.title} Experts</strong>!</h1>
				<div class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-4xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0" set:html={part.description_short} />
			</div>
		</Container>
	</div>

	<div class:list={["gallery lg:min-h-[800px] lg:h-[50vh]", part.parts_images.length >= 2 && "grid grid-rows-2 grid-cols-4"]}>
		{
			part.parts_images.map((image, i, arr) => (
				<Picture src={image.image_name} alt={getBuildDescription(image.image_name)} class:list={[i === 0 && arr.length >= 2 && `col-span-4 md:col-span-2 md:row-span-2`, "col-span-4 md:col-span-2 lg:col-span-1 w-full h-full object-cover"]} sizes="100vw" />
			))
		}
	</div>

	<Map classes="section bg-rock-100">
		<Container classes="space-y-12">
			<div class="grid grid-cols-5 gap-10">
				<h2 class="col-span-5 text-balance uppercase font-medium max-w-3xl"><strong>{part.title}</strong> Upgrade Options</h2>

				<div class="col-span-5 lg:col-span-2 flex flex-col gap-y-6">
					<div class="space-y-8">
						<div class="space-y-8 leading-loose text-lg" set:html={part.content} />
					</div>

					<div>
						<a href="/contact" class="button button-primary button-inverse w-fit">Let's Talk!</a>
					</div>
				</div>

				<div class="col-span-5 lg:col-span-3 grid grid-cols-2 md:grid-cols-3 gap-1 h-fit">
					{part.parts_items.map((p) => <PartDetail part={p} />)}
				</div>
			</div>
		</Container>
	</Map>

	<!-- <div class="section-small bg-chathams-blue-600">
		<Container>
			<div class:list={["flex flex-wrap gap-0.5 rounded justify-center", `grid-cols-${iconCols}`]}>
				{
					part.brands_parts.map((b) => (
						<div class:list={["p-6 sm:p-10 text-white w-52"]}>
							<Icon icon={`brands/${b["brand_id"].logo}`} alt={b["brand_id"].title} class="max-h-12 w-full object-contain" />
						</div>
					))
				}
			</div>
		</Container>
	</div> -->
</Layout>
