---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../components/content/headings/ImageOverlay.astro";
import Link from "../../components/buttons/Link.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.slug },
        props: { part },
    }));
}
const { part } = Astro.props;

// get brands
const allBrands = await getCollection("brands", ({ data }) => {
    return data.parts.includes(part.slug) && data.logo;
});
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.categories.includes(part.slug);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
    <HeadingBase>
        <Picture src={part.data.featured} alt={part.data.title} slot="background" />

        <h1 slot="heading">{part.data.title}</h1>
        <div slot="description" class="space-y-6" set:html={part.data.descriptionLong} />
    </HeadingBase>

    {
        part.data.contentSidebar && part.data.contentParts ? (
            <Background>
                <Section>
                    <Container>
                        <FlexColumn>
                            <div slot="left" class="space-y-12 bg-white p-8 rounded shadow h-full">
                                <h2>
                                    We're <span class="italic">the</span>&nbsp;{part.data.title} Experts
                                </h2>
                                <div class="leading-8 tracking-tight text-stone-700 space-y-6" set:html={part.data.contentSidebar} />
                            </div>

                            <div class="bg-white rounded shadow space-y-16">
                                <div class="space-y-12 p-8">
                                    <h3 class="text-stone-900">{part.data.title} Upgrades</h3>

                                    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 text-gray-600 h-fit gap-y-8 sm:gap-y-16 md:gap-x-8">
                                        {part.data.contentParts.map((p, i) => (
                                            <div class="relative">
                                                <Icon name="hero/CheckCircle" class="absolute left-0 top-0 h-6 w-6 text-amber-500 self-start" />

                                                <div x-data={`{ parts${i} : false }`} x-on:click={`parts${i} = !parts${i}`} class="ml-9 flex flex-col gap-2 sm:cursor-pointer">
                                                    <p class="font-semibold text-stone-900">{p.title}</p>
                                                    <p x-bind:class={`parts${i} ? 'line-clamp-none' : 'md:line-clamp-2'`} class="text-sm">
                                                        {p.description ? `${p.description}` : `Etiam eget consectetur neque, ac interdum dolor. Mauris non tincidunt nisi.`}
                                                    </p>
                                                    <div class="hidden md:block w-fit text-sm font-medium text-stone-900" x-html={`parts${i} ? "Read Less &ndash;" : "Read More &plus;"`} />
                                                </div>
                                            </div>
                                        ))}
                                    </div>
                                </div>

                                <hr />

                                <div class="flex flex-wrap flex-row justify-center gap-y-12 sm:gap-y-16 gap-x-6 sm:gap-x-12 p-12">
                                    {allBrands.map((b) => (
                                        <Icon name={`brands/${b.data.logo}`} alt={b.data.title} class="h-4 sm:h-8 text-stone-700" />
                                    ))}
                                </div>
                            </div>
                        </FlexColumn>

                        <div class="bg-white shadow px-8 py-12 rounded space-y-8 mt-8">
                            <h3>{part.data.title} Builds</h3>
                            <div class="col-span-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" classes="bg-stone-100 rounded" />).slice(0, 8)}</div>
                        </div>
                    </Container>
                </Section>
            </Background>
        ) : (
            ``
        )
    }
</Layout>
