---
import Layout from "@/layouts/Layout";

// imports
import { getBuildImage } from "@/functions/Image";

import Build from "@/components/content/snippets/Build";
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Icon from "@/components/Icon";
import PartDetail from "@/components/content/snippets/PartDetail";
import Picture from "@/components/images/Picture";

// content
import { getCollection, getEntry } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.id },
        props: { part },
    }));
}
const { part } = Astro.props;

// get brands
const allBrands = await getCollection("brands", ({ data }) => {
    return data.parts.find((p) => p.id === part.id);
});

const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.categories.includes(part.id);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={part.data.seo.title} description={part.data.seo.description}>
    <div class="grid grid-cols-3">
        {part.data.images.featured.map((i) => <Picture src={getBuildImage(i.id, i.image)} buildId={i.id} loading="eager" class="w-full h-[25em] object-cover" />)}
    </div>

    <div class="-mt-20 section section-bottom">
        <Container padding={true}>
            <div class="grid grid-cols-2 sm:gap-4">
                <!-- black content area -->
                <div class="bg-black col-span-2 lg:col-span-1 text-white px-4 sm:px-8 py-8 space-y-8">
                    <h1>{`We're the ${part.data.title} Experts!`}</h1>
                    <div class="text-base space-y-4" set:html={part.data.description.long} />

                    <!-- cta buttons -->
                    <div class="flex flex-col gap-4 sm:flex-row lg:flex-col xl:flex-row">
                        <a href="/contact" class="button button-primary !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/EnvelopeFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">Contact Us!</div>
                        </a>

                        <a href={`/builds/${part.data.title.toLowerCase()}`} class="button button-ghost !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/ArrowRightCircleFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">{part.data.title} Builds</div>
                        </a>
                    </div>
                </div>

                <div class="col-span-2 lg:col-span-1 space-y-8 box-spacing bg-white">
                    <h3 class="h4">Recent {part.data.title} Builds</h3>
                    {allBuilds.map((b) => <Build build={b} />).slice(0, 3)}
                </div>
            </div>

            <div class="section section-top flex flex-wrap gap-y-12 gap-x-20 justify-center items-center">
                {allBrands.map((b) => <Icon icon={`brands/${b.data.logo}`} class="h-[50px] w-[80px] sm:w-[150px] object-contain place-self-center text-stone-900" />).slice(0, 12)}
            </div>
        </Container>
    </div>

    <div class="bg-neutral-50 section">
        <Container>
            <div class="grid md:grid-cols-5 gap-10">
                <div class="col-span-2 flex flex-col justify-between gap-y-6">
                    <div class="space-y-8">
                        <h2>{part.data.title} Upgrade Options</h2>
                        <div class="space-y-8" set:html={part.data.description.long} />
                    </div>

                    <div>
                        <a href="/contact" class="button button-ghost button-inverse">
                            <div class="button-text text-sm lg:text-base">Let's Talk!</div>
                        </a>
                    </div>
                </div>

                <div class="col-span-3 grid grid-cols-3 gap-8">
                    {part.data.content.parts.map((p) => <PartDetail part={p} />)}
                </div>
            </div>
        </Container>
    </div>

    <Gallery>
        <div class="grid grid-cols-6 md:grid-cols-12">
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
        </div>
        <div class="grid grid-cols-6 md:grid-cols-12">
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
            <Picture src={getBuildImage(298562, 13)} buildId={298562} class="aspect-square object-cover w-full h-full col-span-3" sizes="(min-width: 768px) 50vw, 100vw" />
        </div>
    </Gallery>

    <!-- <Section>
        <Container large={false}>
            <div class="grid grid-cols-5 gap-16">
                <div class:list={[part.data.contentParts.length < 7 ? "md:col-span-3" : "md:col-span-2", "col-span-5 space-y-6"]}>
                    <h2>{part.data.title} Upgrades</h2>
                    <div class="leading-8 tracking-tight text-stone-700 text-lg space-y-6" set:html={part.data.contentSidebar} />
                </div>

                <div class:list={[part.data.contentParts.length < 7 ? "md:col-span-2 xl:grid-cols-2" : "md:col-span-3 xl:grid-cols-3", "h-fit col-span-5 grid sm:grid-cols-2 lg:grid-cols-3 gap-8"]}>
                    {
                        part.data.contentParts.map(
                            (p) =>
                                p.description && (
                                    <div class="relative">
                                        <Icon icon="hero/CheckCircle" class="absolute left-0 top-0 h-6 w-6 self-start" />

                                        <div class="ml-9 flex flex-col gap-2">
                                            <p class="font-semibold text-stone-900">{p.title}</p>
                                            <p class="text-sm text-gray-600">{p.description}</p>
                                        </div>
                                    </div>
                                )
                        )
                    }
                </div>
            </div>
        </Container>

        <Container>
            <div class="mx-auto grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 md:gap-8">
                {
                    allBrands.map((b) => (
                        <div class="bg-stone-100 p-6 flex justify-center rounded">
                            <Icon icon={`brands/${b.data.logo}`} alt={b.data.title} class="h-8 lg:h-16 w-full lg:w-1/2 object-contain text-stone-900 place-self-center" />
                        </div>
                    ))
                }
            </div>
        </Container>

        {
            allBuilds.length >= 3 && (
                <Container>
                    <div class="space-y-16">
                        <h2 class="text-center">Recent {part.data.title} Builds</h2>

                        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-12">
                            {allBuilds.map((b) => <BuildSnippet build={b} sizes="(min-width: 350px), (min-width: 768px) 500px, (min-width: 1024px) 600px, (min-width: 1280px) 300px, 100vw" pad={false} height="h-60" />).slice(0, buildCount)}
                        </div>
                    </div>
                </Container>
            )
        }
    </Section>

    <style define:vars={{ remainder }}>
        .brands {
            --gap: 3em;
            --columns: var(--remainder);
            gap: var(--gap);
        }

        .brandItem {
            width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
        }
    </style> -->
</Layout>
