---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Hero from "@/components/Hero";

// functions
import { getImagePath } from "@/functions/Media";

export async function getStaticPaths() {
    const vehicles = await Astro.glob("../../data/parts/*.json");

    return vehicles.map((p) => ({
        params: { part: p.slug },
        props: p,
    }));
}

const { part } = Astro.params;
const { brands, descriptionLong, seoTitle, seoDescription, featured, gallery, heading, title } = Astro.props;
---

<Layout title={seoTitle} description={seoDescription}>
    <Hero image={featured} title={title} />

    <!-- summary -->
    <Container classes="my-16 md:my-24 space-y-24 md:space-y-40">
        <div class="space-y-12">
            <div class="max-w-3xl space-y-8">
                <h1 class="text-stone-800">{heading}</h1>
                <p class="text-stone-600 text-xl leading-9">{descriptionLong}</p>
            </div>
            <div class="space-y-4">
                <div class="flex gap-10 items-center overflow-hidden relative w-fit">
                    <div class="absolute inset-0 bg-gradient-to-r from-transparent via-white/50 to-white"></div>
                    {
                        brands
                            .map((b) => <img src={getImagePath(`brands/parts/grayscale/brands_${b.logo}.png`)} alt={b.title} class="h-12 w-auto" />)
                            .slice(0, 5)
                    }
                </div>
            </div>
        </div>

        {
            gallery ? (
                <div class="space-y-12">
                    <h2 class="text-stone-700">Recent {title} Work</h2>

                    <Gallery
                        images={gallery}
                        galleryClasses="grid grid-cols-2 md:grid-cols-4 gap-2 sm:gap-4"
                        imageClasses="shadow-lg rounded-sm hover:scale-[103%] transition duration-200 object-cover w-full h-[250px]"
                        sizes="(min-width:768px) 25vw, 50vw"
                    />
                </div>
            ) : (
                ``
            )
        }
    </Container>
</Layout>
