---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.slug },
        props: { part },
    }));
}
const { part } = Astro.props;
const parts = [];
---

<Layout>
    <div class="relative">
        <Picture src={part.data.featured} class="absolute inset-0 w-full h-full object-cover saturate-50" alt={`${part.data.title} truck parts for your vehicle`} />
        <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-black via-black/80 to-black/50"></div>

        <Section>
            <div class="relative">
                <HeadingBase heading={part.data.title} description={part.data.descriptionLong} />
            </div>
        </Section>
    </div>

    <Background theme="secondary">
        <Section>
            <Container>
                <div class="grid grid-cols-3 gap-12">
                    <div class="space-y-10">
                        <h2 class="text-neutral-900 font-semibold" set:html={part.data.contentTitle} />
                        <div class="leading-8 tracking-tight text-gray-700 space-y-6 text-lg" set:html={part.data.contentSidebar} />
                    </div>
                    <div class="col-span-2 grid text-gray-600 grid-cols-3 gap-2">
                        {
                            part.data.contentParts.map((p) => (
                                <div class="relative">
                                    <Icon name="CheckCircle" class="absolute left-0 top-0 h-6 w-6 text-amber-500 self-start" />

                                    <div class="ml-9 flex flex-col gap-2">
                                        <p class="font-semibold text-gray-900">{p.title}</p>
                                        <p>{p.description}</p>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </Container>
        </Section>
    </Background>
</Layout>
