---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../components/content/headings/ImageOverlay.astro";
import Link from "../../components/buttons/Link.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.slug },
        props: { part },
    }));
}
const { part } = Astro.props;

// get brands
const allBrands = await getCollection("brands", ({ data }) => {
    return data.parts.includes(part.slug) && data.logo;
});
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.categories.includes(part.slug);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
    <ImageOverlay>
        <Picture slot="image" src={part.data.featured} class="absolute inset-0 w-full h-full object-cover saturate-50" alt={`${part.data.title} truck parts for your vehicle`} />

        <HeadingBase heading={part.data.title} description={part.data.descriptionLong} />
    </ImageOverlay>

    {
        part.data.contentSidebar && part.data.contentParts ? (
            <Background>
                <Section>
                    <Container>
                        <FlexColumn float={true}>
                            <div slot="left" class="space-y-12">
                                <h2>
                                    We're <span class="italic">the</span> {part.data.title} Experts
                                </h2>
                                <div class="leading-8 tracking-tight text-stone-700 space-y-6" set:html={part.data.contentSidebar} />
                            </div>

                            <div class="bg-white rounded shadow space-y-16">
                                <div class="space-y-12 p-8">
                                    <h3 class="text-stone-900">{part.data.title} Upgrades</h3>

                                    <div class="grid grid-cols-3 text-gray-600 h-fit gap-y-16 gap-x-2">
                                        {part.data.contentParts.map((p, i) => (
                                            <div class="relative">
                                                <Icon name="hero/CheckCircle" class="absolute left-0 top-0 h-6 w-6 text-amber-500 self-start" />

                                                <div x-data={`{ parts${i} : false }`} x-on:click={`parts${i} = !parts${i}`} class="ml-9 flex flex-col gap-2 cursor-pointer">
                                                    <p class="font-semibold text-stone-900">{p.title}</p>
                                                    <p x-bind:class={`parts${i} ? 'line-clamp-none' : 'line-clamp-2'`} class="text-sm">
                                                        {p.description ? `${p.description}` : `Etiam eget consectetur neque, ac interdum dolor. Mauris non tincidunt nisi.`}
                                                    </p>
                                                    <div class="w-fit text-sm font-medium text-stone-900" x-html={`parts${i} ? "Read Less &ndash;" : "Read More &plus;"`} />
                                                </div>
                                            </div>
                                        ))}
                                    </div>
                                    <div class="flex flex-wrap flex-row justify-center gap-y-16 gap-x-12 px-12 py-20 bg-blue-100 rounded-b">
                                        {allBrands.map((b) => (
                                            <Icon name={`brands/${b.data.logo}`} alt={b.data.title} class="h-10 text-blue-300" />
                                        ))}
                                    </div>
                                </div>
                            </div>
                        </FlexColumn>
                    </Container>

                    <Container>
                        <div class="bg-white shadow-2xl px-8 py-12 rounded space-y-8">
                            <h3>{part.data.title} Builds</h3>
                            <div class="col-span-3 grid grid-cols-4 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" />).slice(0, 8)}</div>
                        </div>
                    </Container>
                </Section>
            </Background>
        ) : (
            ``
        )
    }
</Layout>
