---
import Layout from "@/layouts/Layout";

// imports
import { closestNumber } from "@/functions/Misc";
import { getBuildImage } from "@/functions/Image";
import { Icon } from "astro-icon";

import Background from "@/components/content/Background";
import BuildSnippet from "@/components/builds/BuildSnippet";
import Container from "@/components/Container";
import Picture from "@/components/images/Picture";
import Section from "@/components/Section";

// content
import { getCollection, getEntry } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.slug },
        props: { part },
    }));
}
const { part } = Astro.props;

// get brands
const allBrands = await getCollection("brands", ({ data }) => {
    return data.parts.includes(part.slug) && data.logo;
});
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.categories.includes(part.slug);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const featuredBuild = await getEntry("builds", part.data.featured.id);

let remainder = allBuilds.length / 2 == 0 ? 4 : 5;
---

<Layout>
    <div class="relative h-[25em] md:h-[35em]">
        <Picture src={getBuildImage(featuredBuild.data.id, part.data.featured.image.heading)} alt=`${part.data.title} Outfitting in Austin, TX` loading="eager" class="w-full h-full object-cover absolute" />

        <div class="relative h-full">
            <Container classes="h-full">
                <div class="flex h-full justify-end items-end">
                    <div class="bg-white lg:max-w-xl space-y-4 lg:py-6 lg:px-8 rounded-t-sm">
                        <div class="text-2xl tracking-tighter font-medium">{`${featuredBuild.data.year} ${featuredBuild.data.make} ${featuredBuild.data.model}`}</div>

                        <ul class="line-clamp-2 comma-list tracking-tight text-sm">
                            {featuredBuild.data.parts.map((p) => <li>{p}</li>)}
                        </ul>
                    </div>
                </div>
            </Container>
        </div>
    </div>

    <Section>
        <Container classes="space-y-16">
            <div class="space-y-6 max-w-4xl">
                <h1>We're <i>the</i>&nbsp;{part.data.title} Experts</h1>
                <div set:html={part.data.descriptionLong} class="text-xl text-stone-700 leading-9 tracking-tight space-y-8" />

                <div class="flex gap-4">
                    <a href="/contact" class="button button-secondary">
                        <div class="button-icon">
                            <Icon name="hero/WrenchScrewdriverFill" class="h-2/5 w-auto" />
                        </div>
                        <div class="button-text">Upgrade Your {part.data.title}</div>
                    </a>

                    <a href={`/builds/${part.slug}`} class="button button-primary">
                        <div class="button-text">{part.data.title} Builds</div>
                    </a>
                </div>
            </div>

            <div class="grid grid-cols-2 grid-rows-2 h-[40em] gap-8">
                <Picture src={getBuildImage(featuredBuild.data.id, part.data.featured.image.aside)} class="row-span-2 object-cover h-full w-full rounded-sm" />
                <Picture src={getBuildImage(featuredBuild.data.id, part.data.featured.image.aside)} class="object-cover h-full w-full rounded-sm" />
                <Picture src={getBuildImage(featuredBuild.data.id, part.data.featured.image.aside)} class="object-cover h-full w-full rounded-sm" />
            </div>

            <div class="grid grid-cols-2">
                <div class="space-y-6 max-w-5xl">
                    <h2>{part.data.title} Upgrades</h2>
                    <div class="leading-8 tracking-tight text-stone-700 text-lg space-y-6" set:html={part.data.contentSidebar} />
                </div>

                <div class="mt-16 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 text-gray-600 h-fit gap-y-8 sm:gap-y-16 md:gap-x-8">
                    {
                        part.data.contentParts.map(
                            (p) =>
                                p.description && (
                                    <div class="relative">
                                        <Icon name="hero/CheckCircle" class="absolute left-0 top-0 h-6 w-6 self-start" />

                                        <div class="ml-9 flex flex-col gap-2 sm:cursor-pointer">
                                            <p class="font-semibold text-stone-900">{p.title}</p>
                                            <p class="text-sm">{p.description}</p>
                                        </div>
                                    </div>
                                )
                        )
                    }
                </div>
            </div>
        </Container>
    </Section>

    <Background>
        <Section>
            <Container>
                <div class:list={[`brands flex flex-wrap justify-center w-full`, remainder]}>
                    {
                        allBrands.map((b) => (
                            <div class="brandItem bg-white px-3 py-4 rounded-lg flex justify-center">
                                <Icon name={`brands/${b.data.logo}`} alt={b.data.title} class="h-8 lg:h-16 w-full lg:w-1/2 object-contain text-stone-900 place-self-center" />
                            </div>
                        ))
                    }
                </div>
            </Container>
        </Section>
    </Background>

    {
        allBuilds.length >= 4 && (
            <Section>
                <Container classes="space-y-16">
                    <h2 class="text-center">Recent {part.data.title} Builds</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" classes="h-[32em]" />).slice(0, 6)}</div>
                </Container>
            </Section>
        )
    }
</Layout>

<style define:vars={{ remainder }}>
    .brands {
        --gap: 3em;
        --columns: var(--remainder);
        gap: var(--gap);
    }

    .brandItem {
        width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    }
</style>
