---
import Layout from "@/layouts/Layout";

// imports
import { closestNumber } from "@/functions/Misc";
import { Icon } from "astro-icon";

import Background from "@/components/content/Background";
import BuildSnippet from "@/components/builds/BuildSnippetAlt";
import Container from "@/components/Container";
import HeadingSplit from "@/components/content/headings/HeadingSplit";
import Picture from "@/components/images/Picture";
import Section from "@/components/Section";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.slug },
        props: { part },
    }));
}
const { part } = Astro.props;

// get brands
const allBrands = await getCollection("brands", ({ data }) => {
    return data.parts.includes(part.slug) && data.logo;
});
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.categories.includes(part.slug);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const buildCount = closestNumber(allBrands.length, 3, 6);
---

<Layout>
    <Background>
        <div class="space-y-20 py-20">
            <HeadingSplit>
                <Picture src={part.data.featured} alt=`${part.data.title} Outfitting in Austin, TX` slot="background" sizes="50vw" class="rounded-r-lg" />

                <div class="space-y-8">
                    <h1>We're <i>the</i>&nbsp;{part.data.title} Experts</h1>
                    <div set:html={part.data.descriptionLong} class="text-xl text-stone-700 leading-9 tracking-tight space-y-8" />
                </div>
            </HeadingSplit>

            <Container>
                <div class="mx-auto grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 md:gap-12">
                    {
                        allBrands
                            .map((b) => (
                                <div class="bg-stone-50 p-6 flex justify-center rounded-sm">
                                    <Icon name={`brands/${b.data.logo}`} alt={b.data.title} class="h-8 lg:h-16 w-full lg:w-1/2 object-contain text-stone-900 place-self-center" />
                                </div>
                            ))
                            .slice(0, buildCount)
                    }
                </div>
            </Container>
        </div>
    </Background>

    {
        part.data.contentSidebar && part.data.contentParts && (
            <Section>
                <Container>
                    <div class="grid grid-cols-6 gap-12">
                        <div class="col-span-4">
                            <div class="space-y-8 py-12">
                                <h2>{part.data.title} Upgrades</h2>
                                <div class="leading-8 tracking-tight text-stone-700 text-lg space-y-6" set:html={part.data.contentSidebar} />
                            </div>

                            <div class="mt-16 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 text-gray-600 h-fit gap-y-8 sm:gap-y-16 md:gap-x-8">
                                {part.data.contentParts.map((p) => (
                                    <div class="relative">
                                        <Icon name="hero/CheckCircle" class="absolute left-0 top-0 h-6 w-6 self-start" />

                                        <div class="ml-9 flex flex-col gap-2 sm:cursor-pointer">
                                            <p class="font-semibold text-stone-900">{p.title}</p>
                                            <p class="text-sm">{p.description}</p>
                                        </div>
                                    </div>
                                ))}
                            </div>
                        </div>

                        <div class="col-span-2">
                            <Picture src={part.data.featuredAlt} class="object-cover h-full w-full rounded-lg" />
                        </div>
                    </div>
                </Container>
            </Section>
        )
    }

    {
        allBuilds.length >= 4 && (
            <Section>
                <Container classes="space-y-16">
                    <h2 class="text-center">Recent {part.data.title} Builds</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" classes="h-[32em]" />).slice(0, 6)}</div>
                </Container>
            </Section>
        )
    }
</Layout>
