---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import Feature from "../../components/content/Feature.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../components/content/headings/ImageOverlay.astro";
import Link from "../../components/buttons/Link.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
const allParts = await getCollection("parts");
const allBrands = await getCollection("brands");
const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// content
const process = [
    {
        title: "The Top Brands",
        description: "We partner with the world's most trusted parts manufacturers in the industry to create quality builds that our customers can depend on.",
    },
    {
        title: "Test, Test, Test",
        description: "We don't just install parts, we put them to the test to ensure that they perform exactly the way we designed to deliver the ultimate off-road experience.",
    },
    {
        title: "Targeted Performance",
        description: "We help our customers find the right balance of style, performance, and budget to get the most out of their off-road vehicle build.",
    },
];
const partsFill = {
    title: "Don't see what you're looking for?",
    descriptionShort: "If you don't see what you're looking for, let's chat. There's a good chance we can get it done. We're experts in truck customization and can sit down with you and discuss details.",
    featured: "shop/2022-12-05/shop-shoot_15.jpg",
};
---

<Layout>
    <ImageOverlay>
        <Picture slot="image" src="builds/748248/18.jpg" class="absolute inset-0 w-full h-full object-cover saturate-50" alt="truck parts for your vehicle" />

        <HeadingBase heading="Off-Road Parts" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione." />
    </ImageOverlay>

    <Background>
        <Section>
            <Container>
                <FlexColumn float={true}>
                    <div slot="left" class="space-y-12">
                        <h2>Our Process</h2>
                        <div class="space-y-12">
                            {
                                process.map((p) => (
                                    <div class="space-y-2">
                                        <p class="font-semibold text-2xl">{p.title}</p>
                                        <p class="text-base text-stone-700">{p.description}</p>
                                    </div>
                                ))
                            }
                        </div>
                    </div>

                    <div class="space-y-8">
                        {
                            allParts.map((p) => (
                                <a href={`/parts/${p.slug}`} class="grid grid-cols-5 min-h-[250px] bg-white rounded shadow group">
                                    <div class="w-full h-full relative col-span-2">
                                        <Picture src={p.data.featured} class="absolute h-full w-full object-cover col-span-2 rounded-l" sizes="500px" slot="picture" />
                                    </div>

                                    <div class="flex flex-col justify-center p-8 gap-y-3 col-span-3">
                                        <h3 class="text-2xl font-semibold leading-6">{p.data.title}</h3>
                                        <div class="leading-6 text-stone-500">{p.data.descriptionShort}</div>
                                        <div class="space-y-1">
                                            Brands
                                            <ul class="comma-list text-sm text-stone-500 font-normal">
                                                {allBrands.map((b) => {
                                                    if (b.data.parts.includes(p.slug)) {
                                                        return <li>{b.data.title}</li>;
                                                    }
                                                })}
                                            </ul>
                                        </div>
                                        <div class="font-medium bg-blue-500 text-white rounded px-3 py-2 group-hover:bg-blue-400 transition duration-300 w-fit mt-2 button button-secondary">See More</div>
                                    </div>
                                </a>
                            ))
                        }
                        <a href="/contact" class="bg-white rounded shadow p-8 flex flex-col justify-center items-center">
                            <div class="space-y-4">
                                <h3 class="text-2xl font-semibold leading-6">{partsFill.title}</h3>
                                <div class="leading-6 text-stone-500">{partsFill.descriptionShort}</div>
                                <p class="font-medium text-blue-500 group-hover:underline">Contact Us &gt;</p>
                            </div>
                        </a>
                    </div>
                </FlexColumn>
            </Container>
        </Section>
    </Background>
</Layout>
