---
import Layout from "../../layouts/Layout.astro";

// components
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
const allParts = await getCollection("parts");

// images
import work from "../../assets/images/header02.jpg";
import build from "../../assets/images/builds/build06.jpg";

// content
const process = [
    {
        title: "The Top Brands",
        description: "We partner with the world's most trusted parts manufacturers in the industry to create quality builds that our customers can depend on.",
    },
    {
        title: "Test, Test, Test",
        description: "We don't just install parts, we put them to the test to ensure that they perform exactly the way we designed to deliver the ultimate off-road experience.",
    },
    {
        title: "Targeted Performance",
        description: "We help our customers find the right balance of style, performance, and budget to get the most out of their off-road vehicle build.",
    },
];
---

<Layout>
    <HeadingBase>
        <p slot="subheading">Our Philosophy</p>
        <h1 slot="heading">Off-Road Parts</h1>
        <p slot="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</p>

        <div slot="content">
            <div class="mx-auto mt-16 max-w-2xl lg:max-w-none">
                <dl class="grid max-w-xl grid-cols-1 gap-x-16 gap-y-16 lg:max-w-none lg:grid-cols-3">
                    {
                        process.map((p, i) => (
                            <div class="space-y-4">
                                <dt class="text-xl font-semibold leading-7 text-white flex gap-x-4 items-center">
                                    <span class="px-3 py-1 rounded-md bg-gray-700 text-gray-200 ring-1 ring-gray-600">{i + 1}</span>
                                    {p.title}
                                </dt>
                                <dd class="text-base leading-7 text-gray-300">
                                    <p>{p.description}</p>
                                </dd>
                            </div>
                        ))
                    }
                </dl>
            </div>
        </div>
    </HeadingBase>

    <div class="relative h-[700px]">
        <img src={build.src} alt="work" class="object-cover object-[10%,20%] w-full h-full" />
    </div>

    <div class="relative bg-gradient-to-r from-gray-900 to-gray-700">
        <Container>
            <Section>
                <div class="mx-auto flex max-w-2xl flex-col gap-16 lg:mx-0 lg:max-w-none lg:flex-row gap-24">
                    <div class="w-full lg:max-w-lg lg:flex-auto">
                        <h2>We're always looking for awesome people.</h2>
                        <p class="mt-6 text-xl leading-8 text-gray-300">Diam nunc lacus lacus aliquam turpis enim. Eget hac velit est euismod lacus. Est non placerat nam arcu. Cras purus nibh cursus sit eu in id.</p>
                    </div>

                    <div class="w-full lg:flex-auto">
                        <h3 class="sr-only">Job openings</h3>
                        <ul class="-my-12 divide-y divide-gray-700">
                            {
                                allParts.map((p) => (
                                    <li class="py-12">
                                        <div class="relative flex flex-wrap gap-x-3">
                                            <div class="grid grid-cols-2 gap-8">
                                                <div class="w-full h-full relative">
                                                    <img src={build.src} alt="work" class="w-full h-full absolute object-cover rounded-md" />
                                                </div>

                                                <div>
                                                    <div class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900">
                                                        <a href="#" class="text-white text-2xl">
                                                            {p.data.title}
                                                            <span class="absolute inset-0" aria-hidden="true" />
                                                        </a>
                                                    </div>

                                                    <div class="mt-2 w-full flex-none text-base leading-7 text-gray-400">{p.data.descriptionLong}</div>
                                                    <div>
                                                        <div class="mt-4 text-base font-semibold leading-7 text-gray-200">Brands</div>
                                                        <ul class="comma-list font-light text-gray-500">
                                                            {p.data.brands.map((b) => (
                                                                <li>{b.title}</li>
                                                            ))}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </Section>
        </Container>
    </div>
</Layout>
