---
import Layout from "@/layouts/Layout";

// imports
import Container from "@/components/Container";
import HeadingSplit from "@/components/content/headings/HeadingSplit";
import Picture from "@/components/images/Picture";
import Section from "@/components/Section";

// content
import { getCollection } from "astro:content";
const allParts = await getCollection("parts");
const allBrands = await getCollection("brands");

const process = [
    {
        title: "The Top Brands",
        description: "We partner with the world's most trusted parts manufacturers in the industry to create quality builds that our customers can depend on.",
    },
    {
        title: "Test, Test, Test",
        description: "We don't just install parts, we put them to the test to ensure that they perform exactly the way we designed to deliver the ultimate off-road experience.",
    },
    {
        title: "Targeted Performance",
        description: "We help our customers find the right balance of style, performance, and budget to get the most out of their off-road vehicle build.",
    },
];
const partsFill = {
    title: "Don't see what you're looking for?",
    descriptionShort: "If you don't see what you're looking for, let's chat. There's a good chance we can get it done. We're experts in truck customization and can sit down with you and discuss details.",
};
---

<Layout>
    <HeadingSplit>
        <Picture src="builds/453172/03.jpg" alt="Installing truck modifications in Austin, TX" slot="background" sizes="50vw" />

        <div class="space-y-8">
            <h1>Off-Road Parts<br />and Installation</h1>
            <p class="text-xl text-stone-700 leading-9 tracking-tight">276 Tailwind features section allows you to describe the features of your product or company in a clear way. Various layouts of icons, graphics.</p>
        </div>

        <div class="mt-36 flex flex-col gap-8 w-3/4">
            {
                process.map((f, i) => (
                    <div class="flex gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 flex-none mt-1">
                            <path
                                fill-rule="evenodd"
                                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                clip-rule="evenodd"
                            />
                        </svg>

                        <div class="space-y-2">
                            <h3 class="text-xl">{f.title}</h3>
                            <div set:html={f.description} class="text-neutral-800 text-base leading-7" />
                        </div>
                    </div>
                ))
            }
        </div>
    </HeadingSplit>

    <Section>
        <Container classes="space-y-16">
            <h2>We're building our<br />customer's dream vehicles.</h2>

            <div class="grid grid-cols-1 lg:grid-cols-6 gap-8">
                <div class="lg:col-span-4 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-8">
                    {
                        allParts.map((p) => (
                            <a href={`/parts/${p.slug}`} class="flex flex-col justify-between border border-stone-300 rounded-lg">
                                <div class="h-full flex flex-col justify-between p-8 relative gap-8">
                                    <div class="space-y-5">
                                        <h3 class="text-2xl font-semibold leading-6">{p.data.title}</h3>
                                        <div class="leading-6 text-stone-500">{p.data.descriptionShort}</div>

                                        <div class="space-y-1">
                                            Brands
                                            <ul class="comma-list text-xs text-stone-500 font-normal line-clamp-2">
                                                {allBrands.map((b) => {
                                                    if (b.data.parts.includes(p.slug)) {
                                                        return <li>{b.data.title}</li>;
                                                    }
                                                })}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="button button-primary">
                                        <div class="button-text">See More</div>
                                    </div>
                                </div>
                            </a>
                        ))
                    }
                    <a href="/contact" class="p-8 flex flex-col rounded-lg border border-stone-300">
                        <div class="space-y-4">
                            <h3 class="text-2xl font-semibold leading-6">{partsFill.title}</h3>
                            <div class="leading-6 text-stone-500">{partsFill.descriptionShort}</div>
                        </div>
                    </a>
                </div>

                <div class="hidden lg:block lg:col-span-2">
                    <Picture src="builds/977725/07.jpg" class="object-cover h-full w-full rounded-lg object-left" />
                </div>
            </div>
        </Container>
    </Section>
</Layout>
