---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Link from "../../components/buttons/Link.astro";
import Section from "../../components/Section.astro";
import Steps from "../../components/content/headings/Steps.astro";
import Surround from "../../components/content/Surround.astro";

// content
import { getCollection } from "astro:content";
const allParts = await getCollection("parts");

// images
import build01 from "../../assets/images/builds/build07.jpg";
import build02 from "../../assets/images/builds/build04.jpg";

// content
const process = [
    {
        title: "The Top Brands",
        description: "We partner with the world's most trusted parts manufacturers in the industry to create quality builds that our customers can depend on.",
    },
    {
        title: "Test, Test, Test",
        description: "We don't just install parts, we put them to the test to ensure that they perform exactly the way we designed to deliver the ultimate off-road experience.",
    },
    {
        title: "Targeted Performance",
        description: "We help our customers find the right balance of style, performance, and budget to get the most out of their off-road vehicle build.",
    },
];
---

<Layout>
    <Background>
        <Section>
            <HeadingBase heading="Off-Road Parts" subheading="Our Philosophy" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione." />

            <Container>
                <div class="grid grid-cols-1 gap-16 lg:grid-cols-3">
                    {process.map((p, i) => <Steps number={i + 1} heading={p.title} content={p.description} />)}
                </div>
            </Container>
        </Section>

        <div class="relative h-[50vh] lg:h-[800px]">
            <img src={build01.src} alt="work" class="object-cover object-[50%,60%] w-full h-full" />
        </div>

        <Section>
            <Container classes="grid grid-cols-1 lg:grid-cols-2 gap-12">
                {
                    allParts.map((p) => (
                        <Surround href={`/parts/${p.slug}`} title={p.data.title}>
                            <div class="flex flex-col gap-4 col-span-2 md:col-span-1 lg:col-span-2 xl:col-span-1">
                                <div class="w-full h-full relative">
                                    <img src={build02.src} alt="work" class="w-full h-full md:absolute lg:relative xl:absolute object-cover rounded-t-md sm:rounded-md shadow-xl" />
                                </div>
                            </div>

                            <div class="space-y-4 col-span-2 sm:col-span-1 lg:col-span-2 xl:col-span-1">
                                <div class="text-lg font-semibold tracking-tight text-gray-900">
                                    <div class="text-white text-2xl flex items-center gap-2">
                                        <Icon name={`parts/${p.data.logo}Outline`} class="w-auto h-7" />
                                        {p.data.title}
                                    </div>
                                </div>

                                <div class="text-base leading-7 text-gray-400">{p.data.descriptionShort}</div>

                                <div>
                                    <div class="text-base font-semibold leading-7 text-gray-200">Brands</div>
                                    <ul class="comma-list font-light text-gray-500 line-clamp-2 text-sm md:text-base">
                                        {p.data.brands.map((b) => (
                                            <li>{b.title}</li>
                                        ))}
                                    </ul>
                                </div>
                            </div>
                        </Surround>
                    ))
                }
            </Container>
        </Section>
    </Background>
</Layout>
