---
// layouts
import Layout from "@/layouts/Layout";

// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";
import Hero from "@/components/Hero";
import Photo from "@/components/images/Photo";

// content
import { getCollection } from "astro:content";

const allParts = await getCollection("parts");
const processSteps = [
    {
        title: "The Top Brands",
        description:
            "We partner with the world's most trusted parts manufacturers in the industry to create quality builds that our customers can depend on.",
    },
    {
        title: "Test, Test, Test",
        description:
            "We don't just install parts, we put them to the test to ensure that they perform exactly the way we designed to deliver the ultimate off-road experience.",
    },
    {
        title: "Targeted Performance",
        description:
            "We help our customers find the right balance of style, performance, and budget to get the most out of their off-road vehicle build.",
    },
];
const featuredImage = "vehicles/ford/f-250/2206-2022-ford-f-250-stone-grey/2022-ford-f-250-stone-grey_002";
---

<Layout
    title="Texas Performance Off-Road Parts and Accessories"
    description="THOR Off-Road is the top off-road parts and accessories dealer and installer in Texas with top brands like Carli, BDS, AEV, Fox, CBI, AMP Research, Method and Nitto">
    <Hero image={featuredImage} title="Parts" />

    <Container classes="my-16 md:my-24 space-y-24 md:space-y-40">
        <div class="space-y-12">
            <h1 class="text-black">Off-Road Parts</h1>
            <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
                {
                    processSteps.map((s, count) => (
                        <div class="flex flex-col space-y-4">
                            <div class="flex flex-row gap-4">
                                <div class="h-fit w-fit rounded-sm bg-red-500 p-3 text-xl text-white">{count + 1}</div>
                                <h2 class="h3 text-black">{s.title}</h2>
                            </div>
                            <div class="space-y-4">
                                <p class="text-lg font-light text-neutral-800">{s.description}</p>
                            </div>
                        </div>
                    ))
                }
            </div>

            <div class="grid grid-cols-1 gap-8">
                {
                    allParts.map((p) => (
                        <a href={`parts/${p.slug}`} class="group relative flex flex-col gap-3 overflow-hidden shadow-xl">
                            <Photo
                                src={p.data.featured}
                                class="absolute h-full w-full object-cover saturate-50 transition duration-300 group-hover:scale-105 group-hover:saturate-100"
                            />
                            <div class="absolute h-full w-full bg-gradient-to-r from-black/80 to-transparent" />

                            <div class="relative flex flex-col justify-center space-y-4 px-10 py-20 text-stone-100 md:max-w-md">
                                <div class="space-y-3">
                                    <div class="flex gap-2">
                                        <Icon name={`${p.data.logo}_outline`} class="w-10" />
                                        <h3 class="text-white">{p.data.title}</h3>
                                    </div>
                                    <div class="text-lg">{p.data.descriptionShort}</div>
                                </div>

                                <div>
                                    <div class="flex flex-col text-sm font-light">
                                        <div class="w-fit font-semibold">Brands</div>
                                        <div class="line-clamp-3">{p.data.brands.map((b, index) => (index ? ", " : "") + b.title)}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
    </Container>
</Layout>
