---
import Layout from "@/layouts/Layout";

import { supabaseService } from "@/library/supabase";
import { getBuildDescription } from "@/functions/Build";

import Container from "@/components/Container";
import FeatureGrid from "@/components/sections/FeatureGrid";
import Icon from "@/components/Icon";
import Map from "@/components/backgrounds/Map";
import PartAlt from "@/components/parts/PartAlt";
import Picture from "@/components/images/Picture";
import Steps from "@/components/sections/Steps";

// content
const allParts = await supabaseService.from("parts").select("*").order("title");
const allBrands = await supabaseService.from("brands").select("*").order("title");

const process = [
	{
		title: "The Top Brands",
		description: "We partner with the world's most trusted parts manufacturers in the industry to create quality builds that our customers can depend on.",
	},
	{
		title: "Test, Test, Test",
		description: "We don't just install parts, we put them to the test to ensure that they perform exactly the way we designed to deliver the ultimate off-road experience.",
	},
	{
		title: "Targeted Performance",
		description: "We help our customers find the right balance of style, performance, and budget to get the most out of their off-road vehicle build.",
	},
];

const headlineImages = [
	"builds/223455-2007-toyota-land-cruiser/17.jpg",
	"builds/235752-2022-jeep-wrangler/06.jpg",
	"builds/296799-2024-gmc-sierra-2500-hd/09.jpg",
	"builds/296799-2024-gmc-sierra-2500-hd/06.jpg",
	"builds/435826-2024-ford-f-250/08.jpg",
	"builds/335071-2015-ford-f-250/13.jpg",
];
---

<Layout title="We're the Top Rated Carli Dealer and Installer in Texas">
	<div class="section section-small bg-chathams-blue-600">
		<Container classes="space-y-8">
			<div class="space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">Off-Road <strong>Parts and Installation</strong></h1>
				<p class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-3xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0">
					THOR is the premiere truck and off-road vehicle outfitter in Texas with the unique automotive knowledge, technical expertise, and deep customer insights to consistently deliver the truck or adventure vehicle of our customers'
					dreams.
				</p>

				<div class="flex flex-col items-center sm:flex-row gap-4 justify-center lg:justify-start">
					<a href="/contact" class="button button-secondary">Contact Us</a>
					<a href="/builds">See Our Builds &gt;</a>
				</div>
			</div>
		</Container>
	</div>

	<Picture src="shop/2022-03-09/shop-shoot_01.jpg" alt="FOX Shocks waiting to be installed" class="w-full h-[350px] lg:h-[600px] object-cover object-[50%,65%]" />
	<div class="grid grid-cols-6 gallery">
		{headlineImages.map((image) => <Picture src={image} alt={getBuildDescription(image)} class="w-full h-52 sm:h-72 lg:h-full object-cover col-span-3 lg:col-span-1" sizes="(min-width: 1024px) 20vw, 50vw" />)}
	</div>

	<Map classes="bg-rock-900 section space-y-24" theme="light" opacity={0.02}>
		<Container classes="space-y-12">
			<div class="flex items-center justify-center">
				<h2 class="text-white uppercase">Outfit <strong>Your Vehicle</strong></h2>
			</div>

			<FeatureGrid>
				{allParts.data.map((p) => <PartAlt part={p} />)}
			</FeatureGrid>
		</Container>

		<div class="grid lg:grid-cols-2 gap-12 xl:gap-20 items-center">
			<Picture src="team/shop/thoroffroad-01.jpg" alt="THOR Off-Road Employee intalling parts in Dripping Springs, TX" loading="eager" class:list={["w-full h-full object-cover lg:rounded-r shadow-lg"]} />

			<div class="px-8 lg:py-12 mx-auto lg:pl-0 lg:mx-0 md:max-w-2xl lg:pr-12 space-y-12">
				<h2 class="uppercase text-center lg:text-left text-white">Our <strong>Process</strong></h2>

				<div class="space-y-12">
					{process.map((f, i) => <Steps number={i + 1} title={f.title} description={f.description} />)}
				</div>
			</div>
		</div>
	</Map>

	<div class="section bg-rock-200" x-data="{ expanded: false }">
		<Container classes="space-y-12">
			<div class="flex flex-col md:flex-row justify-between items-center">
				<h2 class="uppercase">Our <strong>Brands</strong></h2>
				<h6 class="uppercase text-balance font-semibold text-center text-lg lg:text-xl"><strong>Selling & Installing</strong> the Best!</h6>
			</div>

			<div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-8 gap-0.5 rounded justify-between" :class="!expanded && '[mask-image:_linear-gradient(to_bottom,black_50%,transparent_100%)]'" x-show="expanded" x-collapse.min.400px>
				{
					allBrands.data.map((b) => (
						<div class="p-6 sm:p-10 bg-merlin-100/20">
							<Icon icon={`brands/${b.logo}`} alt={b.title} class="max-h-12 w-full object-contain" />
						</div>
					))
				}
			</div>

			<div class="flex justify-center">
				<div @click="expanded =! expanded" x-text="expanded ? `Hide 'Em!` : 'See More Brands'" class="button button-ghost button-inverse cursor-pointer"></div>
			</div>
		</Container>
	</div>
</Layout>

<script is:inline src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
