---
import { getBuildTitle } from "@/functions/Content";
import { getBuildImage } from "@/functions/Image";
import { timeAgo } from "@/functions/DateTime";
import Picture from "@/components/images/Picture";

interface Props {
	build: any;
	sizes?: string;
}
const { build, sizes = "100vw", ...attrs } = Astro.props;
---

<a href={`/builds/${build.id}`} class="relative bg-rock-50/80 hover:bg-white/80 transition duration-200 rounded flex flex-col justify-between group">
	<Picture src={getBuildImage(build.id, build.data.images.snippet)} alt={getBuildTitle(build.id)} class="aspect-video object-cover rounded-t" sizes={sizes} />

	<div class="flex flex-col gap-3 p-6">
		<div class="uppercase font-bold text-xl line-clamp-1 font-alt">{getBuildTitle(build.id)}</div>
		<!-- <ul class="comma-list text-sm line-clamp-3 tracking-wide">{build.data.meta.parts.map((p) => <li>{p}</li>)}</ul> -->
		<div class="uppercase text-xs">
			{timeAgo(build.data.date)}
		</div>
	</div>
</a>
