---
import Icon from "@/components/Icon";
import Picture from "@/components/images/Picture";

interface Props {
	part: any;
	url?: string;
}
const { part, url, ...attrs } = Astro.props;
---

<div class="relative group">
	<Picture src={part.data.images.featured.url} alt={`${part.data.title} at THOR Off-Road`} class="h-48 w-full object-cover rounded-t" sizes="350px" />

	<div class="py-6 flex flex-row gap-3 items-center justify-center bg-rock-300 hover:bg-rock-300/70 transition duration-300">
		<div class="w-8 h-8 border-2 border-rock-900 rounded relative flex-none overflow-hidden flex justify-center items-center">
			<Icon icon={url ? part.data.icon : `parts/${part.data.icon}Outline`} class="text-rock-900 absolute w-10 h-auto -rotate-12" />
		</div>

		<div class="flex flex-col gap-2">
			<a href={url ? url : `/parts/${part.id}`} class="font-semibold uppercase font-alt text-3xl text-rock-950">
				<span class="absolute inset-0"></span>
				{part.data.title}
			</a>
		</div>
	</div>
</div>
