---
import Layout from "@/layouts/Layout";

import { getBuildImage } from "@/functions/Image";
import { getCollection, getEntry } from "astro:content";

import BuildFilter from "@/components/builds/BuildFilter";
import Build from "@/components/content/snippets/BuildAlt";
import Container from "@/components/Container";
import Pagination from "@/components/Pagination";
import Picture from "@/components/images/Picture";

// content
export async function getStaticPaths({ paginate }) {
    const allBuilds = (
        await getCollection("builds", ({ data }) => {
            return data.draft == false;
        })
    ).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    return paginate(allBuilds, { pageSize: 6 });
}
const { page } = Astro.props;
---

<Layout title="Texas High-Performance Off-Road Vehicle Builds" description="THOR Off-Road is the top off-road parts and installation outfitter in Texas for Ford Chevrolet GMC RAM Toyota Lexus Jeep">
    <Picture src="shop/2022-12-05/shop-shoot_16.jpg" loading="eager" class="w-full h-[25em] object-cover" />

    <div class="-mt-20 bg-neutral-50 pb-8">
        <Container padding={true}>
            <div class="grid grid-cols-10 sm:gap-4">
                <!-- black content area -->
                <div class="bg-black col-span-6 text-white box-spacing space-y-8">
                    <div class="space-y-8">
                        <h1>THOR Off-Road<br />Custom Builds</h1>
                        <p class="text-base">We're designing and building amazing vehicles each and every day. Browse through a small selection of our most recent finished builds.</p>
                    </div>
                </div>
            </div>
        </Container>
    </div>

    <div class="bg-neutral-50">
        <Container>
            <div class="space-y-8">
                <div class="grid grid-cols-2 justify-between items-center">
                    <BuildFilter />

                    <div class="text-sm justify-self-end">Showing {page.total} Builds</div>
                </div>

                <div class="grid grid-cols-3 gap-8">
                    {page.data.map((b) => <Build build={b} sizes="(min-width:640px) 50vw, (min-width:1024px) 25vw, (min-width:1280px) 300px, 100vw" height="h-[15em]" />)}
                </div>

                <div class="flex justify-between pb-8">
                    <div class="text-sm">
                        Page {page.currentPage} of {page.lastPage}
                    </div>

                    <Pagination page={page} />
                </div>
            </div>
        </Container>
    </div>
</Layout>
