---
import Layout from "@/layouts/Layout";

// imports
import { timeAgo } from "@/functions/DateTime";
import { numberBetween } from "@/functions/Misc";
import { getCollection } from "astro:content";
import Container from "@/components/Container";
import Map from "@/components/backgrounds/Map";
import Picture from "@/components/images/Picture";
import Testimonial from "@/components/testimonials/Testimonial";

export async function getStaticPaths() {
	const builds = await getCollection("builds");

	return builds.map((build) => ({
		params: { build: build.id },
		props: { build },
	}));
}

// content
const { build } = Astro.props;

const imageCols = build.data.images.gallery.length >= 9 ? `grid-cols-1 md:grid-cols-3` : `grid-cols-1 md:grid-cols-2`; // based on the total number of images, how many columns are needed
const remainder = build.data.images.gallery.length >= 9 ? build.data.images.gallery.length % 3 : build.data.images.gallery.length % 2;
const colSpan = build.data.images.gallery.length >= 9 ? 4 - remainder : 3 - remainder;
const colWidth = 450;
---

<Layout title={`Custom ${build.data.title} Built by THOR Off-Road`}>
	<div class="bg-torch-red-600 text-white section section-small">
		<Container classes="space-y-4">
			<h1 class="text-balance uppercase font-bold text-center lg:text-left lg:max-w-3xl">{build.data.title}</h1>

			<div class="flex flex-col items-center sm:flex-row gap-4 justify-center lg:justify-start">
				<div>Completed {timeAgo(build.data.date)}</div>
				<div class="hidden sm:block">&middot;</div>
				<a href={`builds?buildMake=${build.data.vehicle.make.slug}&buildModel=${build.data.vehicle.model.slug}`} class="font-semibold hover:underline">More {build.data.vehicle.model.title} Builds &gt;</a>
			</div>
		</Container>
	</div>

	<Map classes="bg-rock-200 section section-small" theme="dark" opacity={0.02}>
		<Container classes="space-y-8">
			<div class="grid grid-cols-6 grid-rows-2 gap-4 sm:gap-8 h-full md:h-[40vh] lg:h-[700px] gallery">
				<Picture
					src={build.data.images.featured.url}
					class:list={["w-full h-full object-cover row-span-2 rounded shadow-2xl", build.data.images.gallery && build.data.images.gallery.length >= 9 ? "col-span-6 md:col-span-4" : "col-span-6"]}
					loading="eager"
				/>
				{
					build.data.images.gallery.length >= 9 && (
						<>
							<Picture src={build.data.images.gallery[0].url} class="object-cover w-full h-full rounded shadow-2xl col-span-3 md:col-span-2" loading="eager" />
							<Picture src={build.data.images.gallery[1].url} class="object-cover w-full h-full rounded shadow-2xl col-span-3 md:col-span-2" loading="eager" />
						</>
					)
				}
			</div>
		</Container>
	</Map>

	<Map classes="bg-rock-900 section section-small space-y-24" theme="light" opacity={0.02}>
		<Container classes="space-y-8">
			<div class="grid grid-cols-5 gap-4 lg:gap-8">
				<div class="col-span-5 md:col-span-2 w-full h-full">
					<div class="sticky top-36 space-y-8">
						<div class="bg-rock-800 px-8 py-12 rounded">
							<div class="space-y-12">
								{
									build.data.goals && (
										<div class="space-y-6">
											<div class="uppercase text-4xl font-alt font-medium text-white">Summary</div>
											<div class="space-y-6 text-lg leading-loose text-rock-100" set:html={build.data.goals} />
										</div>
									)
								}

								<div class="space-y-4">
									<div class="uppercase text-4xl font-alt font-medium text-white"><strong>Parts</strong> List</div>
									<div class="space-y-2 text-sm md:text-xs lg:text-base text-rock-100">
										{build.data.installed_parts.map((p) => <div>{p.part}</div>)}
									</div>
								</div>

								<!-- {
									build.testimonials.length > 0 && (
										<div class="text-base space-y-4">
											<Testimonial content={build.testimonials[0]} />
										</div>
									)
								} -->

								<!-- {
									buildData.data.video && (
										<div class="align-self-end flex-none">
											<a
												href={getMedia(`images/builds/${buildData.id}/${buildData.data.video.filename}.mp4`)}
												data-sources={`[{"src":"${getMedia(`images/builds/${buildData.id}/${buildData.data.video.filename}.mp4`)}", "type": "video/mp4" }]`}
												data-width={buildData.data.video.width}
												data-height={buildData.data.video.height}
												class="video text-xs sm:text-sm flex items-center font-medium gap-2"
											>
												<span>
													Watch the
													<br />
													Build Video
												</span>
												<Icon icon="hero/PlayCircleFill" class="h-6 sm:h-10" />
											</a>
										</div>
									)
								} -->
							</div>
						</div>

						<div class="bg-chathams-blue-600 text-white px-8 py-12 rounded">
							<div class="hidden lg:block space-y-8">
								<div class="uppercase text-4xl font-alt font-medium">Let's <strong>Get Started</strong></div>
								<div class="leading-relaxed">
									There are endless options for your {build.data.vehicle.model.title} and we can help design, build and install everthing needed for your adventure. Give us a call or e-mail and let's get started today!
								</div>
								<a href="/contact" class="button button-secondary justify-center">Build Your {build.data.vehicle.model.title}!</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-span-5 md:col-span-3">
					<div class:list={[`grid gap-4 lg:gap-8 gallery`, imageCols]}>
						{
							build.data.images.gallery.length < 4 &&
								build.data.images.gallery.map((i, index, arr) => {
									return <Picture src={i.url} class:list={["w-full h-full object-cover rounded shadow-2xl col-span-2"]} sizes="1000px" />;
								})
						}

						{
							numberBetween(build.data.images.gallery.length, 4, 8) &&
								build.data.images.gallery.map((i, index, arr) => {
									return (
										<Picture
											src={i.url}
											class:list={["w-full h-full object-cover rounded shadow-2xl", remainder !== 0 && index + 1 === arr.length ? `col-span-${colSpan}` : `aspect-square`]}
											sizes={remainder !== 0 && index + 1 === arr.length ? `${colSpan * colWidth}px` : `${colWidth}px`}
										/>
									);
								})
						}

						{
							build.data.images.gallery.length >= 9 &&
								build.data.images.gallery.map((i, index, arr) => {
									return (
										<Picture
											src={i.url}
											class:list={["w-full h-full object-cover rounded shadow-2xl", remainder !== 0 && index + 1 === arr.length ? `col-span-${colSpan}` : `aspect-square`]}
											sizes={remainder !== 0 && index + 1 === arr.length ? `${colSpan * colWidth}px` : `${colWidth}px`}
										/>
									);
								})
						}
					</div>
				</div>
			</div>
		</Container>
	</Map>
</Layout>
