---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Container from "../../components/Container.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingSplit from "@/components/content/headings/HeadingSplit";
import HeadingBottom from "@/components/content/headings/HeadingBottom";
import Gallery from "../../components/images/Gallery.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// images
import { getBuildImage } from "../../functions/Image";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allBuilds = await getCollection("builds");
    return allBuilds.map((build) => ({
        params: { build: build.slug },
        props: { build },
    }));
}
const { build } = Astro.props;
const { Content } = await build.render();

// functions
import { timeAgo } from "@/functions/DateTime";
---

<Layout>
    <Section>
        <Container>
            <FlexColumn float={true} reverse={false}>
                <div slot="left" class="flex flex-col gap-8">
                    <div class="h-full divide-y divide-stone-200 buildSidebar">
                        <h1>{`${build.data.year} ${build.data.make} ${build.data.model} ${build.data.trim}`}</h1>

                        {
                            build.data.goals && (
                                <div class="space-y-4">
                                    <p class="font-semibold text-2xl">Build Goals</p>
                                    <div class="mt-4 text-base md:text-lg leading-7 md:leading-8 tracking-tight text-stone-700 space-y-6" set:html={build.data.goals} />
                                </div>
                            )
                        }

                        {
                            build.data.parts && (
                                <div class="space-y-4">
                                    <p class="font-semibold text-2xl">Parts List</p>
                                    <ul class="space-y-1 text-base tracking-tight">
                                        {build.data.parts.map((p) => (
                                            <li>{p}</li>
                                        ))}
                                    </ul>
                                </div>
                            )
                        }

                        {
                            build.data.testimonial && (
                                <div class="space-y-8">
                                    <div class="flex justify-between items-center">
                                        <p class="font-semibold text-2xl">Testimonial</p>

                                        <div class="flex items-center">
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                        </div>
                                    </div>

                                    <blockquote class="italic text-lg leading-8 tracking-tight text-stone-700">"{build.data.testimonial}"</blockquote>
                                </div>
                            )
                        }

                        {
                            build.data.video && (
                                <a href="#" class="flex gap-3">
                                    <Icon name="hero/PlayCircle" class="text-stone-700 h-6" />
                                    <span class="text-stone-800 font-medium">Watch the Build Video</span>
                                </a>
                            )
                        }
                    </div>
                </div>

                <Gallery>
                    <div class="space-y-8">
                        <div class="flex justify-between text-stone-500 text-sm uppercase">
                            <div class="flex flex-row gap-6">
                                <div>Color: {build.data.color}</div>
                                <div>Drive: {build.data.drive}</div>
                                <div>Completed: {timeAgo(build.data.date)}</div>
                            </div>

                            <div>
                                <a href="/builds">&lt; Back to Builds</a>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-8">
                            <Content />
                        </div>
                    </div>
                </Gallery>
            </FlexColumn>
        </Container>
    </Section>
</Layout>
