---
import Layout from "@/layouts/Layout";

// imports
import { getBuildImage } from "@/functions/Image";
import { getMedia } from "@/functions/Image";
import { Icon } from "astro-icon";
import { timeAgo } from "@/functions/DateTime";

import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Picture from "@/components/images/Picture";
import Pill from "@/components/Pill";
import RelatedBuild from "@/components/builds/RelatedBuild";
import Section from "@/components/Section";

import JamComments from "@jam-comments/astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allBuilds = await getCollection("builds");
    return allBuilds.map((build) => ({
        params: { build: build.slug },
        props: { build },
    }));
}
const { build } = Astro.props;
const { Content } = await build.render();
---

<Layout>
    <Picture src={getBuildImage(build.data.id, build.data.images.banner)} alt={build.data.summary} loading="eager" class="w-full h-[30vh] object-cover" />

    <Section small={true}>
        <Container>
            <div class="grid grid-cols-3 gap-16">
                <div class="col-span-3 sm:col-start-2 sm:col-span-2 space-y-8">
                    <div class="flex flex-row gap-6 text-sm sm:text-base items-center text-stone-700">
                        <div>
                            Color: {build.data.color}
                        </div>

                        <div>
                            Drive: {build.data.drive}
                        </div>

                        <div>{timeAgo(build.data.date)}</div>
                    </div>

                    <h1 class="col-start-1 md:col-start-2 col-span-3 md:col-span-2" slot="heading">{`${build.data.year} ${build.data.make} ${build.data.model} ${build.data.trim}`}</h1>
                </div>

                <div class="col-span-3 md:col-span-1 h-full">
                    <div class="space-y-16 md:sticky md:top-32">
                        <div class="space-y-4">
                            <p class="font-semibold text-2xl">Parts List</p>
                            <ul class="space-y-2 text-sm tracking-tight">
                                {build.data.parts.map((p) => <li>{p}</li>)}
                            </ul>
                        </div>

                        {
                            build.data.testimonial && (
                                <div class="space-y-8">
                                    <div class="flex justify-between items-center">
                                        <p class="font-semibold text-2xl">Testimonial</p>

                                        <div class="flex items-center">
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                            <Icon name="hero/StarFill" class="w-5 text-yellow-400" />
                                        </div>
                                    </div>

                                    <blockquote class="italic leading-8 tracking-tight text-stone-700">"{build.data.testimonial}"</blockquote>
                                </div>
                            )
                        }

                        {
                            build.data.video && (
                                <div>
                                    <a
                                        href={getMedia(`images/builds/${build.data.id}/${build.data.video.filename}.mp4`)}
                                        data-sources={`[{"src":"${getMedia(`images/builds/${build.data.id}/${build.data.video.filename}.mp4`)}", "type": "video/mp4" }]`}
                                        data-width={build.data.video.width}
                                        data-height={build.data.video.height}
                                        class="button button-primary video">
                                        <div class="button-icon">
                                            <Icon name="hero/PlayCircle" class="h-6" />
                                        </div>
                                        <div class="button-text">Watch the Build Video</div>
                                    </a>
                                </div>
                            )
                        }

                        {
                            build.data.related && (
                                <div class="hidden sm:block space-y-6">
                                    <p class="font-semibold text-2xl">Related Builds</p>
                                    {build.data.related.map((b) => (
                                        <RelatedBuild slug={b} />
                                    ))}
                                </div>
                            )
                        }

                        <a href="#comments" class="button button-primary">
                            <div class="button-icon">
                                <Icon name="hero/ChatBubbleLeftRight" class="h-6" />
                            </div>
                            <div class="button-text">Join the Conversation</div>
                        </a>
                    </div>
                </div>

                <div class="md:col-start-2 col-span-3 md:col-span-2">
                    <div class="space-y-12">
                        {
                            build.data.goals && (
                                <div class="space-y-4">
                                    <p class="font-semibold text-2xl">Build Goals</p>
                                    <div class="mt-4 text-lg leading-8 tracking-tight text-stone-700 space-y-6" set:html={build.data.goals} />
                                </div>
                            )
                        }

                        <div class="space-y-4">
                            <Gallery>
                                <div class="grid grid-cols-12 gap-4 md:gap-6">
                                    <Content />
                                </div>
                            </Gallery>
                        </div>
                    </div>
                </div>

                <div class="md:col-start-2 col-span-3 md:col-span-2 space-y-4">
                    <a name="comments"></a>

                    <div class="font-semibold text-2xl">Leave a Comment</div>
                    <JamComments path={Astro.url} />
                </div>
            </div>
        </Container>
    </Section>
</Layout>
