---
import Layout from "../../layouts/Layout.astro";

// components
import Background from "../../components/content/Background.astro";
import Break from "../../components/Break.astro";
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Section from "../../components/Section.astro";
import Star from "../../components/vectors/icons/Star.astro";

// images
import build01 from "../../assets/images/builds/build01.jpg";
import build02 from "../../assets/images/builds/build02.jpg";
import build03 from "../../assets/images/builds/build03.jpg";
import build04 from "../../assets/images/builds/build04.jpg";
import build05 from "../../assets/images/builds/build05.jpg";
import build06 from "../../assets/images/builds/build06.jpg";
import build07 from "../../assets/images/builds/build07.jpg";
import build08 from "../../assets/images/builds/build08.jpg";
import build09 from "../../assets/images/builds/build09.jpg";
---

<Layout>
    <Background>
        <Section classes="relative z-10">
            <Container>
                <div class="grid grid-cols-1 gap-y-20 gap-x-24 xl:grid-cols-6">
                    <div class="col-span-2">
                        <div class="sticky top-48 space-y-12">
                            <div>
                                <p class="text-gray-500 mb-8"><a href="/builds">&larr; Back to Builds</a></p>
                                <h1>2015 Dodge RAM 2500</h1>

                                <ul class="text-gray-300 flex flex-row gap-4">
                                    <li>4x4</li>
                                    <li>Guards Red</li>
                                </ul>
                            </div>

                            <Break />

                            <h2 class="text-2xl font-medium text-white">Goals</h2>
                            <div class="mt-4 text-lg leading-8 text-gray-300 space-y-4">
                                <p>The Basic tee is an honest new take on a classic. The tee uses super soft, pre-shrunk cotton for true comfort and a dependable fit. They are hand cut and sewn locally, with a special dye technique that gives each tee it's own look.</p>
                                <p>Looking to stock your closet? The Basic tee also comes in a 3-pack or 5-pack at a bundle discount.</p>
                            </div>

                            <h2 class="text-2xl font-medium text-white">Parts List</h2>
                            <ul role="list" class="text-md leading-7 text-gray-300 list-inside list-disc">
                                <li>Only the best materials</li>
                                <li>Ethically and locally made</li>
                                <li>Pre-washed and pre-shrunk</li>
                                <li>Machine wash cold with similar colors</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-span-4">
                        <div class="space-y-4">
                            <div class="space-y-20">
                                <img src={build04.src} class="object-cover w-full h-full rounded-md shadow-2xl" />

                                <div class="grid grid-cols-3 gap-8">
                                    <img src={build07.src} class="object-cover w-full h-full rounded-md shadow-2xl" />
                                    <img src={build08.src} class="object-cover w-full h-full rounded-md shadow-2xl" />
                                    <img src={build09.src} class="object-cover w-full h-full rounded-md shadow-2xl" />
                                </div>

                                <div class="space-y-8">
                                    <blockquote class="col-span-3 italic text-3xl leading-relaxed text-white">"Building my off-road truck with Tom and his team at the auto shop was an incredible experience. Their expertise and attention to detail made all the difference. I couldn't be happier with the finished product and can't wait to see where it takes me on my next adventure."</blockquote>

                                    <div class="flex justify-between items-center">
                                        <div class="flex items-center">
                                            <Star classes="w-7 text-yellow-400" />
                                            <Star classes="w-7 text-yellow-400" />
                                            <Star classes="w-7 text-yellow-400" />
                                            <Star classes="w-7 text-yellow-400" />
                                            <Star classes="w-7 text-yellow-400" />
                                        </div>
                                        <p class="text-white font-semibold text-2xl">Nick H.</p>
                                    </div>
                                </div>

                                <div class="grid grid-cols-3 gap-8">
                                    <img src={build04.src} class="object-cover w-full h-full rounded-md object-[0%,50%] shadow-2xl" />
                                    <img src={build08.src} class="object-cover w-full h-full rounded-md shadow-2xl" />
                                    <img src={build03.src} class="object-cover w-full h-full rounded-md shadow-2xl" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </Container>
        </Section>
    </Background>
</Layout>
