---
import Layout from "../../layouts/Layout.astro";

// components
import Background from "@/components/content/Background";
import BuildFilter from "../../components/builds/BuildFilter.astro";
import BuildFilterListing from "../../components/builds/BuildFilterListing.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import BuildSnippetAlt from "@/components/builds/BuildSnippetAlt";
import Container from "../../components/Container.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingBase from "@/components/content/headings/HeadingBase";
import ListingGrid from "../../components/builds/BuildListing.astro";
import Picture from "@/components/images/Picture";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const allMakes = await getCollection("makes");
const allParts = await getCollection("parts");
---

<Layout>
    <Background>
        <Section small={true}>
            <Container>
                <h1 class="mb-16">THOR Off-Road Builds</h1>

                <FlexColumn float={true} reverse={true}>
                    <div slot="left" class="grid sm:grid-cols-2 lg:grid-cols-1 h-full gap-8 space-y-6 sm:space-y-0 lg:space-y-6">
                        <BuildFilterListing heading="Filter by Parts">
                            {
                                allParts.map((p) => (
                                    <BuildFilter href={`/builds/${p.slug}`}>
                                        <div class="space-y-2">
                                            <div class="text-base">{p.data.title}</div>
                                            <div class="text-xs line-clamp-2 text-stone-600">{p.data.descriptionShort}</div>
                                        </div>
                                    </BuildFilter>
                                ))
                            }
                        </BuildFilterListing>

                        <BuildFilterListing heading="Filter by Vehicle">
                            {allMakes.map((m) => <BuildFilter href={`/builds/${m.slug}`}>{m.data.title}</BuildFilter>)}
                        </BuildFilterListing>
                    </div>

                    <ListingGrid>
                        {allBuilds.map((b) => <BuildSnippet build={b} sizes="350px" classes="shadow rounded bg-white" />)}
                    </ListingGrid>
                </FlexColumn>
            </Container>
        </Section>
    </Background>
</Layout>
