---
import Layout from "../../layouts/Layout.astro";

// components
import BuildFilter from "../../components/builds/BuildFilter.astro";
import BuildFilterListing from "../../components/builds/BuildFilterListing.astro";
import BuildSnippetAlt from "@/components/builds/BuildSnippetAlt";
import Container from "../../components/Container.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import ListingGrid from "../../components/builds/BuildListing.astro";
import Pill from "@/components/buttons/Pill";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const allMakes = await getCollection("makes");
const allParts = await getCollection("parts");

const featuredBuild = allBuilds.filter(function (build) {
    return build.data.featured == true;
})[0];
---

<Layout>
    <Section>
        <Container>
            <FlexColumn float={true} reverse={false}>
                <div slot="left" class="grid sm:grid-cols-2 lg:grid-cols-1 h-full gap-8 space-y-6 sm:space-y-0 lg:space-y-6">
                    <BuildFilterListing heading="Filter by Parts">
                        {
                            allParts.map((p) => (
                                <BuildFilter href={`/builds/${p.slug}`}>
                                    <div class="space-y-2">
                                        <div class="text-base">{p.data.title}</div>
                                        <div class="text-xs line-clamp-2 text-stone-600">{p.data.descriptionShort}</div>
                                    </div>
                                </BuildFilter>
                            ))
                        }
                    </BuildFilterListing>

                    <BuildFilterListing heading="Filter by Vehicle">
                        {allMakes.map((m) => <BuildFilter href={`/builds/${m.slug}`}>{m.data.title}</BuildFilter>)}
                    </BuildFilterListing>
                </div>

                <div class="space-y-16">
                    <div class="space-y-8">
                        <h1>THOR Off-Road Builds</h1>
                        <p class="text-xl text-stone-700 leading-9 tracking-tight">
                            276 Tailwind features section allows you to describe the features of your product or company in a clear way. Various layouts of icons, graphics. 276 Tailwind features section allows you to describe the features of your product or company in a clear way. Various layouts of
                            icons, graphics.
                        </p>
                    </div>

                    <div class="space-y-8">
                        <div class="space-y-4">
                            <Pill>Featured Build</Pill>
                            <BuildSnippetAlt build={featuredBuild} sizes="50vw" description={true} classes="rounded h-[35em]" />
                        </div>

                        <ListingGrid>
                            {allBuilds.map((b) => <BuildSnippetAlt build={b} sizes="300px" description={false} classes="rounded bg-white h-[22em]" />)}
                        </ListingGrid>
                    </div>
                </div>
            </FlexColumn>
        </Container>
    </Section>
</Layout>
