---
import Layout from "@/layouts/Layout";

// imports
import BuildSnippet from "@/components/builds/BuildSnippet";
import Container from "@/components/Container";
import ListingGrid from "@/components/builds/BuildListing";
import Pill from "@/components/buttons/Pill";
import Section from "@/components/Section";

// content
import { getCollection } from "astro:content";
const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const allMakes = await getCollection("makes");
const allParts = await getCollection("parts");

const featuredBuild = allBuilds.filter(function (build) {
    return build.data.featured == true;
})[0];
---

<Layout>
    <Section small={true}>
        <Container>
            <div class="space-y-8">
                <div class="space-y-8 max-w-3xl">
                    <h1>THOR Off-Road Builds</h1>
                    <p class="space-y-4 text-xl leading-8">We're designing and building amazing vehicles each and every day. Browse through a small selection of our most recent finished builds.</p>
                </div>
            </div>
        </Container>

        <Container>
            <div class="space-y-8">
                <Pill theme="secondary">Featured Build</Pill>
                <div>
                    <BuildSnippet build={featuredBuild} featured={true} sizes="(min-width:640px) 50vw, (min-width:1024px) 25vw, 100vw" height="h-[50em]" />
                </div>
            </div>
        </Container>
    </Section>

    <Section small={true}>
        <Container>
            <div class="space-y-8">
                <div class="flex flex-row justify-between items-center py-6">
                    <div>Showing {allBuilds.length} Builds</div>

                    <form class="flex flex-row items-center gap-4">
                        <p class="font-semibold">Filters:</p>

                        <div class="space-y-2">
                            <select name="filterParts" id="filterParts" class="w-36">
                                Parts
                                {allParts.map((p) => <option value={`/builds/${p.slug}`}>{p.data.title}</option>)}
                            </select>
                        </div>

                        <div class="space-y-2">
                            <select name="filterMakes" id="filterMakes" class="w-36">
                                Vehicle
                                {allMakes.map((m) => <option value={`/builds/${m.slug}`}>{m.data.title}</option>)}
                            </select>
                        </div>
                    </form>
                </div>

                <div class="space-y-8">
                    <ListingGrid>
                        {allBuilds.map((b) => <BuildSnippet build={b} sizes="(min-width:640px) 50vw, (min-width:1024px) 25vw, 100vw" />)}
                    </ListingGrid>
                </div>
            </div>
        </Container>
    </Section>
</Layout>
