---
// components
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

// content
const allParts = await getCollection("parts");
const allVehicles = await getCollection("vehicles");
const allModels = await getCollection("models");

// config
import { Business } from "../../../config.js";

// images
import logo from "../../../assets/images/logo-black.png";
---

<div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- transparent background -->
    <div class="fixed inset-0 z-10 bg-gray-900/90" x-show="mobileMenu" x-cloak x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0"></div>

    <!-- menu -->
    <div
        class="fixed inset-y-0 right-0 z-20 w-full overflow-y-auto bg-white px-6 py-8 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
        x-cloak
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-200"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0"
        x-show="mobileMenu">
        <div class="flex items-center justify-between">
            <!-- logo -->
            <a href="/">
                <span class="sr-only">{Business.nameLong}</span>

                <Image src={logo.src} width={1079} height={336} alt={Business.nameLong} class="h-12 w-auto" />
            </a>

            <!-- close -->
            <button type="button" class="rounded-md text-gray-700 cursor-pointer" x-on:click={`mobileMenu = false`}>
                <span class="sr-only">Close menu</span>

                <Icon name="Close" class="h-6 w-6" />
            </button>
        </div>

        <div class="flow-root">
            <div class="divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                    <div class="-mx-3" x-data={`{ expandVehicles : true }`}>
                        <button x-on:click={`expandVehicles = !expandVehicles`} type="button" class="flex w-full items-center justify-between rounded-md py-2 pl-3 pr-3.5 text-base font-semibold leading-7" x-bind:class={`expandVehicles ? 'bg-gradient-to-l from-gray-50 to-gray-200' : 'hover:bg-gray-50'`} aria-controls="disclosure-1" aria-expanded="false">
                            Vehicles
                            <Icon name="Chevron" class="h-4 w-4 flex-none transition" x-bind:class={`expandVehicles ? 'rotate-180' : ''`} />
                        </button>

                        <!-- 'Product' sub-menu, show/hide based on menu state. --->
                        <div
                            class="mt-2 transition divide divide-gray-900"
                            id="disclosure-1"
                            x-show={`expandVehicles`}
                            x-cloak
                            x-transition:enter="transition ease-out duration-300"
                            x-transition:enter-start="opacity-0"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-200"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0">
                            {
                                allVehicles.map((v) => (
                                    <a href={`/vehicles/${v.slug}`} class="block py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900">
                                        {v.data.title}

                                        <ul class="comma-list line-clamp-1 text-xs font-light text-stone-500">
                                            {allModels.map((m) => {
                                                if (m.slug.includes(v.slug)) {
                                                    return <li>{m.data.title}</li>;
                                                }
                                            })}
                                        </ul>
                                    </a>
                                ))
                            }
                        </div>
                    </div>

                    <div class="-mx-3" x-data={`{ expandParts : false }`}>
                        <button x-on:click={`expandParts = !expandParts`} type="button" class="flex w-full items-center justify-between rounded-md py-2 pl-3 pr-3.5 text-base font-semibold leading-7" x-bind:class={`expandParts ? 'bg-gradient-to-l from-gray-50 to-gray-200' : 'hover:bg-gray-50'`} aria-controls="disclosure-2" aria-expanded="false">
                            Parts
                            <Icon name="Chevron" class="h-4 w-4 flex-none transition" x-bind:class={`expandParts ? 'rotate-180' : ''`} />
                        </button>

                        <!-- 'Product' sub-menu, show/hide based on menu state. --->
                        <div class="mt-2 space-y-2 transition" id="disclosure-2" x-show={`expandParts`} x-cloak x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0">
                            {
                                allParts.map((p) => (
                                    <a href="#" class="block rounded-md py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-100">
                                        {p.data.title}

                                        <ul class="comma-list line-clamp-1 text-xs font-light text-stone-500">
                                            {p.data.brands.map((b) => (
                                                <li>{b.title}</li>
                                            ))}
                                        </ul>
                                    </a>
                                ))
                            }
                        </div>
                    </div>
                    <div class="-mx-3">
                        <a href="#" class="flex w-full items-center justify-between rounded-md py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50">Builds</a>
                    </div>
                </div>

                <div class="py-6 flex justify-between">
                    <a href="/contact" class="-mx-3 block rounded-md py-2.5 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact Us</a>
                    <a href={`tel:${Business.phone}`} class="-mx-3 block rounded-md py-2.5 px-3 text-sm sm:text-base leading-7 text-gray-900 hover:bg-gray-50">{Business.phone}</a>
                </div>
            </div>
        </div>
    </div>
</div>
