---
import Layout from "@/layouts/Layout";

import { getCollection } from "astro:content";
import Container from "@/components/Container";
import Map from "@/components/backgrounds/Map";
import Model from "@/components/vehicles/Model";
import Picture from "@/components/images/Picture";

export async function getStaticPaths() {
	const makes = await getCollection("makes", ({ data }) => {
		return data.status == true;
	});

	return makes.map((make) => ({
		params: {
			id: make.id,
		},
		props: { make },
	}));
}

const { make } = Astro.props;
const models = await getCollection("models");
---

<Layout title={make.data.seo.title} description={make.data.seo.description}>
	<div class="bg-chathams-blue-600 section section-small">
		<Container>
			<div class="space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">We're the <strong>{make.data.title} Experts!</strong>!</h1>
				<div class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-4xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0" set:html={make.data.description.long} />
			</div>
		</Container>
	</div>

	<div class="section section-small bg-rock-200">
		<Container large={true}>
			<div class="gallery space-y-4 md:space-y-8">
				<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8">
					<Picture src={make.data.images.featured.url} alt="" class="object-cover w-full rounded shadow-2xl lg:h-[500px]" sizes="(min-width:1024px) 50vw, 100vw" />
					<Picture src={make.data.images.secondary.url} alt="" class="object-cover w-full rounded shadow-2xl lg:h-[500px]" sizes="(min-width:1024px) 50vw, 100vw" />
				</div>

				{
					make.data.images.gallery && (
						<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 md:gap-8">
							{make.data.images.gallery.map((image) => (
								<Picture src={image.url} alt="" class="w-full h-full object-cover rounded shadow-2xl aspect-square" sizes="(min-width:768px) 33vw, (min-width:1024px) 15vw, 50vw" />
							))}
						</div>
					)
				}
			</div>
		</Container>
	</div>

	<Map classes="bg-rock-900 section space-y-24" theme="light" opacity={0.02}>
		<Container classes="space-y-24">
			<h2 class="mx-auto text-center text-balance uppercase font-medium max-w-2xl text-white">Let's Build Your <strong>Dream {make.data.title}</strong></h2>

			<div class="grid grid-cols-5 gap-10 @container">
				<div class="col-span-5 lg:col-span-2 flex flex-col gap-y-6">
					<h5 class="uppercase text-white">We Sell & Install the Best</h5>

					<div class="space-y-8">
						<div class="space-y-8 leading-loose text-lg text-rock-100" set:html={make.data.description.short} />
					</div>

					<div>
						<a href="/contact" class="button button-primary w-fit">Build My {make.data.title}!</a>
					</div>
				</div>

				<div class="col-span-5 lg:col-span-3 grid grid-cols-1 @lg:grid-cols-2 gap-4 h-fit">
					{
						models.map((m) => {
							return m.data.make.slug == make.id && <Model make={make.id} model={m} />;
						})
					}
				</div>
			</div>
		</Container>
	</Map>
</Layout>
