---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allMakes = await getCollection("makes");
    return allMakes.map((make) => ({
        params: { make: make.slug },
        props: { make },
    }));
}
const { make } = Astro.props;

const allModels = await getCollection("models", ({ data }) => {
    return data.make.toLowerCase().includes(make.slug) && data.draft !== true;
});
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.make.includes(make.data.title);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// functions
import { closestNumber } from "../../functions/Misc";
const buildCount = closestNumber(allBuilds.length, 4, 8);
---

<Layout>
    <HeadingBase src={make.data.featured}>
        <h1 slot="heading">{make.data.title}</h1>
    </HeadingBase>

    <Background>
        <Section>
            <Container>
                <FlexColumn>
                    <div slot="left" class="space-y-12 p-8 bg-white rounded shadow h-full">
                        <h2>
                            We're <span class="italic">the</span>
                            {make.data.title} Experts
                        </h2>
                        <div class="leading-8 tracking-tight text-stone-700 space-y-6">
                            <p set:html={make.data.descriptionLong} />
                            <p set:html={make.data.descriptionPush} />
                        </div>
                    </div>

                    <div class="space-y-8">
                        {
                            allModels.map((m) => (
                                <div class="grid grid-cols-5 min-h-[250px] bg-white rounded shadow">
                                    <a href="/contact" class="w-full h-72 sm:h-full relative col-span-5 sm:col-span-2">
                                        <Picture src={m.data.featured} class="absolute h-full w-full object-cover col-span-2 rounded-l" sizes="500px" slot="picture" />
                                    </a>

                                    <div class="flex flex-col justify-center p-8 gap-y-3 col-span-5 sm:col-span-3">
                                        <h3 class="text-2xl font-semibold leading-6">{m.data.title}</h3>
                                        <div class="leading-6 text-stone-500 space-y-4" set:html={m.data.descriptionLong} />
                                        <div class="flex flex-col sm:flex-row justify-between items-center mt-2 gap-y-4">
                                            <a href="/contact" class="font-medium bg-blue-500 text-white rounded px-3 py-2 group-hover:bg-blue-400 transition duration-300 w-fit button button-secondary">
                                                Customize Your {m.data.title}
                                            </a>

                                            <a href={`/builds/${m.data.make.toLowerCase()}/${m.slug}`} class="hover:underline font-medium">
                                                See Builds
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </FlexColumn>

                {
                    allBuilds.length >= 4 && (
                        <div class="bg-white shadow px-8 py-12 rounded space-y-8 mt-8">
                            <h3>{make.data.title} Builds</h3>
                            <div class="col-span-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" classes="bg-stone-100 rounded" />).slice(0, buildCount)}</div>
                        </div>
                    )
                }
            </Container>
        </Section>
    </Background>
</Layout>
