---
import Layout from "../../layouts/Layout.astro";

// components
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Button from "../../components/buttons/Button.astro";
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Hover from "../../components/images/Hover.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";
import Surround from "../../components/content/Surround.astro";

// config
import { Business } from "../../config";

// content
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allMakes = await getCollection("makes");
    return allMakes.map((make) => ({
        params: { make: make.slug },
        props: { make },
    }));
}
const { make } = Astro.props;

const allModels = await getCollection("models", ({ data }) => {
    return data.make.toLowerCase().includes(make.slug) && data.draft !== true;
});
const allBuilds = await getCollection("builds", ({ data }) => {
    return data.make.includes(make.data.title);
});
---

<Layout>
    <div class="relative">
        <Picture src={make.data.featured} class="absolute inset-0 w-full h-full object-cover saturate-50" width={2000} height={2000} alt={``} />
        <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-black via-black/80 to-black/50"></div>

        <Section>
            <div class="relative">
                <HeadingBase heading={make.data.title} description={make.data.descriptionLong} />
            </div>

            {
                allBuilds.length >= 3 && (
                    <Container>
                        <div class="relative grid grid-cols-1 gap-12 xl:grid-cols-5">
                            <div class="col-span-2 flex flex-col space-y-8 justify-between">
                                <div class="space-y-6">
                                    <h3 class="text-white">Recent {make.data.title} Builds</h3>
                                    <p class="text-xl leading-8 text-neutral-400">
                                        We love showing off our work. We're proud of it and our customers love the finished product.{" "}
                                        <a href="/contact" title={`Contact ${Business.nameLong}`} class="hover:underline text-neutral-300">
                                            Let's start building your dream {make.data.title}
                                        </a>
                                        !
                                    </p>
                                </div>

                                <Button href={`/builds/${make.slug}`}>See Our {make.data.title} Builds</Button>
                            </div>

                            <div class="relative col-span-3 grid grid-cols-3 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="300px" />).slice(0, 3)}</div>
                        </div>
                    </Container>
                )
            }
        </Section>
    </div>

    <Background theme="secondary">
        <Section>
            <Container>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                    {allModels.map((m) => <Surround href={`/vehicles/${m.slug}`} content={m.data} title={m.data.title} />)}
                </div>
            </Container>
        </Section>
    </Background>
</Layout>
