---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import ImageOverlay from "../../components/content/headings/ImageOverlay.astro";
import Link from "../../components/buttons/Link.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allMakes = await getCollection("makes");
    return allMakes.map((make) => ({
        params: { make: make.slug },
        props: { make },
    }));
}
const { make } = Astro.props;

const allModels = await getCollection("models", ({ data }) => {
    return data.make.toLowerCase().includes(make.slug) && data.draft !== true;
});
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.make.includes(make.data.title);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// functions
import { closestNumber } from "../../functions/Misc";
const buildCount = closestNumber(allBuilds.length, 4, 8);
---

<Layout>
    <ImageOverlay>
        <Picture slot="image" src={make.data.featured} class="absolute inset-0 w-full h-full object-cover saturate-50" width={2000} height={2000} alt={``} />
        <Container>
            <div class="flex justify-center items-center">
                <Icon name={`makes/${make.data.title}`} class="h-16 text-white" />
            </div>
        </Container>
    </ImageOverlay>

    <Background>
        <Section>
            <Container>
                <FlexColumn float={true}>
                    <div slot="left" class="space-y-12">
                        <h2>
                            We're <span class="italic">the</span>
                            {make.data.title} Experts
                        </h2>
                        <div class="leading-8 tracking-tight text-stone-700 space-y-6">
                            <p set:html={make.data.descriptionLong} />
                            <p set:html={make.data.descriptionPush} />
                        </div>
                    </div>

                    <div class="space-y-8">
                        {
                            allModels.map((m) => (
                                <div class="grid grid-cols-5 min-h-[250px] bg-white rounded shadow">
                                    <div class="w-full h-full relative col-span-2">
                                        <Picture src={m.data.featured} class="absolute h-full w-full object-cover col-span-2 rounded-l" sizes="500px" slot="picture" />
                                    </div>

                                    <div class="flex flex-col justify-center p-8 gap-y-3 col-span-3">
                                        <h3 class="text-2xl font-semibold leading-6">{m.data.title}</h3>
                                        <div class="leading-6 text-stone-500 space-y-4" set:html={m.data.descriptionLong} />
                                        <div class="flex justify-between">
                                            <a href="/contact" class="font-medium text-blue-500 hover:underline">
                                                Customize Your {m.data.title} &gt;
                                            </a>

                                            <a href={`/builds/${m.data.make.toLowerCase()}/${m.slug}`} class="hover:underline">
                                                See Builds
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </FlexColumn>
            </Container>

            {
                allBuilds.length >= 4 && (
                    <Container>
                        <div class="col-span-3 grid grid-cols-4 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" />).slice(0, buildCount)}</div>
                    </Container>
                )
            }
        </Section>
    </Background>
</Layout>
