---
// layouts
import Layout from "@/layouts/Layout";

// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";
import Hero from "@/components/Hero";
import Link from "@/components/buttons/Link";
import Photo from "@/components/images/Photo";

// content
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allVehicleMakes = await getCollection("vehicles");

    return allVehicleMakes.map((entry) => ({
        params: { make: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;

const allVehicleModels = await getCollection("models", ({ slug }) => {
    return slug.includes(entry.slug);
});
---

<Layout title={entry.data.seoTitle} description={entry.data.seoDescription}>
    <Hero image={entry.data.featured} title={entry.data.title} />
    <div class="relative py-16 md:py-24">
        <Icon name={entry.data.logo} class="absolute -bottom-[3%] right-0 w-[450px] md:w-[850px] h-auto text-stone-100/70" />

        <Container classes="relative">
            <div class="max-w-3xl space-y-8">
                <h1 class="text-stone-800">{entry.data.heading}</h1>
                <p class="text-xl leading-9 text-stone-600">
                    {entry.data.descriptionLong}
                </p>
            </div>
        </Container>
    </div>

    <div class="bg-stone-100 py-16 md:py-24">
        <Container classes="space-y-16 md:space-y-24">
            {
                allVehicleModels.map((m) => (
                    <div>
                        <div>
                            <div class="relative flex flex-col gap-4 rounded-sm bg-white p-6 md:flex-row md:items-center md:gap-12">
                                <h2 class="min-w-fit text-stone-700">{m.data.title}</h2>
                                <div class="text-stone-600 md:text-lg">{m.data.description}</div>
                            </div>
                            {m.data.featured ? (
                                <Photo src={m.data.featured} class="col-span-3 h-[300px] w-full object-cover shadow-2xl md:h-[600px]" />
                            ) : (
                                ``
                            )}
                        </div>

                        <div class="flex flex-col md:flex-row md:items-center md:bg-none">
                            <div class="md:ml-auto">
                                <Link
                                    text={`Customize Your ${m.data.title}!`}
                                    href="/contact"
                                    classes="w-full md:w-fit text-yellow-900 text-xl whitespace-nowrap bg-yellow-500 py-5 px-6"
                                />
                            </div>
                        </div>
                    </div>
                ))
            }
        </Container>
    </div>
</Layout>
