---
// layouts
import Layout from "@/layouts/Layout";

// components
import { Icon } from "astro-icon";
import Container from "@/components/Container";
import Hero from "@/components/Hero";
import Link from "@/components/buttons/Link";
import Photo from "@/components/images/Photo";

// functions
import { getImage } from "@/functions/Media";
import { getModels } from "@/functions/Vehicles";

export async function getStaticPaths() {
    const vehicles = await Astro.glob("../../data/vehicles/*.json");

    return vehicles.map((v) => ({
        params: { make: v.slug },
        props: v,
    }));
}

const { make } = Astro.params;
const { title, heading, descriptionLong, featured, logo } = Astro.props;

const models = await getModels(make);
---

<Layout>
    <Hero image={featured} title={title} />

    <!-- summary -->
    <div class="bg-white py-40 relative">
        <Icon name={logo} class="absolute -bottom-[3%] right-0 w-[850px] h-auto text-stone-100" />

        <Container>
            <div class="space-y-52">
                <div class="max-w-3xl space-y-8">
                    <h1 class="text-stone-800">{heading}</h1>
                    <p class="text-stone-600 text-xl leading-9">
                        {descriptionLong}
                    </p>
                </div>
            </div>
        </Container>
    </div>

    <!-- model listing -->
    <div class="bg-stone-100 py-40 relative overflow-hidden">
        <Container classes="relative space-y-40">
            {
                models.map((m) => (
                    <div>
                        <div>
                            <div class="relative mb-8 flex gap-12">
                                <div class="flex min-w-fit items-start">
                                    <h2 class="text-stone-700">{m.title}</h2>
                                </div>
                                <div class="text-lg text-stone-600">{m.description}</div>
                            </div>

                            <Photo src={m.featured} width={1300} height={600} classes="col-span-3 h-[600px] object-cover shadow-2xl" />
                        </div>

                        <div class="flex items-center">
                            <div class="w-full text-lg font-light italic text-stone-700">{getImage(m.featured).title}</div>

                            <div class="bg-yellow-500 py-5 px-6">
                                <Link text={`Customize Your ${m.title}!`} href="/contact" classes="text-yellow-900 text-xl whitespace-nowrap" />
                            </div>
                        </div>
                    </div>
                ))
            }
        </Container>
    </div>
</Layout>
