---
import Layout from "../../layouts/Layout.astro";

// components
import BuildSnippetAlt from "@/components/builds/BuildSnippetAlt";
import Button from "@/components/buttons/Button";
import Container from "../../components/Container.astro";
import HeadingSplit from "@/components/content/headings/HeadingSplit";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allMakes = await getCollection("makes");
    return allMakes.map((make) => ({
        params: { make: make.slug },
        props: { make },
    }));
}
const { make } = Astro.props;

const allModels = await getCollection("models", ({ data }) => {
    return data.make.toLowerCase().includes(make.slug) && data.draft !== true;
});
const allBuilds = (
    await getCollection("builds", ({ data }) => {
        return data.make.includes(make.data.title);
    })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// functions
import { closestNumber } from "../../functions/Misc";
const buildCount = closestNumber(allBuilds.length, 4, 8);
---

<Layout>
    <HeadingSplit>
        <Picture src={make.data.featured} alt=`${make.data.title} Outfitting in Austin, TX` slot="background" sizes="50vw" class="rounded-r-lg" />

        <div class="space-y-8">
            <h1>We're <i>the</i>&nbsp;{make.data.title} Experts</h1>
            <div set:html={make.data.descriptionLong} class="text-xl text-stone-700 leading-9 tracking-tight" />
            <div set:html={make.data.descriptionPush} class="text-xl text-stone-700 leading-9 tracking-tight" />
        </div>
    </HeadingSplit>

    <Section>
        <Container>
            <div class="grid grid-cols-6 gap-8">
                <div class="col-span-4 grid grid-cols-2 gap-8">
                    {
                        allModels.map((m) => (
                            <div class="group flex flex-col justify-between border border-stone-300 rounded-lg">
                                <div class="h-full p-8 flex flex-col gap-8 justify-between">
                                    <div class="space-y-5">
                                        <h3 class="text-2xl font-semibold leading-6">{m.data.title}</h3>
                                        <div class="leading-6 text-stone-500 space-y-8" set:html={m.data.descriptionLong} />
                                    </div>

                                    <Button theme="primary">Build Your {m.data.title}</Button>
                                </div>
                            </div>
                        ))
                    }

                    {allModels.length % 2 !== 0 && <div class="bg-white w-full h-full" />}
                </div>

                <div class="col-span-2 relative">
                    <Picture src={make.data.featuredAlt} class="absolute object-cover h-full w-full rounded-lg" />
                </div>
            </div>
        </Container>
    </Section>

    {
        allBuilds.length >= 4 && (
            <Section>
                <Container classes="space-y-16">
                    <h2 class="text-center">Recent {make.data.title} Builds</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">{allBuilds.map((b) => <BuildSnippetAlt build={b} sizes="400px" classes="h-[32em]" />).slice(0, buildCount)}</div>
                </Container>
            </Section>
        )
    }
</Layout>
