---
import Layout from "@/layouts/Layout";

import { getBuildImage } from "@/functions/Image";
import { getBuildDescription } from "@/functions/Content";
import { getCollection, getEntry } from "astro:content";
import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Icon from "@/components/Icon";
import Model from "@/components/content/snippets/Model";
import Picture from "@/components/images/Picture";
import Testimonial from "@/components/content/testimonials/Testimonial";

// content
const { slug } = Astro.params;
const make = await getEntry("makes", slug);

// if no entry slug found, return 404
if (!slug) return Astro.redirect("/404");

const allModels = await getCollection("models", ({ data }) => {
    return data.make.id === make.id;
});
const makeTestimonial = await getEntry(make.data.testimonial);
---

<Layout title={make.data.seo.title} description={make.data.seo.description}>
    <Picture
        src={getBuildImage(make.data.images.featured.id.id, make.data.images.featured.headline)}
        alt={getBuildDescription(make.data.images.featured.id.id)}
        loading="eager"
        class="header-single object-[50%,50%]"
    />

    <div class="-mt-20 section section-bottom">
        <Container padding={true}>
            <div class="grid grid-cols-2 sm:gap-4">
                <!-- black content area -->
                <div class="bg-black col-span-2 lg:col-span-1 text-white px-4 sm:px-8 py-8 space-y-8">
                    <h1 class="text-balance max-w-lg">{`We're the ${make.data.title} Experts!`}</h1>
                    <div class="text-base space-y-4" set:html={make.data.description.short} />

                    <!-- cta buttons -->
                    <div class="flex flex-col gap-4 sm:flex-row lg:flex-col xl:flex-row">
                        <a href="/contact" class="button button-primary !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/EnvelopeFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">Contact Us!</div>
                        </a>

                        <a href={`/builds/${make.data.title.toLowerCase()}`} class="button button-ghost !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/ArrowRightCircleFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">{make.data.title} Builds</div>
                        </a>
                    </div>
                </div>

                <div class="col-span-2 lg:col-span-1 flex justify-center px-4 py-6 sm:p-6 items-center bg-white">
                    <Testimonial content={makeTestimonial} />
                </div>
            </div>

            <Gallery>
                <div class="mt-4 grid md:grid-cols-3 gap-4">
                    {
                        make.data.images.featured.secondary.map((i) => (
                            <Picture
                                src={getBuildImage(make.data.images.featured.id.id, i)}
                                alt={getBuildDescription(make.data.images.featured.id.id)}
                                loading="eager"
                                class="object-cover w-full md:h-[15em] lg:h-[25em]"
                                sizes="(max-width: 640px) 100vw, 33vw"
                            />
                        ))
                    }
                </div>
            </Gallery>
        </Container>
    </div>

    <div class="bg-neutral-50 section">
        <Container>
            <div class="grid md:grid-cols-2 gap-10">
                <div class="flex flex-col justify-between gap-y-6">
                    <div class="space-y-8">
                        <h2 class="text-balance">Let THOR Off-Road Build Your Dream {make.data.title}</h2>
                        <div set:html={make.data.description.long} />
                    </div>

                    <div>
                        <a href="/contact" class="button button-ghost button-inverse">
                            <div class="button-text text-sm lg:text-base">Build Your {make.data.title}!</div>
                        </a>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-8">
                    {allModels.map((m) => <Model model={m} />)}
                </div>
            </div>
        </Container>
    </div>

    <Gallery>
        <div class="grid grid-cols-2 sm:grid-cols-4">
            {
                make.data.images.gallery &&
                    make.data.images.gallery.map((g) => (
                        <Picture src={getBuildImage(g.id.id, g.image)} alt={getBuildDescription(g.id.id)} class="aspect-square object-cover w-full h-full" sizes="(max-width: 640px) 50vw, 25vw" />
                    ))
            }
        </div>
    </Gallery>
</Layout>
