---
import Layout from "@/layouts/Layout";

import { Business } from "@/config";
import { getCollection } from "astro:content";

import Container from "@/components/Container";
import Gallery from "@/components/images/Gallery";
import Icon from "@/components/Icon";
import Picture from "@/components/images/Picture";

// content
const allMakes = await getCollection("makes");
const process = [
    {
        title: "We Know the Brands",
        description: "We love everything automotive and have decades of experience working on the top vehicle brands and platforms.",
    },
    {
        title: "We Know the Parts",
        description: "We only work with top manufacturers and have done the research and testing required to perfectly match parts for our off-road vehicle builds.",
    },
    {
        title: "What Are You Looking For?",
        description: "Our entire mission is to create purpose-built vehicles and we take the time to know you and the goals you have for your vehicle.",
    },
    {
        title: "Let's Build It!",
        description: "We match great design with high quality parts and professional installation to create the off-road or adventure vehicle of your dreams.",
    },
];
const vehicleFill = {
    title: "We Do It All!",
    description: {
        short: "We don't only work on trucks. If you've got a vehicle you're interested in modifying, why not give us a call or e-mail and see what we can do for you?",
    },
    icon: "hero/Envelope",
};
---

<Layout title="We're the Top Truck Outfitter and Carli Dealer in Texas">
    <Picture src="builds/215615/01.jpg" buildId={215615} alt="A modified RAM 3500 in Dripping Springs, TX" loading="eager" class="header-image object-[50%,50%]" />

    <div class="-mt-20 section section-bottom">
        <Container padding={true}>
            <div class="grid grid-cols-2 sm:gap-4">
                <!-- black content area -->
                <div class="bg-black col-span-2 lg:col-span-1 text-white box-spacing space-y-8">
                    <div class="space-y-8">
                        <h1>Texas' Top<br />Truck Outfitter</h1>
                        <p class="text-base">276 Tailwind features section allows you to describe the features of your product or company in a clear way. Various layouts of icons, graphics.</p>
                    </div>

                    <!-- cta buttons -->
                    <div class="flex flex-col gap-4 sm:flex-row lg:flex-col xl:flex-row">
                        <a href="/contact" class="button button-primary !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/WrenchScrewdriverFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">Build Your Truck</div>
                        </a>

                        <a href="/builds" class="button button-ghost !w-full">
                            <div class="button-icon">
                                <Icon icon="hero/ArrowRightCircleFill" class="h-2/5 w-auto" />
                            </div>
                            <div class="button-text">See Our Builds</div>
                        </a>
                    </div>
                </div>

                <div class="bg-white px-4 py-8 sm:px-6 grid grid-cols-1 md:grid-cols-2 gap-8 col-span-2 lg:col-span-1">
                    {
                        process.map((f, i) => (
                            <div class="space-y-2">
                                <div class="rounded-full w-5 h-5 p-3 text-xs flex justify-center items-center border border-black">{i + 1}</div>
                                <div class="text-base tracking-tight font-medium">{f.title}</div>
                                <div set:html={f.description} class="text-neutral-800 text-sm" />
                            </div>
                        ))
                    }
                </div>
            </div>
        </Container>
    </div>

    <div class="bg-neutral-50">
        <Container>
            <div class="section space-y-8">
                <h2>Recent THOR Builds</h2>

                <Gallery>
                    <div class="sm:space-y-4">
                        <div class="grid grid-cols-12 sm:gap-4">
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                        </div>
                        <div class="grid grid-cols-12 sm:gap-4">
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                            <Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Modified Ford Super Duty in Dripping Springs, TX" class="aspect-square object-cover w-full h-full col-span-3 object-bottom" sizes="(min-width: 768px) 50vw, 100vw" />
                        </div>
                    </div>
                </Gallery>

                <div class="flex flex-col sm:flex-row justify-between items-center gap-4">
                    <div class="button button-ghost button-inverse">
                        <div class="button-text">More Builds</div>
                    </div>

                    <p class="italic text-center sm:text-right text-sm">Call us today at <a href={`tel:${Business.phone.number}`}>{Business.phone.formatted} to <br /> get started on your custom build.</a></p>
                </div>
            </div>

            <div class="section section-bottom grid md:grid-cols-5 gap-10">
                <div class="md:col-span-2 flex flex-col justify-between gap-y-6">
                    <div class="space-y-8">
                        <h2>We're Building Our Customers' Dream Vehicles</h2>
                        <p>THOR is the premiere truck and off-road vehicle outfitter in Texas with the unique automotive knowledge, technical expertise, and deep customer insights to consistently deliver the truck or adventure vehicle of our customers' dreams.</p>
                    </div>

                    <div>
                        <a href="/contact" class="button button-ghost button-inverse">
                            <div class="button-text text-sm lg:text-base">Build Your Vehicle</div>
                        </a>
                    </div>
                </div>

                <div class="md:col-span-3 grid grid-cols-2 gap-8">
                    {
                        allMakes.map((m) => (
                            <div class="flex gap-4">
                                <div class="w-12 h-12 border-4 border-neutral-900 relative flex-none overflow-hidden flex justify-center items-center rounded-sm">
                                    <Icon icon={`makes/${m.data.title}Icon`} class="text-neutral-900 absolute w-16 h-auto -rotate-12" />
                                </div>

                                <div class="flex flex-col gap-2 relative">
                                    <div class="font-semibold">{m.data.title}</div>
                                    <div class="text-xs line-clamp-4">{m.data.description.short}</div>

                                    <a href={`/vehicles/${m.id}`} class="text-xs font-medium">
                                        <span class="absolute inset-0" />
                                        Read More &#x2192;{" "}
                                    </a>
                                </div>
                            </div>
                        ))
                    }
                    <div class="flex gap-4">
                        <div class="w-12 h-12 border-4 border-neutral-900 relative flex-none overflow-hidden flex justify-center items-center rounded-sm">
                            <Icon icon={vehicleFill.icon} class="text-neutral-900 absolute w-16 h-auto -rotate-12" />
                        </div>

                        <div class="flex flex-col gap-2 relative">
                            <div class="font-semibold">{vehicleFill.title}</div>
                            <div class="text-xs line-clamp-4">{vehicleFill.description.short}</div>

                            <a href={`/contact`} class="text-xs font-medium">
                                <span class="absolute inset-0"></span>
                                 Contact Us &#x2192;{" "}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</Layout>
