---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../components/content/headings/ImageOverlay.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";
import Surround from "../../components/content/Surround.astro";

// content
import { getCollection } from "astro:content";
const allMakes = await getCollection("makes");
const allModels = await getCollection("models");
const allBuilds = await getCollection("builds");

// content
const process = [
    {
        title: "We Know the Brands",
        description: "We love everything automotive and have decades of experience working on the top vehicle brands and platforms.",
    },
    {
        title: "We Know the Parts",
        description: "We only work with top manufacturers and have done the research and testing required to perfectly match parts for our off-road vehicle builds.",
    },
    {
        title: "What Are You Looking For?",
        description: "Our entire mission is to create purpose-built vehicles and we take the time to know you and the goals you have for your vehicle.",
    },
    {
        title: "We Build It",
        description: "We match great design with high quality parts and professional installation to create the off-road or adventure vehicle of your dreams.",
    },
];
const vehicleFill = {
    title: "Don't See Your Vehicle?",
    descriptionShort: "We don't only work on trucks. If you've got a vehicle you're interested in modifying, why not give us a call or e-mail and see what we can do for you?",
    featured: "vehicles/2021-11-26/utv_01.jpg",
};
---

<Layout>
    <ImageOverlay>
        <Picture slot="image" src="shop/2023-02-23/shop-shoot_01.jpg" alt="Ford F-250 Modified by THOR Off Road" class="absolute w-full h-full object-cover object-[50%,80%] rounded shadow-2xl" sizes="800px" />

        <div class="space-y-24">
            <HeadingBase heading="Texas' Top<br />Truck Outfitter" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione." />
        </div>
    </ImageOverlay>

    <Background theme="secondary">
        <Section>
            <Container>
                <div class="flex gap-20">
                    <div class="w-1/3 flex-none sticky top-44 h-full space-y-12">
                        <div class="space-y-12">
                            <h2>The <i>THOR Off-Road</i> Process</h2>
                            <div class="space-y-12">
                                {
                                    process.map((p) => (
                                        <div class="space-y-2">
                                            <p class="font-semibold text-2xl">{p.title}</p>
                                            <p class="text-lg text-stone-700">{p.description}</p>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </div>

                    <div class="space-y-32">
                        <div class="grid grid-cols-2 gap-8">
                            {
                                allMakes.map((v) => (
                                    <a href={`/vehicles/${v.slug}`} class="rounded bg-stone-100">
                                        <div class="bg-stone-600 h-20 flex justify-between items-center px-6">
                                            <Icon name={`makes/${v.data.title}`} class="text-stone-100 h-6 w-auto" />
                                            <Icon name="hero/ArrowRightCircle" class="text-stone-100 h-6" />
                                        </div>

                                        <Picture src={v.data.featured} class="h-56 w-full object-cover" />

                                        <div class="p-8 space-y-4">
                                            <div class="text-lg text-stone-900">{v.data.descriptionShort}</div>
                                            <ul class="comma-list line-clamp-1 text-sm text-stone-600 font-normal">
                                                {allModels.map((i) => {
                                                    if (i.data.make.toLowerCase().includes(v.slug)) {
                                                        return <li>{i.data.title}</li>;
                                                    }
                                                })}
                                            </ul>
                                        </div>
                                    </a>
                                ))
                            }
                            <a href={`/contact`} class="rounded bg-stone-100">
                                <div class="bg-stone-600 h-20 flex justify-between items-center px-6">
                                    <div class="text-2xl font-medium text-white">{vehicleFill.title}</div>
                                    <Icon name="hero/ArrowRightCircle" class="text-stone-100 h-6" />
                                </div>

                                <Picture src={vehicleFill.featured} class="h-56 w-full object-cover" />

                                <div class="p-8 space-y-4">
                                    <div class="text-lg text-stone-900">{vehicleFill.descriptionShort}</div>
                                </div>
                            </a>
                        </div>

                        <div class="space-y-12">
                            <h3 class="text-stone-900">Recent THOR Builds</h3>
                            <div class="col-span-3 grid grid-cols-3 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" />).slice(0, 9)}</div>
                        </div>
                    </div>
                </div>
            </Container>
        </Section>
    </Background>
</Layout>
