---
import Layout from "../../layouts/Layout.astro";

// components
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import Feature from "../../components/content/Feature.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../components/content/headings/ImageOverlay.astro";
import Link from "../../components/buttons/Link.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
const allMakes = await getCollection("makes");
const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const process = [
    {
        title: "We Know the Brands",
        description: "We love everything automotive and have decades of experience working on the top vehicle brands and platforms.",
    },
    {
        title: "We Know the Parts",
        description: "We only work with top manufacturers and have done the research and testing required to perfectly match parts for our off-road vehicle builds.",
    },
    {
        title: "What Are You Looking For?",
        description: "Our entire mission is to create purpose-built vehicles and we take the time to know you and the goals you have for your vehicle.",
    },
    {
        title: "We Build It",
        description: "We match great design with high quality parts and professional installation to create the off-road or adventure vehicle of your dreams.",
    },
];
const vehicleFill = {
    title: "Don't See Your Vehicle?",
    descriptionShort: "We don't only work on trucks. If you've got a vehicle you're interested in modifying, why not give us a call or e-mail and see what we can do for you?",
    featured: "vehicles/2021-11-26/utv_01.jpg",
};
---

<Layout>
    <ImageOverlay>
        <Picture slot="image" src="shop/2023-02-23/shop-shoot_01.jpg" alt="Ford F-250 Modified by THOR Off Road" class="absolute w-full h-full object-cover object-[50%,70%]" sizes="800px" />
        <HeadingBase heading="Texas' Top<br />Truck Outfitter" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione." />
    </ImageOverlay>

    <Section>
        <Container>
            <FlexColumn float={true}>
                <div slot="left" class="space-y-12">
                    <h2>Our Process</h2>
                    <div class="space-y-12">
                        {
                            process.map((p) => (
                                <div class="space-y-2">
                                    <p class="font-semibold text-2xl">{p.title}</p>
                                    <p class="text-base text-stone-700">{p.description}</p>
                                </div>
                            ))
                        }
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-8">
                    {
                        allMakes.map((v) => (
                            <Feature href={`/vehicles/${v.slug}`} classes="aspect-square pt-80 sm:pt-48 lg:pt-80">
                                <Picture src={v.data.featured} class="absolute inset-0 -z-10 h-full w-full object-cover" sizes="500px" slot="picture" />

                                <div class="flex flex-wrap items-center gap-y-3 text-gray-300">
                                    <h3 class="text-2xl font-semibold leading-6 text-white">{v.data.title}</h3>
                                    <div class="leading-6 text-stone-300 line-clamp-2">{v.data.descriptionShort}</div>
                                </div>
                            </Feature>
                        ))
                    }
                    <Feature href="/contact" classes="aspect-square pt-80 sm:pt-48 lg:pt-80">
                        <Picture src={vehicleFill.featured} class="absolute inset-0 -z-10 h-full w-full object-cover" sizes="500px" slot="picture" />

                        <div class="flex flex-wrap items-center gap-y-3 text-gray-300">
                            <h3 class="text-2xl font-semibold leading-6 text-white">{vehicleFill.title}</h3>
                            <div class="leading-6 text-stone-300 line-clamp-2">{vehicleFill.descriptionShort}</div>
                        </div>
                    </Feature>
                </div>
            </FlexColumn>

            <div class="bg-white p-8 pt-32">
                <div class="space-y-12">
                    <div class="flex justify-between items-center">
                        <h3 class="text-stone-900">Recent THOR Builds</h3>
                        <Link href="/builds" arrow={true}>See All Builds</Link>
                    </div>

                    <div class="col-span-3 grid grid-cols-4 gap-8">{allBuilds.map((b) => <BuildSnippet build={b} sizes="400px" />).slice(0, 8)}</div>
                </div>
            </div>
        </Container>
    </Section>
</Layout>
