---
import Layout from "@/layouts/Layout";

import { supabaseService } from "@/library/supabase";
import { getBuildImage } from "@/functions/Image";
import { getBuildDescription } from "@/functions/Content";
import { getCollection } from "astro:content";

import Container from "@/components/Container";
import FeatureGrid from "@/components/sections/FeatureGrid";
import Make from "@/components/vehicles/Make";
import Map from "@/components/backgrounds/Map";
import Picture from "@/components/images/Picture";
import StepsAlt from "@/components/sections/StepsAlt";

// content
const recentBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()).slice(0, 8);
const allMakes = await supabaseService.from("makes").select("*, models(title)").eq("status", true);
const process = [
	{
		title: "We Know the Brands",
		description: "We love everything automotive and have decades of experience working on the top vehicle brands and platforms.",
	},
	{
		title: "We Know the Parts",
		description: "We only work with top manufacturers and have done the research and testing required to perfectly match parts for our off-road vehicle builds.",
	},
	{
		title: "Build Goals",
		description: "Our entire mission is to create purpose-built vehicles and we take the time to know you and the goals you have for your vehicle.",
	},
	{
		title: "Let's Build It!",
		description: "We match great design with high quality parts and professional installation to create the off-road or adventure vehicle of your dreams.",
	},
];
const headlineImages = [
	{ src: getBuildImage("185376-2023-toyota-tundra", 5), alt: await getBuildDescription("185376-2023-toyota-tundra"), position: "md:object-[10%,75%] lg:object-[50%,75%]" },
	{ src: getBuildImage("692114-2023-ram-2500", 2), alt: await getBuildDescription("692114-2023-ram-2500"), position: "md:object-[50%,80%]" },
];
const vehicleFill = {
	title: "We Do It All!",
	description_short: "We don't only work on trucks. If you've got a vehicle you're interested in modifying, why not give us a call or e-mail and see what we can do for you?",
	logo: "hero/Envelope",
};
---

<Layout title="We're the Top Truck Outfitter and Carli Dealer in Texas">
	<div class="section section-small bg-chathams-blue-600">
		<Container>
			<div class="space-y-4 md:space-y-8 text-white">
				<h1 class="text-balance uppercase text-center lg:text-left lg:max-w-3xl">Texas' Top <strong>Truck Outfitter</strong></h1>
				<p class="text-base lg:text-xl text-balance md:!leading-relaxed lg:max-w-3xl text-center lg:text-left mx-auto md:max-w-2xl lg:mx-0">
					THOR is the premiere truck and off-road vehicle outfitter in Texas with the unique automotive knowledge, technical expertise, and deep customer insights to consistently deliver the truck or adventure vehicle of our customers'
					dreams.
				</p>

				<div class="flex flex-col md:flex-row gap-6 items-center justify-center lg:justify-start">
					<a href="/contact" class="button button-secondary">Build Your Truck!</a>
					<a href="/builds" class="font-medium">See Our Builds &gt;</a>
				</div>
			</div>
		</Container>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-4 md:grid-rows-2 gap-0 gallery md:min-h-[800px] md:h-[50vh]">
		<Picture src="shop/2023-02-23/shop-shoot_01.jpg" alt="Ford F-250 Super Duty in Dripping Springs, TX" class="md:col-span-2 w-full h-full object-cover object-[100%,75%] md:row-span-2" />
		{headlineImages.map((i) => <Picture src={i.src} alt={i.alt} class:list={["md:col-span-2 w-full h-full object-cover md:row-span-1", i.position]} />)}
	</div>

	<Map classes="bg-rock-100 section space-y-24">
		<Container classes="space-y-12">
			<div class="flex flex-col md:flex-row justify-between items-center">
				<h2 class="uppercase"><strong>Vehicles</strong></h2>
				<h6 class="uppercase text-balance font-semibold text-center text-lg lg:text-xl"><strong>Servicing</strong> Only the Best!</h6>
			</div>

			<FeatureGrid>
				{allMakes.data.map((m) => <Make make={m} />)}
				<Make make={vehicleFill} url="/contact" />
			</FeatureGrid>
		</Container>

		<div class="grid lg:grid-cols-2 gap-12 xl:gap-20 items-center">
			<Picture src="team/shop/thoroffroad-04.jpg" alt="THOR Off-Road Employee in Dripping Springs, TX" loading="eager" class:list={["w-full h-full object-cover lg:rounded-r shadow-lg"]} />

			<div class="px-8 lg:py-12 mx-auto lg:pl-0 lg:mx-0 md:max-w-2xl lg:pr-12 space-y-12">
				<h2 class="uppercase text-center lg:text-left">Our <strong>Process</strong></h2>

				<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-16 mx-auto max-w-4xl">
					{process.map((f, i) => <StepsAlt number={i + 1} title={f.title} description={f.description} />)}
				</div>
			</div>
		</div>
	</Map>
</Layout>
