---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import BuildSnippet from "../../components/builds/BuildSnippet.astro";
import Container from "../../components/Container.astro";
import Feature from "../../components/content/Feature.astro";
import FlexColumn from "../../components/content/FlexColumn.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import ImageOverlay from "../../components/content/headings/ImageOverlay.astro";
import Link from "../../components/buttons/Link.astro";
import Picture from "../../components/images/Picture.astro";
import Section from "../../components/Section.astro";

// content
import { getCollection } from "astro:content";
const allMakes = await getCollection("makes");
const allModels = await getCollection("models");
const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const process = [
    {
        title: "We Know the Brands",
        description: "We love everything automotive and have decades of experience working on the top vehicle brands and platforms.",
    },
    {
        title: "We Know the Parts",
        description: "We only work with top manufacturers and have done the research and testing required to perfectly match parts for our off-road vehicle builds.",
    },
    {
        title: "What Are You Looking For?",
        description: "Our entire mission is to create purpose-built vehicles and we take the time to know you and the goals you have for your vehicle.",
    },
    {
        title: "We Build It",
        description: "We match great design with high quality parts and professional installation to create the off-road or adventure vehicle of your dreams.",
    },
];
const vehicleFill = {
    title: "Don't See Your Vehicle?",
    descriptionShort: "We don't only work on trucks. If you've got a vehicle you're interested in modifying, why not give us a call or e-mail and see what we can do for you?",
    featured: "vehicles/2021-11-26/utv_01.jpg",
};
---

<Layout>
    <ImageOverlay>
        <Picture slot="image" src="shop/2023-02-23/shop-shoot_01.jpg" alt="Ford F-250 Modified by THOR Off Road" class="absolute w-full h-full object-cover object-[50%,70%]" sizes="800px" />
        <HeadingBase heading="Texas' Top<br />Truck Outfitter" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione." />
    </ImageOverlay>

    <Background>
        <Section>
            <Container>
                <FlexColumn float={true}>
                    <div slot="left" class="space-y-12">
                        <h2>Our Process</h2>
                        <div class="space-y-12">
                            {
                                process.map((p) => (
                                    <div class="space-y-2">
                                        <p class="font-semibold text-2xl">{p.title}</p>
                                        <p class="text-base text-stone-700">{p.description}</p>
                                    </div>
                                ))
                            }
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-8">
                        {
                            allMakes.map((v) => (
                                <a href={`/vehicles/${v.slug}`} class="bg-white rounded shadow group flex flex-col">
                                    <div class="w-full bg-blue-100 flex items-center p-8 rounded-t">
                                        <Icon name={`makes/${v.data.title}`} class="h-6 text-blue-500" />
                                    </div>

                                    <Picture src={v.data.featured} class="h-52 object-cover" sizes="350px" />

                                    <div class="space-y-6 p-6">
                                        <div class="leading-6 text-stone-500">{v.data.descriptionShort}</div>
                                        <div class="space-y-1">
                                            <span class="font-medium">Models</span>
                                            <ul class="comma-list line-clamp-1 text-sm text-stone-500 font-normal">
                                                {allModels.map((i) => {
                                                    if (i.data.make.toLowerCase().includes(v.slug)) {
                                                        return <li>{i.data.title}</li>;
                                                    }
                                                })}
                                            </ul>
                                        </div>
                                        <p class="font-medium text-blue-500 group-hover:underline">See More &gt;</p>
                                    </div>
                                </a>
                            ))
                        }
                        <a href="/contact" class="bg-white rounded shadow p-8 flex flex-col justify-center items-center">
                            <div class="space-y-4">
                                <h3 class="text-2xl font-semibold leading-6">{vehicleFill.title}</h3>
                                <div class="leading-6 text-stone-500">{vehicleFill.descriptionShort}</div>
                                <p class="font-medium text-blue-500 group-hover:underline">Contact Us &gt;</p>
                            </div>
                        </a>
                    </div>
                </FlexColumn>
            </Container>
        </Section>
    </Background>
</Layout>
