---
// layouts
import Layout from "@/layouts/Layout";

// components
import Container from "@/components/Container";
import Hero from "@/components/Hero";
import Photo from "@/components/images/Photo";

// content
import { getCollection } from "astro:content";

const allVehicleMakes = await getCollection("vehicles");
const processSteps = [
    {
        title: "We Know the Brands",
        description: "We love everything automotive and have decades of experience working on the top vehicle brands and platforms.",
    },
    {
        title: "We Know the Parts",
        description:
            "We only work with top manufacturers and have done the research and testing required to perfectly match parts for our off-road vehicle builds.",
    },
    {
        title: "Tell Us What You're Looking For",
        description:
            "Our entire mission is to create purpose-built vehicles and we take the time to know you and the goals you have for your vehicle.",
    },
    {
        title: "We'll Build Your Dream Vehicle",
        description:
            "We match great design with high quality parts and professional installation to create the off-road or adventure vehicle of your dreams.",
    },
];
const featuredImage = "vehicles/ram/2500/2103-2016-ram-2500-black/2016-ram-2500-black_041";
---

<Layout>
    <Hero image={featuredImage} title="Vehicles" />

    <Container classes="my-16 md:my-24 space-y-16 md:space-y-24">
        <div class="space-y-12">
            <h1 class="text-black">Our Process</h1>
            <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
                {
                    processSteps.map((s, count) => (
                        <div class="flex flex-col space-y-4">
                            <div class="flex flex-row items-center gap-4 md:items-start">
                                <div class="h-fit w-fit rounded-sm bg-red-500 p-3 text-xl text-white">{count + 1}</div>
                                <h3 class="text-black">{s.title}</h3>
                            </div>
                            <div class="space-y-4">
                                <p class="text-lg font-light text-neutral-800">{s.description}</p>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>

        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
            {
                allVehicleMakes.map((m) => (
                    <a href={`/vehicles/${m.slug}`} class="group relative h-full overflow-hidden shadow-xl">
                        <Photo
                            src={m.data.featured}
                            class="absolute h-full w-full object-cover shadow-xl saturate-50 transition duration-300 group-hover:scale-105 group-hover:saturate-100"
                        />
                        <div class="absolute h-full w-full bg-gradient-to-tr from-black/80 to-transparent" />

                        <div class="relative flex h-72 items-end justify-start p-10 text-stone-100">
                            <div class="flex w-3/4 flex-col">
                                <h3 class="text-stone-100">{m.data.title}</h3>
                                <div>{m.data.descriptionShort}</div>
                            </div>
                        </div>
                    </a>
                ))
            }
        </div>
    </Container>
</Layout>
