---
import Layout from "../../layouts/Layout.astro";

// components
import { Icon } from "astro-icon";
import Background from "../../components/content/Background.astro";
import Break from "../../components/Break.astro";
import Button from "../../components/buttons/Button.astro";
import Container from "../../components/Container.astro";
import HeadingBase from "../../components/content/headings/HeadingBase.astro";
import Link from "../../components/buttons/Link.astro";
import Section from "../../components/Section.astro";
import Steps from "../../components/content/headings/Steps.astro";

// content
import { getCollection } from "astro:content";
const allVehicles = await getCollection("vehicles");
const allModels = await getCollection("models");

// images
import header01 from "../../assets/images/header01.jpg";

// content
const process = [
    {
        title: "We Know the Brands",
        description: "We love everything automotive and have decades of experience working on the top vehicle brands and platforms.",
    },
    {
        title: "We Know the Parts",
        description: "We only work with top manufacturers and have done the research and testing required to perfectly match parts for our off-road vehicle builds.",
    },
    {
        title: "What Are You Looking For?",
        description: "Our entire mission is to create purpose-built vehicles and we take the time to know you and the goals you have for your vehicle.",
    },
    {
        title: "We Build Your Dream Vehicle",
        description: "We match great design with high quality parts and professional installation to create the off-road or adventure vehicle of your dreams.",
    },
];
---

<Layout>
    <Background>
        <Section>
            <HeadingBase heading="Texas' Top<br />Truck Outfitter" subheading="Our Process" description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione." />

            <Container>
                <div class="grid md:grid-cols-6 gap-12 items-center">
                    <div class="order-2 md:order-1 col-span-6 md:col-span-3 lg:col-span-2 space-y-12">
                        {process.map((p, i) => <Steps number={i + 1} heading={p.title} content={p.description} />)}
                    </div>

                    <div class="order-1 md:order-2 relative w-full h-72 md:h-full col-span-6 md:col-span-3 lg:col-span-4">
                        <img src={header01.src} alt="Two each of gray, white, and black shirts laying flat." class="absolute w-full h-full object-cover object-[50%,80%] rounded-md" />
                    </div>
                </div>
            </Container>
        </Section>

        <Container>
            <Break />
        </Container>

        <Section>
            <Container classes="grid grid-cols-1 lg:grid-cols-2 gap-12">
                {
                    allVehicles.map((v) => (
                        <div class="group bg-gray-700/30 grid md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-12 relative overflow-hidden rounded-md p-12">
                            <div class="z-10 flex flex-col justify-between gap-12">
                                <div class="space-y-4">
                                    <h3>{v.data.title}</h3>
                                    <p class="text-gray-200 text-lg">{v.data.descriptionShort}</p>

                                    <ul class="comma-list text-gray-400">
                                        {allModels.map((m) => {
                                            if (m.slug.includes(v.slug)) {
                                                return <li>{m.data.title}</li>;
                                            }
                                        })}
                                    </ul>
                                </div>

                                <div>
                                    <Button url={`/vehicles/${v.slug}`} theme="primary">
                                        Build Your Dream {v.data.title}
                                    </Button>
                                </div>
                            </div>

                            <div class="hidden z-10 md:flex lg:hidden xl:flex flex-col space-y-4 justify-between">
                                <h5 class="font-medium">Recent {v.data.title} Builds</h5>

                                <div class="grid grid-cols-3 gap-4">
                                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                                    <img src={header01.src} class="object-cover w-full h-full rounded-md shadow-xl aspect-square" />
                                </div>

                                <div class="place-self-end">
                                    <Link url={`/builds/${v.slug}`}>All {v.data.title} Builds</Link>
                                </div>
                            </div>

                            <Icon name={`vehicles/${v.data.logo}`} class="absolute -bottom-4 -right-16 text-gray-700/70 w-80 group-hover:w-96 transition-all duration-500" />
                        </div>
                    ))
                }
            </Container>
        </Section>
    </Background>
</Layout>
