---
// layouts
import Layout from "@/layouts/Layout";

// components
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import Contact from "@/components/Contact";
import Container from "@/components/Container";

// functions
import { getImage } from "@/functions/Media";

const { frontmatter } = Astro.props;

const heroImage = await getImage(frontmatter.hero);
---

<Layout title={frontmatter.name}>
    <div class="relative h-[600px] overflow-hidden">
        <Image src={heroImage.src} alt={heroImage.alt} width={2000} aspectRatio={heroImage.aspectRatio} class="absolute object-cover h-full w-full" />
        <Icon name={frontmatter.logo} class="absolute bottom-20 right-10 w-[700px] text-white/50 -rotate-[20deg]" />
    </div>

    <div class="bg-[#7d766e]">
        <Container>
            <div class="flex justify-between">
                <div class="flex flex-col">
                    <div class="text-white font-bold text-lg">{heroImage.title}</div>
                    <div class="text-white font-extralight">{heroImage.description}</div>
                </div>
            </div>
        </Container>
    </div>

    <Contact />
</Layout>
