---
// layouts
import Layout from "@/layouts/Layout";

// components
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import Container from "@/components/Container";
import Link from "@/components/buttons/LinkArrow";

// functions
//import { getMake } from "@/functions/Content";

// props
const { make, subtitle, description } = Astro.props;

// page data
//const makeData = getMake(make);
---

<Layout title={makeData.title}>
    <!-- headline image -->
    <div class="relative h-[600px]">
        <Image
            src={makeData.photo.src}
            alt={makeData.photo.alt}
            width={2000}
            aspectRatio={makeData.photo.aspectRatio}
            class="absolute object-cover h-full w-full"
        />
        <div class="inset-0 absolute bg-gradient-to-tr from-black/80 via-black/20 to-transparent"></div>
    </div>

    <!-- headline metadata -->
    <div class="bg-white py-5">
        <Container>
            <div class="flex gap-2 items-center text-sm">
                <Icon name="bi:arrow-up-square" class="w-3 text-stone-700" />
                <div class="text-stone-700 font-medium">{makeData.photo.title}</div>
                <span>//</span>
                <div class="text-stone-600 font-light">{makeData.photo.description}</div>
            </div>
        </Container>
    </div>

    <!-- summary -->
    <div class="bg-stone-200 py-28">
        <Container classes="relative">
            <Icon name="brands/manufacturers/ford" class="absolute -top-16 -right-32 w-[500px] h-auto text-stone-300/50" />

            <div class="flex justify-center relative">
                <div class="max-w-5xl grid grid-cols-2 items-center gap-12">
                    <div class="flex flex-col h-full justify-between items-end">
                        <h1 class="text-neutral-800 text-right">{subtitle}</h1>
                        <Link text="Ford Models" url="models" />
                    </div>

                    <p class="text-neutral-600 text-xl leading-9">{description}</p>
                </div>
            </div>
        </Container>
    </div>

    <!-- model listing -->
    <div class="bg-stone-300">
        <Container>
            {
                makeData.models.map((m) => (
                    <div class="space-y-12">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-stone-700">{m.title}</h1>
                            <div class="max-w-3xl text-stone-600">{m.description}</div>
                        </div>

                        <div class="relative grid grid-cols-3 gap-5">
                            <Icon name="tracks/tire-tracks_01" class="absolute inset-0 text-stone-300/90" />
                            <Image src={m.photo.src} alt={m.photo.alt} width={800} height={800} class="h-[600px] rounded-sm object-cover shadow-xl" />
                        </div>

                        <div class="flex justify-center">
                            <Link text="Customize Your Bronco!" url="/contact" />
                        </div>
                    </div>
                ))
            }
        </Container>
    </div>
</Layout>
