---
// layouts
import Layout from "@/layouts/Layout";

// components
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
import Breadcrumbs from "@/components/Breadcrumbs";
import Container from "@/components/Container";
import Link from "@/components/buttons/Link";
import Metadata from "@/components/images/Metadata";

// props
const { content, images, models } = Astro.props;
---

<Layout>
    <!-- headline image -->
    <div class="relative h-[600px]">
        <Image
            src={images.photo.src}
            alt={images.photo.alt}
            width={2000}
            aspectRatio={images.photo.aspectRatio}
            class="absolute object-cover h-full w-full"
        />

        <!-- bg -->
        <div class="inset-0 absolute bg-gradient-to-l from-black/80 via-black/20 to-transparent"></div>

        <!-- headline metadata -->
        <Metadata title={images.photo.title} description={images.photo.description} />
    </div>

    <Breadcrumbs path={Astro.url.pathname} />

    <!-- summary -->
    <div class="bg-white py-40 relative">
        <Icon name={images.logo} class="absolute -bottom-16 right-0 w-[850px] h-auto text-stone-400/20" />

        <Container>
            <div class="space-y-52">
                <div class="max-w-3xl space-y-8">
                    <h1 class="text-neutral-800">{content.subtitle}</h1>
                    <p class="text-neutral-600 text-xl leading-9">
                        {content.description}
                    </p>
                </div>
            </div>
        </Container>
    </div>

    <!-- model listing -->
    <div class="bg-stone-400 py-40 relative overflow-hidden">
        <Icon name="tracks/tire-tracks_05" class="absolute -top-20 -left-20 w-[800px] text-stone-500/20" />
        <Icon name="tracks/tire-tracks_03" class="absolute -bottom-20 -right-20 w-[800px] text-stone-500/20 rotate-90" />

        <Container classes="relative space-y-24">
            {
                models.map((m) => (
                    <div class="space-y-4">
                        <div>
                            <div class="relative flex">
                                <div class="flex min-w-fit items-center rounded-tl-sm bg-stone-200 px-8">
                                    <h2 class="text-neutral-700">{m.content.title}</h2>
                                </div>
                                <div class="col-span-2 rounded-tr-sm bg-stone-200/90 p-8 text-lg text-stone-600">{m.content.description}</div>
                            </div>

                            <Image
                                src={m.images.photo.src}
                                alt={m.images.photo.alt}
                                width={1300}
                                height={600}
                                class="col-span-3 h-[600px] rounded-sm object-cover shadow-2xl"
                            />
                        </div>

                        <div class="flex items-center justify-between">
                            <div class="text-lg font-light text-stone-200">{m.images.photo.title}</div>

                            <Link text={`Customize Your ${m.content.model}!`} href="/contact" classes="text-white text-xl" />
                        </div>
                    </div>
                ))
            }
        </Container>
    </div>
</Layout>
