---
import Layout from "@/layouts/Layout";

// imports
import BuildFilter from "@/components/builds/BuildFilter";
import BuildSnippet from "@/components/builds/BuildSnippet";
import Container from "@/components/Container";
import ListingGrid from "@/components/builds/BuildListing";
import Pagination from "@/components/Pagination";
import Section from "@/components/Section";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths({ paginate }) {
    const allParts = await getCollection("parts");
    const allBuilds = (await getCollection("builds")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    return allParts.flatMap((part) => {
        const filteredBuilds = allBuilds.filter((build) => build.data.categories.includes(part.slug));

        return paginate(filteredBuilds, {
            params: { part: part.slug },
            props: { part },
            pageSize: 8,
        });
    });
}
const { page, part } = Astro.props;
---

<Layout>
    <Section small={true}>
        <Container classes="space-y-16">
            <div class="max-w-3xl space-y-4">
                <h1>{part.data.title} Builds</h1>
                <p class="space-y-4 text-xl leading-8">{part.data.descriptionShort}</p>
            </div>

            <div class="flex justify-between items-center">
                <BuildFilter />

                <Pagination page={page} />
            </div>

            <ListingGrid>
                {page.data.map((b) => <BuildSnippet build={b} sizes="(min-width:640px) 50vw, (min-width:1024px) 25vw, 100vw" height="h-[15em]" />)}
            </ListingGrid>

            <div class="flex justify-between items-center">
                <div class="text-sm">Page {page.currentPage} of {page.lastPage}</div>

                <Pagination page={page} />
            </div>
        </Container>
    </Section>
</Layout>
