---
import Layout from "@/layouts/Layout";

// imports
import BuildFilter from "@/components/builds/BuildFilter";
import BuildFilterListing from "@/components/builds/BuildFilterListing";
import BuildSnippetAlt from "@/components/builds/BuildSnippetAlt";
import Container from "@/components/Container";
import FlexColumn from "@/components/content/FlexColumn";
import ListingGrid from "@/components/builds/BuildListing";
import Section from "@/components/Section";

// content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allParts = await getCollection("parts");
    return allParts.map((part) => ({
        params: { part: part.slug },
        props: { part },
    }));
}
const { part } = Astro.props;

const allBuilds = await getCollection("builds", ({ data }) => {
    return data.categories.includes(part.slug);
});

// aggregate the metadata
const allParts = await getCollection("parts");
const allMakes = await getCollection("makes");
---

<Layout>
    <Section small={true}>
        <Container>
            <FlexColumn reverse={true}>
                <div slot="left" class="grid sm:grid-cols-2 lg:grid-cols-1 h-full gap-8 space-y-6 sm:space-y-0 lg:space-y-6">
                    <BuildFilterListing heading="Filter by Parts">
                        {
                            allParts.map((p) => (
                                <BuildFilter href={`/builds/${p.slug}`} current={p.slug.includes(part.slug) ? true : false}>
                                    <div class="space-y-2">
                                        <div class="text-base">{p.data.title}</div>
                                        <div class="text-xs line-clamp-2 text-stone-600">{p.data.descriptionShort}</div>
                                    </div>
                                </BuildFilter>
                            ))
                        }
                    </BuildFilterListing>

                    <BuildFilterListing heading="Filter by Vehicle">
                        {allMakes.map((m) => <BuildFilter href={`/builds/${m.slug}`}>{m.data.title}</BuildFilter>)}
                    </BuildFilterListing>
                </div>

                <div class="space-y-16">
                    <h1>{part.data.title} Builds</h1>

                    <ListingGrid>
                        {allBuilds.map((b) => <BuildSnippetAlt build={b} sizes="350px" classes="h-[25em]" />)}
                    </ListingGrid>
                </div>
            </FlexColumn>
        </Container>
    </Section>
</Layout>
